[data-color-pref='light'] .sm-light-mode {
  display: none;
}

[data-color-pref='dark'] .sm-dark-mode {
  display: none;
}

.sm-show {
  display: flex;
}

.sm-hide {
  display: none;
}

.sm-navbar-saves {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: var(--border-color);
  opacity: 0;
  transition: opacity var(--transition);
  backdrop-filter: blur(20px);
}

.sm-show-saves {
  pointer-events: auto;
  opacity: 1;
}

body:has(.sm-show-saves) {
  position: fixed;
  inset: 0;
}

.sm-overflow-articles {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--surface-light);
  border-radius: var(--radius);
}

.sm-navbar-saves > button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-sizing: content-box;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  font-size: var(--x-small);
  line-height: 1;
  border-radius: 50%;
  transition: background-color var(--transition);
}

.sm-navbar-saves > button:where(:focus-visible, :hover) {
  background-color: var(--border-color-accent);
}

.sm-navbar-saves > button svg {
  width: inherit;
  height: inherit;
  fill: var(--element);
}
