html {
  height: 100%;
  font-family: var(--body-typeface);
  font-size: 1rem;
  font-size: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem);
  font-feature-settings: 'kern';
  font-kerning: normal;
  line-height: 1.5;
  color: var(--element);
  background-color: var(--surface);
  scroll-behavior: smooth;
  scroll-padding-block-start: 4rem;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:target::before {
  margin-inline-end: 0.25em;
  color: var(--primary);
  content: '➠';
}

::selection {
  color: #000;
  background-color: var(--primary-light);
}

.sm-zap {
  position: relative;
  color: var(--border-color);
  text-align: center;
}

.sm-grid > .sm-zap {
  grid-column: content;
}

.sm-zap::before,
.sm-zap::after {
  position: absolute;
  top: 50%;
  width: 48%;
  height: 1px;
  content: '';
}

.sm-zap::before {
  left: 0;
  background-image: linear-gradient(90deg, var(--border-color), transparent);
}

.sm-zap::after {
  right: 0;
  background-image: linear-gradient(-90deg, var(--border-color), transparent);
}
