@font-face {
  font-family: clash;
  font-style: normal;
  font-weight: 200 700;
  src: url('/assets/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('/assets/fonts/ClashDisplay-Variable.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: archivo;
  font-style: normal;
  font-weight: 100 900;
  src: url('/assets/fonts/Archivo-Variable.woff2') format('woff2'),
    url('/assets/fonts/Archivo-Variable.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: archivo-italic;
  font-style: italic;
  font-weight: 100 900;
  src: url('/assets/fonts/Archivo-VariableItalic.woff2') format('woff2'),
    url('/assets/fonts/Archivo-VariableItalic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: lora;
  font-style: normal;
  font-weight: 400 700;
  src: url('/assets/fonts/Lora[wght].woff2');
  font-display: swap;
}

@font-face {
  font-family: lora;
  font-style: italic;
  font-weight: 400 700;
  src: url('/assets/fonts/Lora-Italic[wght].woff2');
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
  font-family: var(--heading-typeface);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: var(--letter-spacing-contract);
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}
