{{^if @member}}
{{#if @site.members_enabled}}
{{^if @site.members_invite_only}}
<aside class='sm-cta-card'>
  <header class=''>
    <h2>Never miss an update!</h2>
    <p>Sign up for the newsletter</p>
  </header>

  <form data-members-form='subscribe'>
    <div class='success'>
      <p>Nice! Check your email for a sign in link ✅</p>
    </div>
    <div class='error'>
      <p>Oh, no. Something went wrong. Try again. 😖</p>
    </div>
    <div class='sm-inputs'>
      <input
        data-members-email
        type='email'
        placeholder='your email'
        required
      />
      <button class='sm-icon-button sm-default'><svg aria-hidden='true'><use
            href='#sm-mail-icon'
          ></use></svg>subscribe</button>
      <button class='sm-icon-button sm-loading'><svg aria-hidden='true'><use
            href='#sm-loading-icon'
          ></use></svg>loading</button>
      <button class='sm-icon-button sm-success'><svg aria-hidden='true'><use
            href='#sm-mail-check-icon'
          ></use></svg>success</button>
      <button class='sm-icon-button sm-error'><svg aria-hidden='true'><use
            href='#sm-error-icon'
          ></use></svg>error</button>
    </div>

  </form>
</aside>
{{/if}}
{{/if}}
{{/if}}
