<section class="sm-hero sm-grid">
    <div class="sm-hero-inner">
        <div class="sm-hero-left">
            
            <p class="sm-hero-subtitle">{{@custom.hero_title}}</p>
            <p class="sm-hero-description">{{@custom.hero_description}}</p>
        </div>

        <div class="sm-hero-right">
            <img class="sm-hero-img" src="{{img_url @custom.hero_image size="m"}}">
        </div>
    </div>
</section>