<div class='sm-nav-menu-container'>
  <button
    class='sm-nav-menu-close-button sm-circle-close-button'
    aria-label='close nav menu'
  >
    <svg aria-hidden='true'>
      <use href='#sm-close-icon'></use>
    </svg>
  </button>

  <div class='sm-nav-menu-navigation-container'>
    {{navigation}}

    <div class='sm-nav-menu-actions'>
      <button
        class='sm-circle-icon-button'
        data-ghost-search
        aria-label='search'
      >
        <svg aria-hidden='true'><use href='#sm-search-icon'></use></svg>
      </button>
      <button
        class='sm-circle-icon-button sm-dark-mode'
        aria-label='Turn on dark mode'
      >
        <svg aria-hidden='true'><use href='#sm-moon-icon'></use></svg>
      </button>
      <button
        sm-circle-icon-button
        class='sm-circle-icon-button sm-light-mode'
        aria-label='Turn on light mode'
      >
        <svg aria-hidden='true'><use href='#sm-sun-icon'></use></svg>
      </button>

      <button
        class='sm-circle-icon-button sm-saves-button'
        aria-label='Open saves menu'
      >
        <svg aria-hidden='true'>
          <use href='#sm-heart-outline-icon'></use>
        </svg>
      </button>

    </div>
    {{#if @site.members_enabled}}
      {{#if @member}}<button
          class='sm-button'
          data-portal='account'
        >Account</button>{{else}}<button
          class='sm-button'
          data-portal='signup'
        >Subscribe</button>
      {{/if}}
    {{/if}}
  </div>
</div>