<div class='sm-nav-menu sm-grid' id='sm-nav-menu'>

  <div class='sm-nav-menu-inner'>
    {{navigation}}

    <div class='sm-nav-menu-actions sm-flex-v'>
      <button class='sm-icon-button' data-ghost-search>
        <svg aria-hidden='true'><use href='#sm-search-icon'></use></svg>
        Search
      </button>
      <button class='sm-icon-button sm-dark-mode'>
        <svg aria-hidden='true'><use href='#sm-moon-icon'></use></svg>
        Dark mode
      </button>
      <button class='sm-icon-button sm-light-mode'>
        <svg aria-hidden='true'><use href='#sm-sun-icon'></use></svg>
        Light mode
      </button>

      {{#if @site.members_enabled}}
        {{#if @member}}<button class='sm-icon-button' data-portal='account'><svg
              aria-hidden='true'
            ><use href='#sm-person-icon'></use></svg>Account</button>{{else}}
          <button class='sm-icon-button' data-portal='signup'>
            <svg aria-hidden='true'><use href='#sm-mail-icon'></use></svg>
            Subscribe</button>
          <a href='#/portal/signin'>Login</a>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>