<section
  class='sm-playlist-grid'
  data-playlist-id='PLnPe3mrvTpEz3UTQTFGF0ZGZK01637Tk_'
>
  <div class='sm-playlist-text'>
    <h3><a
        href='https://music.youtube.com/playlist?list=PLnPe3mrvTpEz3UTQTFGF0ZGZK01637Tk_'
        target='_blank'
      >Keith was mistaken for dead</a></h3>
    <p>21 Tracks / 1 hour 24 minutes</p>
    <ol class='sm-playlist-page sm-playlist-active'>

      <li data-track='01' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='tjg7qrfLjMQ'
          data-idx='0'
          data-image-src='https://i.ytimg.com/vi/tjg7qrfLjMQ/maxresdefault.jpg'
          data-artist='Blondshell'
          data-title='Veronica Mars'
          data-timestamp='1:58'
          data-color='rgb(73,71,71)'
        >
          <span class='sm-playlist-item-title'>Veronica Mars</span>
          <span class='sm-playlist-item-artist'>Blondshell</span>
        </button>
      </li>
      <li data-track='02' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='10rLJjBLQZ8'
          data-idx='1'
          data-image-src='https://i.ytimg.com/vi/10rLJjBLQZ8/maxresdefault.jpg'
          data-artist='Sonic Youth'
          data-title='Teen Age Riot'
          data-timestamp='6:58'
          data-color='rgb(49,57,47)'
        >
          <span class='sm-playlist-item-title'>Teen Age Riot</span>
          <span class='sm-playlist-item-artist'>Sonic Youth</span>
        </button>
      </li>
      <li data-track='03' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='xOziunzZ7LI'
          data-idx='2'
          data-image-src='https://i.ytimg.com/vi/xOziunzZ7LI/maxresdefault.jpg'
          data-artist='Miya Folick'
          data-title='Bad Thing'
          data-timestamp='3:23'
          data-color='rgb(196,179,164)'
        >
          <span class='sm-playlist-item-title'>Bad Thing</span>
          <span class='sm-playlist-item-artist'>Miya Folick</span>
        </button>
      </li>
      <li data-track='04' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='HN-KHZ9NDVA'
          data-idx='3'
          data-image-src='https://i.ytimg.com/vi/HN-KHZ9NDVA/maxresdefault.jpg'
          data-artist='Slowdive'
          data-title='When the Sun Hits'
          data-timestamp='4:46'
          data-color='rgb(52,43,48)'
        >
          <span class='sm-playlist-item-title'>When the Sun Hits</span>
          <span class='sm-playlist-item-artist'>Slowdive</span>
        </button>
      </li>
      <li data-track='05' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='I2kzeJ0AT6o'
          data-idx='4'
          data-image-src='https://i.ytimg.com/vi/I2kzeJ0AT6o/maxresdefault.jpg'
          data-artist='Mamalarky'
          data-title='Shining Armor'
          data-timestamp='2:40'
          data-color='rgb(92,54,31)'
        >
          <span class='sm-playlist-item-title'>Shining Armor</span>
          <span class='sm-playlist-item-artist'>Mamalarky</span>
        </button>
      </li>
      <li data-track='06' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='u-qODPDJSno'
          data-idx='5'
          data-image-src='https://i.ytimg.com/vi/u-qODPDJSno/maxresdefault.jpg'
          data-artist='Molly Payton'
          data-title='Ruins'
          data-timestamp='3:01'
          data-color='rgb(22,56,70)'
        >
          <span class='sm-playlist-item-title'>Ruins</span>
          <span class='sm-playlist-item-artist'>Molly Payton</span>
        </button>
      </li>
      <li data-track='07' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='UNirnFd-96E'
          data-idx='6'
          data-image-src='https://i.ytimg.com/vi/UNirnFd-96E/maxresdefault.jpg'
          data-artist='Beach Fossils'
          data-title='Clash the Truth'
          data-timestamp='2:04'
          data-color='rgb(53,52,53)'
        >
          <span class='sm-playlist-item-title'>Clash the Truth</span>
          <span class='sm-playlist-item-artist'>Beach Fossils</span>
        </button>
      </li>
      <li data-track='08' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='fmrK-XjLaLs'
          data-idx='7'
          data-image-src='https://i.ytimg.com/vi/fmrK-XjLaLs/maxresdefault.jpg'
          data-artist='Beach House'
          data-title='Woo'
          data-timestamp='4:15'
          data-color='rgb(55,55,55)'
        >
          <span class='sm-playlist-item-title'>Woo</span>
          <span class='sm-playlist-item-artist'>Beach House</span>
        </button>
      </li>
      <li data-track='09' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='LCnBjPRfnD8'
          data-idx='8'
          data-image-src='https://i.ytimg.com/vi/LCnBjPRfnD8/maxresdefault.jpg'
          data-artist='Deerhunter'
          data-title='Cryptograms'
          data-timestamp='4:18'
          data-color='rgb(96,17,55)'
        >
          <span class='sm-playlist-item-title'>Cryptograms</span>
          <span class='sm-playlist-item-artist'>Deerhunter</span>
        </button>
      </li>
      <li data-track='10' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='2aL_zRZTNVA'
          data-idx='9'
          data-image-src='https://i.ytimg.com/vi/2aL_zRZTNVA/maxresdefault.jpg'
          data-artist='Michigander'
          data-title='The Other Way'
          data-timestamp='3:11'
          data-color='rgb(55,61,57)'
        >
          <span class='sm-playlist-item-title'>The Other Way</span>
          <span class='sm-playlist-item-artist'>Michigander</span>
        </button>
      </li>
      <li data-track='11' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='nepcMzPIFmc'
          data-idx='10'
          data-image-src='https://i.ytimg.com/vi/nepcMzPIFmc/maxresdefault.jpg'
          data-artist='Momma'
          data-title='Motorbike'
          data-timestamp='3:22'
          data-color='rgb(90,35,31)'
        >
          <span class='sm-playlist-item-title'>Motorbike</span>
          <span class='sm-playlist-item-artist'>Momma</span>
        </button>
      </li>
      <li data-track='12' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='A6M0yLxLCNA'
          data-idx='11'
          data-image-src='https://i.ytimg.com/vi/A6M0yLxLCNA/maxresdefault.jpg'
          data-artist='The Smashing Pumpkins'
          data-title='1979 (Remastered 2012)'
          data-timestamp='4:27'
          data-color='rgb(61,56,34)'
        >
          <span class='sm-playlist-item-title'>1979 (Remastered 2012)</span>
          <span class='sm-playlist-item-artist'>The Smashing Pumpkins</span>
        </button>
      </li>
      <li data-track='13' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='KLiDpOoLXpY'
          data-idx='12'
          data-image-src='https://i.ytimg.com/vi/KLiDpOoLXpY/maxresdefault.jpg'
          data-artist='Soccer Mommy'
          data-title='circle the drain'
          data-timestamp='4:41'
          data-color='rgb(58,56,33)'
        >
          <span class='sm-playlist-item-title'>circle the drain</span>
          <span class='sm-playlist-item-artist'>Soccer Mommy</span>
        </button>
      </li>
      <li data-track='14' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='RbuPDRsSRBY'
          data-idx='13'
          data-image-src='https://i.ytimg.com/vi/RbuPDRsSRBY/maxresdefault.jpg'
          data-artist='Mogwai'
          data-title='How To Be A Werewolf'
          data-timestamp='6:23'
          data-color='rgb(50,55,58)'
        >
          <span class='sm-playlist-item-title'>How To Be A Werewolf</span>
          <span class='sm-playlist-item-artist'>Mogwai</span>
        </button>
      </li>
      <li data-track='15' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='58O0Gqfu3FI'
          data-idx='14'
          data-image-src='https://i.ytimg.com/vi/58O0Gqfu3FI/maxresdefault.jpg'
          data-artist='Momma'
          data-title='Lucky'
          data-timestamp='4:04'
          data-color='rgb(90,35,31)'
        >
          <span class='sm-playlist-item-title'>Lucky</span>
          <span class='sm-playlist-item-artist'>Momma</span>
        </button>
      </li>
      <li data-track='16' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='3r-qDvD3F3c'
          data-idx='15'
          data-image-src='https://i.ytimg.com/vi/3r-qDvD3F3c/maxresdefault.jpg'
          data-artist='The Smiths'
          data-title='There Is a Light That Never Goes Out (2011 Remaster)'
          data-timestamp='4:05'
          data-color='rgb(56,72,58)'
        >
          <span class='sm-playlist-item-title'>There Is a Light That Never Goes
            Out (2011 Remaster)</span>
          <span class='sm-playlist-item-artist'>The Smiths</span>
        </button>
      </li>
      <li data-track='17' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='HvldypUz9w8'
          data-idx='16'
          data-image-src='https://i.ytimg.com/vi/HvldypUz9w8/maxresdefault.jpg'
          data-artist='Pixies'
          data-title='Debaser'
          data-timestamp='2:52'
          data-color='rgb(75,70,53)'
        >
          <span class='sm-playlist-item-title'>Debaser</span>
          <span class='sm-playlist-item-artist'>Pixies</span>
        </button>
      </li>
      <li data-track='18' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='sh3IEEnJTWo'
          data-idx='17'
          data-image-src='https://i.ytimg.com/vi/sh3IEEnJTWo/maxresdefault.jpg'
          data-artist='meija'
          data-title='How You Like'
          data-timestamp='3:41'
          data-color='rgb(44,60,71)'
        >
          <span class='sm-playlist-item-title'>How You Like</span>
          <span class='sm-playlist-item-artist'>meija</span>
        </button>
      </li>
      <li data-track='19' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='6e3qnMmeApE'
          data-idx='18'
          data-image-src='https://i.ytimg.com/vi/6e3qnMmeApE/maxresdefault.jpg'
          data-artist='Peach Pit'
          data-title='Alrighty Aphrodite'
          data-timestamp='3:28'
          data-color='rgb(49,43,39)'
        >
          <span class='sm-playlist-item-title'>Alrighty Aphrodite</span>
          <span class='sm-playlist-item-artist'>Peach Pit</span>
        </button>
      </li>
      <li data-track='20' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='JOyzf1qem28'
          data-idx='19'
          data-image-src='https://i.ytimg.com/vi/JOyzf1qem28/maxresdefault.jpg'
          data-artist='girlpuppy'
          data-title='Permanent State'
          data-timestamp='4:34'
          data-color='rgb(52,52,50)'
        >
          <span class='sm-playlist-item-title'>Permanent State</span>
          <span class='sm-playlist-item-artist'>girlpuppy</span>
        </button>
      </li>
      <li data-track='21' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='J9WHRBzvrSQ'
          data-idx='20'
          data-image-src='https://i.ytimg.com/vi/J9WHRBzvrSQ/maxresdefault.jpg'
          data-artist='Phosphorescent'
          data-title='Song for Zula'
          data-timestamp='6:11'
          data-color='rgb(62,57,42)'
        >
          <span class='sm-playlist-item-title'>Song for Zula</span>
          <span class='sm-playlist-item-artist'>Phosphorescent</span>
        </button>
      </li>
    </ol>
  </div>
  <div class='sm-playlist-controls'>
    <div
      class='sm-playlist-cover-art'
      style='background-image: url(https://i.ytimg.com/vi/tjg7qrfLjMQ/maxresdefault.jpg)'
    ></div>
    <div class='sm-playlist-now-playing'>
      <p>Veronica Mars</p>
      <p>Blondshell</p>
    </div>

    <div class='sm-playlist-buttons'>
      <button
        class='sm-playlist-button'
        data-control='previous'
        aria-label='Previous track'
      >
        <svg aria-hidden='true'>
          <use href='#sm-back-icon'></use>
        </svg>
      </button>

      <button class='sm-playlist-button' data-control='play' aria-label='play'>
        <svg aria-hidden='true'>
          <use href='#sm-play-icon'></use>
        </svg>
      </button>

      <button
        class='sm-playlist-button'
        data-control='pause'
        aria-label='pause'
      >
        <svg aria-hidden='true'>
          <use href='#sm-pause-icon'></use>
        </svg>
      </button>

      <button
        class='sm-playlist-button'
        data-control='forward'
        aria-label='forward'
      >
        <svg aria-hidden='true'>
          <use href='#sm-forward-icon'></use>
        </svg>
      </button>
    </div>

    <div class='sm-playlist-progress' data-volume='high'>
      <span class='sm-start-time'>0:00</span>
      <span class='sm-end-time'>1:58</span>
      <input
        type='range'
        id='progress'
        name='progress'
        min='0'
        max='100'
        value='100'
      />
    </div>

    <div class='sm-playlist-volume' data-volume='high'>
      <span class='sm-muted'><svg aria-label='muted' aria-hidden='true'><use
            href='#sm-mute-icon'
          ></use></svg></span>
      <span class='sm-low-volume'><svg
          aria-label='volume low'
          aria-hidden='true'
        ><use href='#sm-volume-down'></use></svg></span>
      <span class='sm-high-volume'><svg
          aria-label='volume high'
          aria-hidden='true'
        ><use href='#sm-volume-up'></use></svg></span>
      <input
        type='range'
        id='volume'
        name='volume'
        min='0'
        max='100'
        value='100'
      />
    </div>

  </div>
  <div class='sm-playlist-iframe' id='player'></div>
</section>