<section
  class='sm-playlist-grid'
  data-playlist-id='PLnPe3mrvTpEwYVUdAmR3o9eAfsU-jMWrd'
>
  <div class='sm-playlist-text'>
    <h3><a
        href='https://music.youtube.com/playlist?list=PLnPe3mrvTpEwYVUdAmR3o9eAfsU-jMWrd'
        target='_blank'
      >Hiding in the Overgrown Shrubbery</a></h3>
    <p>18 Tracks / 1 hour 10 minutes</p>
    <ol class='sm-playlist-page sm-playlist-active'>

      <li data-track='01' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='nbQTBYfLcfg'
          data-idx='0'
          data-image-src='https://i.ytimg.com/vi/nbQTBYfLcfg/maxresdefault.jpg'
          data-artist='The War On Drugs'
          data-title='Pain'
          data-timestamp='5:31'
          data-color='rgb(50,43,41)'
        >
          <span class='sm-playlist-item-title'>Pain</span>
          <span class='sm-playlist-item-artist'>The War On Drugs</span>
        </button>
      </li>
      <li data-track='02' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='mHTnpLAhV7M'
          data-idx='1'
          data-image-src='https://i.ytimg.com/vi/mHTnpLAhV7M/maxresdefault.jpg'
          data-artist='Far Caspian'
          data-title='Finding My Way Home'
          data-timestamp='4:10'
          data-color='rgb(71,56,48)'
        >
          <span class='sm-playlist-item-title'>Finding My Way Home</span>
          <span class='sm-playlist-item-artist'>Far Caspian</span>
        </button>
      </li>
      <li data-track='03' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='WCSuv56YwQQ'
          data-idx='2'
          data-image-src='https://i.ytimg.com/vi/WCSuv56YwQQ/maxresdefault.jpg'
          data-artist='No Vacation'
          data-title='Yam Yam'
          data-timestamp='3:37'
          data-color='rgb(76,68,16)'
        >
          <span class='sm-playlist-item-title'>Yam Yam</span>
          <span class='sm-playlist-item-artist'>No Vacation</span>
        </button>
      </li>
      <li data-track='04' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='z-vFSFZ-h2o'
          data-idx='3'
          data-image-src='https://i.ytimg.com/vi/z-vFSFZ-h2o/maxresdefault.jpg'
          data-artist='Palace'
          data-title='Live Well'
          data-timestamp='4:10'
          data-color='rgb(38,67,74)'
        >
          <span class='sm-playlist-item-title'>Live Well</span>
          <span class='sm-playlist-item-artist'>Palace</span>
        </button>
      </li>
      <li data-track='05' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='svAyng9VHEc'
          data-idx='4'
          data-image-src='https://i.ytimg.com/vi/svAyng9VHEc/maxresdefault.jpg'
          data-artist='Tennis'
          data-title='Baltimore'
          data-timestamp='2:52'
          data-color='rgb(212,210,212)'
        >
          <span class='sm-playlist-item-title'>Baltimore</span>
          <span class='sm-playlist-item-artist'>Tennis</span>
        </button>
      </li>
      <li data-track='06' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='wil4IIZEt-c'
          data-idx='5'
          data-image-src='https://i.ytimg.com/vi/wil4IIZEt-c/maxresdefault.jpg'
          data-artist='Peach Pit'
          data-title='Private Presley'
          data-timestamp='5:40'
          data-color='rgb(49,43,39)'
        >
          <span class='sm-playlist-item-title'>Private Presley</span>
          <span class='sm-playlist-item-artist'>Peach Pit</span>
        </button>
      </li>
      <li data-track='07' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='ukkRG-flg20'
          data-idx='6'
          data-image-src='https://i.ytimg.com/vi/ukkRG-flg20/maxresdefault.jpg'
          data-artist='Carly Simon'
          data-title='You Belong to Me'
          data-timestamp='3:53'
          data-color='rgb(91,61,35)'
        >
          <span class='sm-playlist-item-title'>You Belong to Me</span>
          <span class='sm-playlist-item-artist'>Carly Simon</span>
        </button>
      </li>
      <li data-track='08' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='9Fz6Ffv_RFQ'
          data-idx='7'
          data-image-src='https://i.ytimg.com/vi/9Fz6Ffv_RFQ/maxresdefault.jpg'
          data-artist='Interpol'
          data-title='Untitled'
          data-timestamp='3:57'
          data-color='rgb(48,8,8)'
        >
          <span class='sm-playlist-item-title'>Untitled</span>
          <span class='sm-playlist-item-artist'>Interpol</span>
        </button>
      </li>
      <li data-track='09' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='duVqDFskfCQ'
          data-idx='8'
          data-image-src='https://i.ytimg.com/vi/duVqDFskfCQ/maxresdefault.jpg'
          data-artist='Alvvays'
          data-title='Adult Diversion'
          data-timestamp='3:28'
          data-color='rgb(42,59,60)'
        >
          <span class='sm-playlist-item-title'>Adult Diversion</span>
          <span class='sm-playlist-item-artist'>Alvvays</span>
        </button>
      </li>
      <li data-track='10' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='WmrRHqQesbo'
          data-idx='9'
          data-image-src='https://i.ytimg.com/vi/WmrRHqQesbo/maxresdefault.jpg'
          data-artist='Thundercat'
          data-title='Dragonball Durag'
          data-timestamp='3:02'
          data-color='rgb(56,42,16)'
        >
          <span class='sm-playlist-item-title'>Dragonball Durag</span>
          <span class='sm-playlist-item-artist'>Thundercat</span>
        </button>
      </li>
      <li data-track='11' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='3XRWMLWH8nI'
          data-idx='10'
          data-image-src='https://i.ytimg.com/vi/3XRWMLWH8nI/maxresdefault.jpg'
          data-artist='FKJ'
          data-title="Let's Live"
          data-timestamp='3:39'
          data-color='rgb(64,56,41)'
        >
          <span class='sm-playlist-item-title'>Let's Live</span>
          <span class='sm-playlist-item-artist'>FKJ</span>
        </button>
      </li>
      <li data-track='12' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='Cqta7PFcs58'
          data-idx='11'
          data-image-src='https://i.ytimg.com/vi/Cqta7PFcs58/maxresdefault.jpg'
          data-artist='Curtis Harding'
          data-title="I Won't Let You Down"
          data-timestamp='4:05'
          data-color='rgb(240,241,229)'
        >
          <span class='sm-playlist-item-title'>I Won't Let You Down</span>
          <span class='sm-playlist-item-artist'>Curtis Harding</span>
        </button>
      </li>
      <li data-track='13' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='yNUO6MFaUnM'
          data-idx='12'
          data-image-src='https://i.ytimg.com/vi/yNUO6MFaUnM/maxresdefault.jpg'
          data-artist='Japanese Breakfast'
          data-title='Be Sweet'
          data-timestamp='3:16'
          data-color='rgb(96,65,19)'
        >
          <span class='sm-playlist-item-title'>Be Sweet</span>
          <span class='sm-playlist-item-artist'>Japanese Breakfast</span>
        </button>
      </li>
      <li data-track='14' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='J5I0vld0lqQ'
          data-idx='13'
          data-image-src='https://i.ytimg.com/vi/J5I0vld0lqQ/maxresdefault.jpg'
          data-artist='Arcade Fire'
          data-title='Put Your Money on Me'
          data-timestamp='5:54'
          data-color='rgb(78,52,63)'
        >
          <span class='sm-playlist-item-title'>Put Your Money on Me</span>
          <span class='sm-playlist-item-artist'>Arcade Fire</span>
        </button>
      </li>
      <li data-track='15' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='MQldSE5gGkw'
          data-idx='14'
          data-image-src='https://i.ytimg.com/vi/MQldSE5gGkw/maxresdefault.jpg'
          data-artist='Wet Leg'
          data-title='Chaise Longue'
          data-timestamp='3:17'
          data-color='rgb(59,58,37)'
        >
          <span class='sm-playlist-item-title'>Chaise Longue</span>
          <span class='sm-playlist-item-artist'>Wet Leg</span>
        </button>
      </li>
      <li data-track='16' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='td9ynZLqVHY'
          data-idx='15'
          data-image-src='https://i.ytimg.com/vi/td9ynZLqVHY/maxresdefault.jpg'
          data-artist='Arlo Parks'
          data-title='Black Dog'
          data-timestamp='3:49'
          data-color='rgb(221,203,194)'
        >
          <span class='sm-playlist-item-title'>Black Dog</span>
          <span class='sm-playlist-item-artist'>Arlo Parks</span>
        </button>
      </li>
      <li data-track='17' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='Ubt_qaac_wM'
          data-idx='16'
          data-image-src='https://i.ytimg.com/vi/Ubt_qaac_wM/maxresdefault.jpg'
          data-artist='Phoebe Bridgers'
          data-title='Kyoto'
          data-timestamp='3:05'
          data-color='rgb(92,13,22)'
        >
          <span class='sm-playlist-item-title'>Kyoto</span>
          <span class='sm-playlist-item-artist'>Phoebe Bridgers</span>
        </button>
      </li>
      <li data-track='18' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='tnV7dTXlXxs'
          data-idx='17'
          data-image-src='https://i.ytimg.com/vi/tnV7dTXlXxs/maxresdefault.jpg'
          data-artist='America'
          data-title='Ventura Highway'
          data-timestamp='3:32'
          data-color='rgb(98,62,24)'
        >
          <span class='sm-playlist-item-title'>Ventura Highway</span>
          <span class='sm-playlist-item-artist'>America</span>
        </button>
      </li>
    </ol>
  </div>
  <div class='sm-playlist-controls'>
    <div
      class='sm-playlist-cover-art'
      style='background-image: url(https://i.ytimg.com/vi/nbQTBYfLcfg/maxresdefault.jpg)'
    ></div>
    <div class='sm-playlist-now-playing'>
      <p>Pain</p>
      <p>The War On Drugs</p>
    </div>

    <div class='sm-playlist-buttons'>
      <button
        class='sm-playlist-button'
        data-control='previous'
        aria-label='Previous track'
      >
        <svg aria-hidden='true'>
          <use href='#sm-back-icon'></use>
        </svg>
      </button>

      <button class='sm-playlist-button' data-control='play' aria-label='play'>
        <svg aria-hidden='true'>
          <use href='#sm-play-icon'></use>
        </svg>
      </button>

      <button
        class='sm-playlist-button'
        data-control='pause'
        aria-label='pause'
      >
        <svg aria-hidden='true'>
          <use href='#sm-pause-icon'></use>
        </svg>
      </button>

      <button
        class='sm-playlist-button'
        data-control='forward'
        aria-label='forward'
      >
        <svg aria-hidden='true'>
          <use href='#sm-forward-icon'></use>
        </svg>
      </button>
    </div>

    <div class='sm-playlist-progress' data-volume='high'>
      <span class='sm-start-time'>0:00</span>
      <span class='sm-end-time'>5:31</span>
      <input
        type='range'
        id='progress'
        name='progress'
        min='0'
        max='100'
        value='0'
        aria-label='progress control'
      />
    </div>

    <div class='sm-playlist-volume' data-volume='high'>
      <span class='sm-muted'><svg aria-label='muted' aria-hidden='true'><use
            href='#sm-mute-icon'
          ></use></svg></span>
      <span class='sm-low-volume'><svg
          aria-label='volume low'
          aria-hidden='true'
        ><use href='#sm-volume-down'></use></svg></span>
      <span class='sm-high-volume'><svg
          aria-label='volume high'
          aria-hidden='true'
        ><use href='#sm-volume-up'></use></svg></span>
      <input
        type='range'
        id='volume'
        name='volume'
        min='0'
        max='100'
        value='100'
        aria-label='volume control'
      />
    </div>

  </div>
  <div class='sm-playlist-iframe' id='player'></div>
</section>