
  <section class="sm-playlist-grid" data-playlist-id="PLnPe3mrvTpEw1hdXbcKUNVPH-_PwGoadN">
    <div class="sm-playlist-text">
        <h3><a href="https://music.youtube.com/playlist?list=PLnPe3mrvTpEw1hdXbcKUNVPH-_PwGoadN" target="_blank">All the cool kids spell it Majorca</a></h3>
        <p>17 Tracks / 1 hour 12 minutes</p>
        <ol class="sm-playlist-page sm-playlist-active">
          
  <li data-track="01" data-marker="▸">
    <button class="sm-playlist-item" data-src="wil4IIZEt-c" data-idx="0" data-image-src="https://i.ytimg.com/vi/wil4IIZEt-c/maxresdefault.jpg" data-artist="Peach Pit" data-title="Private Presley" data-timestamp="5:40" data-color="rgb(49,43,39)">
        <span class="sm-playlist-item-title">Private Presley</span>
        <span class="sm-playlist-item-artist">Peach Pit</span>
    </button>
  </li>
  <li data-track="02" data-marker="▸">
    <button class="sm-playlist-item" data-src="Y2Ljtl2-wVQ" data-idx="1" data-image-src="https://i.ytimg.com/vi/Y2Ljtl2-wVQ/maxresdefault.jpg" data-artist="Yusuf / Cat Stevens" data-title="The Wind" data-timestamp="1:43" data-color="rgb(94,53,30)">
        <span class="sm-playlist-item-title">The Wind</span>
        <span class="sm-playlist-item-artist">Yusuf / Cat Stevens</span>
    </button>
  </li>
  <li data-track="03" data-marker="▸">
    <button class="sm-playlist-item" data-src="j8IERCLmxbw" data-idx="2" data-image-src="https://i.ytimg.com/vi/j8IERCLmxbw/maxresdefault.jpg" data-artist="Kurt Vile" data-title="Pretty Pimpin" data-timestamp="4:59" data-color="rgb(62,57,56)">
        <span class="sm-playlist-item-title">Pretty Pimpin</span>
        <span class="sm-playlist-item-artist">Kurt Vile</span>
    </button>
  </li>
  <li data-track="04" data-marker="▸">
    <button class="sm-playlist-item" data-src="ZgHdUeMHTwc" data-idx="3" data-image-src="https://i.ytimg.com/vi/ZgHdUeMHTwc/maxresdefault.jpg" data-artist="Nick Drake" data-title="Pink Moon" data-timestamp="2:05" data-color="rgb(31,61,60)">
        <span class="sm-playlist-item-title">Pink Moon</span>
        <span class="sm-playlist-item-artist">Nick Drake</span>
    </button>
  </li>
  <li data-track="05" data-marker="▸">
    <button class="sm-playlist-item" data-src="_qM6My54_C4" data-idx="4" data-image-src="https://i.ytimg.com/vi/_qM6My54_C4/maxresdefault.jpg" data-artist="The Allman Brothers Band" data-title="Little Martha" data-timestamp="2:09" data-color="rgb(46,71,70)">
        <span class="sm-playlist-item-title">Little Martha</span>
        <span class="sm-playlist-item-artist">The Allman Brothers Band</span>
    </button>
  </li>
  <li data-track="06" data-marker="▸">
    <button class="sm-playlist-item" data-src="JB8c9deYEfE" data-idx="5" data-image-src="https://i.ytimg.com/vi/JB8c9deYEfE/maxresdefault.jpg" data-artist="Silvio Rodríguez" data-title="Ojalá" data-timestamp="3:33" data-color="rgb(93,61,21)">
        <span class="sm-playlist-item-title">Ojalá</span>
        <span class="sm-playlist-item-artist">Silvio Rodríguez</span>
    </button>
  </li>
  <li data-track="07" data-marker="▸">
    <button class="sm-playlist-item" data-src="h0snX5iNx5E" data-idx="6" data-image-src="https://i.ytimg.com/vi/h0snX5iNx5E/maxresdefault.jpg" data-artist="The National" data-title="Bloodbuzz Ohio" data-timestamp="4:36" data-color="rgb(222,218,212)">
        <span class="sm-playlist-item-title">Bloodbuzz Ohio</span>
        <span class="sm-playlist-item-artist">The National</span>
    </button>
  </li>
  <li data-track="08" data-marker="▸">
    <button class="sm-playlist-item" data-src="kBZPaYUGP6o" data-idx="7" data-image-src="https://i.ytimg.com/vi/kBZPaYUGP6o/maxresdefault.jpg" data-artist="Yo La Tengo" data-title="Let's Save Tony Orlando's House" data-timestamp="5:00" data-color="rgb(59,37,46)">
        <span class="sm-playlist-item-title">Let's Save Tony Orlando's House</span>
        <span class="sm-playlist-item-artist">Yo La Tengo</span>
    </button>
  </li>
  <li data-track="09" data-marker="▸">
    <button class="sm-playlist-item" data-src="Nng0aSsq_XE" data-idx="8" data-image-src="https://i.ytimg.com/vi/Nng0aSsq_XE/maxresdefault.jpg" data-artist="Radiohead" data-title="House Of Cards" data-timestamp="5:29" data-color="rgb(93,43,22)">
        <span class="sm-playlist-item-title">House Of Cards</span>
        <span class="sm-playlist-item-artist">Radiohead</span>
    </button>
  </li>
  <li data-track="10" data-marker="▸">
    <button class="sm-playlist-item" data-src="fBXZ1leNv8k" data-idx="9" data-image-src="https://i.ytimg.com/vi/fBXZ1leNv8k/maxresdefault.jpg" data-artist="Cowboy" data-title="Please Be With Me" data-timestamp="3:52" data-color="rgb(46,71,70)">
        <span class="sm-playlist-item-title">Please Be With Me</span>
        <span class="sm-playlist-item-artist">Cowboy</span>
    </button>
  </li>
  <li data-track="11" data-marker="▸">
    <button class="sm-playlist-item" data-src="gpmm8qQab6w" data-idx="10" data-image-src="https://i.ytimg.com/vi/gpmm8qQab6w/maxresdefault.jpg" data-artist="Heartless Bastards" data-title="Only for You" data-timestamp="5:09" data-color="rgb(234,212,182)">
        <span class="sm-playlist-item-title">Only for You</span>
        <span class="sm-playlist-item-artist">Heartless Bastards</span>
    </button>
  </li>
  <li data-track="12" data-marker="▸">
    <button class="sm-playlist-item" data-src="m5pop3oBFr8" data-idx="11" data-image-src="https://i.ytimg.com/vi/m5pop3oBFr8/maxresdefault.jpg" data-artist="Silversun Pickups" data-title="Lazy Eye" data-timestamp="5:55" data-color="rgb(56,33,27)">
        <span class="sm-playlist-item-title">Lazy Eye</span>
        <span class="sm-playlist-item-artist">Silversun Pickups</span>
    </button>
  </li>
  <li data-track="13" data-marker="▸">
    <button class="sm-playlist-item" data-src="dPLaDtvVdaU" data-idx="12" data-image-src="https://i.ytimg.com/vi/dPLaDtvVdaU/maxresdefault.jpg" data-artist="Fleet Foxes" data-title="Mykonos" data-timestamp="4:36" data-color="rgb(217,212,200)">
        <span class="sm-playlist-item-title">Mykonos</span>
        <span class="sm-playlist-item-artist">Fleet Foxes</span>
    </button>
  </li>
  <li data-track="14" data-marker="▸">
    <button class="sm-playlist-item" data-src="JzSeC5sFyT8" data-idx="13" data-image-src="https://i.ytimg.com/vi/JzSeC5sFyT8/maxresdefault.jpg" data-artist="The Smashing Pumpkins" data-title="Tonight, Tonight (Remastered 2012)" data-timestamp="4:15" data-color="rgb(61,56,34)">
        <span class="sm-playlist-item-title">Tonight, Tonight (Remastered 2012)</span>
        <span class="sm-playlist-item-artist">The Smashing Pumpkins</span>
    </button>
  </li>
  <li data-track="15" data-marker="▸">
    <button class="sm-playlist-item" data-src="KrUDT4HJCFU" data-idx="14" data-image-src="https://i.ytimg.com/vi/KrUDT4HJCFU/maxresdefault.jpg" data-artist="Bon Iver" data-title="Blood Bank" data-timestamp="4:46" data-color="rgb(60,59,59)">
        <span class="sm-playlist-item-title">Blood Bank</span>
        <span class="sm-playlist-item-artist">Bon Iver</span>
    </button>
  </li>
  <li data-track="16" data-marker="▸">
    <button class="sm-playlist-item" data-src="AxuTd9rwEHQ" data-idx="15" data-image-src="https://i.ytimg.com/vi/AxuTd9rwEHQ/maxresdefault.jpg" data-artist="Foo Fighters" data-title="Everlong" data-timestamp="4:11" data-color="rgb(67,41,52)">
        <span class="sm-playlist-item-title">Everlong</span>
        <span class="sm-playlist-item-artist">Foo Fighters</span>
    </button>
  </li>
  <li data-track="17" data-marker="▸">
    <button class="sm-playlist-item" data-src="ctb9uuxJVHQ" data-idx="16" data-image-src="https://i.ytimg.com/vi/ctb9uuxJVHQ/maxresdefault.jpg" data-artist="Rita Payés" data-title="Algo contigo" data-timestamp="4:58" data-color="rgb(65,63,63)">
        <span class="sm-playlist-item-title">Algo contigo</span>
        <span class="sm-playlist-item-artist">Rita Payés</span>
    </button>
  </li>
        </ol>
    </div>
    <div class="sm-playlist-controls">
      <div class="sm-playlist-cover-art" style="background-image: url(https://i.ytimg.com/vi/wil4IIZEt-c/maxresdefault.jpg)"></div>
      <div class="sm-playlist-now-playing">
        <p>Private Presley</p>
        <p>Peach Pit</p>
      </div>

      <div class="sm-playlist-buttons">
        <button class="sm-playlist-button" data-control="previous" aria-label="Previous track">
          <svg aria-hidden='true'>
          <use href='#sm-back-icon'></use>
          </svg>
        </button>
        
        <button class="sm-playlist-button" data-control="play" aria-label="play">
          <svg aria-hidden='true'>
          <use href='#sm-play-icon'></use>
          </svg>
        </button>

        <button class="sm-playlist-button" data-control="pause" aria-label="pause">
          <svg aria-hidden='true'>
          <use href='#sm-pause-icon'></use>
          </svg>
        </button>

        <button class="sm-playlist-button" data-control="forward" aria-label="forward">
          <svg aria-hidden='true'>
          <use href='#sm-forward-icon'></use>
          </svg>
        </button>
      </div>

      <div class="sm-playlist-progress" data-volume="high">
        <span class="sm-start-time">0:00</span>
        <span class="sm-end-time">5:40</span>
        <input type="range" id="progress" name="progress" min="0" max="100" value="100" />
      </div>

      <div class="sm-playlist-volume" data-volume="high">
        <span class="sm-muted"><svg aria-label="muted" aria-hidden="true"><use href="#sm-mute-icon"></use></svg></span>
        <span class="sm-low-volume"><svg aria-label="volume low" aria-hidden="true"><use href="#sm-volume-down"></use></svg></span>
        <span class="sm-high-volume"><svg aria-label="volume high" aria-hidden="true"><use href="#sm-volume-up"></use></svg></span>
        <input type="range" id="volume" name="volume" min="0" max="100" value="100" />
      </div>
    

    </div>
    <div class="sm-playlist-iframe" id="player"></div>
  </section>