
  <section class="sm-playlist-grid">
    <div class="sm-playlist-text">
        <h3><a href="https://music.youtube.com/playlist?list=PLnPe3mrvTpEzNINsV2kNqY_LTeNkdprdL" target="_blank">A Crumb Coat for the Mind</a></h3>
        <p>18 Tracks / 1 hour 17 minutes</p>
        <ol class="sm-playlist-page sm-playlist-active">
          
  <li data-track="1" data-marker="▸">
    <button class="sm-playlist-item" data-src="OgHyWg7Jh3k" data-idx="0" data-image-src="https://i.ytimg.com/vi/OgHyWg7Jh3k/maxresdefault.jpg" data-artist="Kikagaku Moyo" data-title="Dune data-timestamp="PT2M9S">
        <span class="sm-playlist-item-title">Dune</span>
        <span class="sm-playlist-item-artist">Kikagaku Moyo</span>
    </button>
  </li>
  <li data-track="2" data-marker="▸">
    <button class="sm-playlist-item" data-src="Gte3m_-jyCw" data-idx="1" data-image-src="https://i.ytimg.com/vi/Gte3m_-jyCw/maxresdefault.jpg" data-artist="Skinshape" data-title="I Won't Be There data-timestamp="PT7M3S">
        <span class="sm-playlist-item-title">I Won't Be There</span>
        <span class="sm-playlist-item-artist">Skinshape</span>
    </button>
  </li>
  <li data-track="3" data-marker="▸">
    <button class="sm-playlist-item" data-src="6PfYo-YYVPY" data-idx="2" data-image-src="https://i.ytimg.com/vi/6PfYo-YYVPY/maxresdefault.jpg" data-artist="Wooden Shjips" data-title="Staring At The Sun data-timestamp="PT7M28S">
        <span class="sm-playlist-item-title">Staring At The Sun</span>
        <span class="sm-playlist-item-artist">Wooden Shjips</span>
    </button>
  </li>
  <li data-track="4" data-marker="▸">
    <button class="sm-playlist-item" data-src="Esit0k1NE4I" data-idx="3" data-image-src="https://i.ytimg.com/vi/Esit0k1NE4I/maxresdefault.jpg" data-artist="Real Estate" data-title="Snow Days data-timestamp="PT4M23S">
        <span class="sm-playlist-item-title">Snow Days</span>
        <span class="sm-playlist-item-artist">Real Estate</span>
    </button>
  </li>
  <li data-track="5" data-marker="▸">
    <button class="sm-playlist-item" data-src="15m_iQaKHVg" data-idx="4" data-image-src="https://i.ytimg.com/vi/15m_iQaKHVg/maxresdefault.jpg" data-artist="Yeah Yeah Yeahs" data-title="Spitting Off the Edge of the World data-timestamp="PT4M18S">
        <span class="sm-playlist-item-title">Spitting Off the Edge of the World</span>
        <span class="sm-playlist-item-artist">Yeah Yeah Yeahs</span>
    </button>
  </li>
  <li data-track="6" data-marker="▸">
    <button class="sm-playlist-item" data-src="aA5l2qsX_O8" data-idx="5" data-image-src="https://i.ytimg.com/vi/aA5l2qsX_O8/maxresdefault.jpg" data-artist="Japanese Breakfast" data-title="Paprika data-timestamp="PT3M41S">
        <span class="sm-playlist-item-title">Paprika</span>
        <span class="sm-playlist-item-artist">Japanese Breakfast</span>
    </button>
  </li>
  <li data-track="7" data-marker="▸">
    <button class="sm-playlist-item" data-src="HdemOVIXuAI" data-idx="6" data-image-src="https://i.ytimg.com/vi/HdemOVIXuAI/maxresdefault.jpg" data-artist="DIIV" data-title="Dopamine data-timestamp="PT3M56S">
        <span class="sm-playlist-item-title">Dopamine</span>
        <span class="sm-playlist-item-artist">DIIV</span>
    </button>
  </li>
  <li data-track="8" data-marker="▸">
    <button class="sm-playlist-item" data-src="BqnG_Ei35JE" data-idx="7" data-image-src="https://i.ytimg.com/vi/BqnG_Ei35JE/maxresdefault.jpg" data-artist="Crumb The Band" data-title="Crumb - Locket [Official Video] data-timestamp="PT5M19S">
        <span class="sm-playlist-item-title">Crumb - Locket [Official Video]</span>
        <span class="sm-playlist-item-artist">Crumb The Band</span>
    </button>
  </li>
  <li data-track="9" data-marker="▸">
    <button class="sm-playlist-item" data-src="RV1-GJJf2Pg" data-idx="8" data-image-src="https://i.ytimg.com/vi/RV1-GJJf2Pg/maxresdefault.jpg" data-artist="boygenius" data-title="Not Strong Enough data-timestamp="PT3M55S">
        <span class="sm-playlist-item-title">Not Strong Enough</span>
        <span class="sm-playlist-item-artist">boygenius</span>
    </button>
  </li>
  <li data-track="10" data-marker="▸">
    <button class="sm-playlist-item" data-src="Wmw0ELu_jrM" data-idx="9" data-image-src="https://i.ytimg.com/vi/Wmw0ELu_jrM/maxresdefault.jpg" data-artist="Grizzly Bear" data-title="Wasted Acres data-timestamp="PT2M53S">
        <span class="sm-playlist-item-title">Wasted Acres</span>
        <span class="sm-playlist-item-artist">Grizzly Bear</span>
    </button>
  </li>
  <li data-track="11" data-marker="▸">
    <button class="sm-playlist-item" data-src="jQt6ZzJfioc" data-idx="10" data-image-src="https://i.ytimg.com/vi/jQt6ZzJfioc/maxresdefault.jpg" data-artist="No Vacation" data-title="Mind Fields data-timestamp="PT4M33S">
        <span class="sm-playlist-item-title">Mind Fields</span>
        <span class="sm-playlist-item-artist">No Vacation</span>
    </button>
  </li>
  <li data-track="12" data-marker="▸">
    <button class="sm-playlist-item" data-src="nXITdhX0AsE" data-idx="11" data-image-src="https://i.ytimg.com/vi/nXITdhX0AsE/maxresdefault.jpg" data-artist="SALES" data-title="Big Sis data-timestamp="PT2M47S">
        <span class="sm-playlist-item-title">Big Sis</span>
        <span class="sm-playlist-item-artist">SALES</span>
    </button>
  </li>
  <li data-track="13" data-marker="▸">
    <button class="sm-playlist-item" data-src="wSTYIyQxfPQ" data-idx="12" data-image-src="https://i.ytimg.com/vi/wSTYIyQxfPQ/maxresdefault.jpg" data-artist="Men I Trust" data-title="Show Me How data-timestamp="PT3M36S">
        <span class="sm-playlist-item-title">Show Me How</span>
        <span class="sm-playlist-item-artist">Men I Trust</span>
    </button>
  </li>
  <li data-track="14" data-marker="▸">
    <button class="sm-playlist-item" data-src="7AEK0psjkZo" data-idx="13" data-image-src="https://i.ytimg.com/vi/7AEK0psjkZo/maxresdefault.jpg" data-artist="Glue Trip" data-title="Elbow Pain data-timestamp="PT5M34S">
        <span class="sm-playlist-item-title">Elbow Pain</span>
        <span class="sm-playlist-item-artist">Glue Trip</span>
    </button>
  </li>
  <li data-track="15" data-marker="▸">
    <button class="sm-playlist-item" data-src="4a4zu5t83yY" data-idx="14" data-image-src="https://i.ytimg.com/vi/4a4zu5t83yY/maxresdefault.jpg" data-artist="Childish Gambino" data-title="Redbone data-timestamp="PT5M27S">
        <span class="sm-playlist-item-title">Redbone</span>
        <span class="sm-playlist-item-artist">Childish Gambino</span>
    </button>
  </li>
  <li data-track="16" data-marker="▸">
    <button class="sm-playlist-item" data-src="5jzXLv_zdH4" data-idx="15" data-image-src="https://i.ytimg.com/vi/5jzXLv_zdH4/maxresdefault.jpg" data-artist="Youth Lagoon" data-title="Idaho Alien data-timestamp="PT3M24S">
        <span class="sm-playlist-item-title">Idaho Alien</span>
        <span class="sm-playlist-item-artist">Youth Lagoon</span>
    </button>
  </li>
  <li data-track="17" data-marker="▸">
    <button class="sm-playlist-item" data-src="1JIvfi0v4ZY" data-idx="16" data-image-src="https://i.ytimg.com/vi/1JIvfi0v4ZY/maxresdefault.jpg" data-artist="Jenny Lewis" data-title="Psychos data-timestamp="PT3M6S">
        <span class="sm-playlist-item-title">Psychos</span>
        <span class="sm-playlist-item-artist">Jenny Lewis</span>
    </button>
  </li>
  <li data-track="18" data-marker="▸">
    <button class="sm-playlist-item" data-src="qWIpelAsycg" data-idx="17" data-image-src="https://i.ytimg.com/vi/qWIpelAsycg/maxresdefault.jpg" data-artist="Meltt" data-title="Love Again data-timestamp="PT4M4S">
        <span class="sm-playlist-item-title">Love Again</span>
        <span class="sm-playlist-item-artist">Meltt</span>
    </button>
  </li>
        </ol>
    </div>
    <div class="sm-playlist-controls">
      <div class="sm-playlist-cover-art" style="background-image: url(https://i.ytimg.com/vi/OgHyWg7Jh3k/maxresdefault.jpg)"></div>
      <div class="sm-playlist-now-playing">
        <p>Dune</p>
        <p>Kikagaku Moyo</p>
      </div>

      <div class="sm-playlist-buttons">
        <button class="sm-playlist-button" data-control="previous" aria-label="Previous track">
          <svg aria-hidden='true'>
          <use href='#sm-back-icon'></use>
          </svg>
        </button>
        
        <button class="sm-playlist-button" data-control="play" aria-label="play">
          <svg aria-hidden='true'>
          <use href='#sm-play-icon'></use>
          </svg>
        </button>

        <button class="sm-playlist-button" data-control="pause" aria-label="pause">
          <svg aria-hidden='true'>
          <use href='#sm-pause-icon'></use>
          </svg>
        </button>

        <button class="sm-playlist-button" data-control="forward" aria-label="forward">
          <svg aria-hidden='true'>
          <use href='#sm-forward-icon'></use>
          </svg>
        </button>
      </div>

      <div class="sm-playlist-progress">
        <span class="sm-start-time">0:00</span>
        <span class="sm-end-time">PT2M9S</span>
        <input type="range" id="progress" min="0" max="100" value="0"/>
      </div>
    

    </div>
    <div class="sm-playlist-iframe" id="player"></div>
  </section>