<section
  class='sm-playlist-grid'
  data-playlist-id='PLnPe3mrvTpEwkSFe5a7vcIpKD7jVO8-71'
>
  <div class='sm-playlist-text'>
    <h3><a
        href='https://music.youtube.com/playlist?list=PLnPe3mrvTpEwkSFe5a7vcIpKD7jVO8-71'
        target='_blank'
      >Bit-Rot Rock</a></h3>
    <p>19 Tracks / 1 hour 32 minutes</p>
    <ol class='sm-playlist-page sm-playlist-active'>

      <li data-track='01' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='wvuEQurocVQ'
          data-idx='0'
          data-image-src='https://i.ytimg.com/vi/wvuEQurocVQ/maxresdefault.jpg'
          data-artist='Yin Yin'
          data-title='The Sacred Valley of Cusco'
          data-timestamp='4:42'
          data-color='rgb(88,27,27)'
        >
          <span class='sm-playlist-item-title'>The Sacred Valley of Cusco</span>
          <span class='sm-playlist-item-artist'>Yin Yin</span>
        </button>
      </li>
      <li data-track='02' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='ymkFNzT7VXg'
          data-idx='1'
          data-image-src='https://i.ytimg.com/vi/ymkFNzT7VXg/maxresdefault.jpg'
          data-artist='Kikagaku Moyo'
          data-title='Dripping Sun'
          data-timestamp='7:51'
          data-color='rgb(96,46,45)'
        >
          <span class='sm-playlist-item-title'>Dripping Sun</span>
          <span class='sm-playlist-item-artist'>Kikagaku Moyo</span>
        </button>
      </li>
      <li data-track='03' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='Gte3m_-jyCw'
          data-idx='2'
          data-image-src='https://i.ytimg.com/vi/Gte3m_-jyCw/maxresdefault.jpg'
          data-artist='Skinshape'
          data-title="I Won't Be There"
          data-timestamp='7:03'
          data-color='rgb(92,53,14)'
        >
          <span class='sm-playlist-item-title'>I Won't Be There</span>
          <span class='sm-playlist-item-artist'>Skinshape</span>
        </button>
      </li>
      <li data-track='04' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='fChTduuKFKc'
          data-idx='3'
          data-image-src='https://i.ytimg.com/vi/fChTduuKFKc/maxresdefault.jpg'
          data-artist='Grizzly Bear'
          data-title='On a Neck, on a Spit'
          data-timestamp='5:47'
          data-color='rgb(59,45,24)'
        >
          <span class='sm-playlist-item-title'>On a Neck, on a Spit</span>
          <span class='sm-playlist-item-artist'>Grizzly Bear</span>
        </button>
      </li>
      <li data-track='05' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='HZORw44Bmis'
          data-idx='4'
          data-image-src='https://i.ytimg.com/vi/HZORw44Bmis/maxresdefault.jpg'
          data-artist='Beach Fossils'
          data-title='Generational Synthetic'
          data-timestamp='2:48'
          data-color='rgb(47,47,47)'
        >
          <span class='sm-playlist-item-title'>Generational Synthetic</span>
          <span class='sm-playlist-item-artist'>Beach Fossils</span>
        </button>
      </li>
      <li data-track='06' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='gW-Sytfpwjc'
          data-idx='5'
          data-image-src='https://i.ytimg.com/vi/gW-Sytfpwjc/maxresdefault.jpg'
          data-artist='Braids'
          data-title='Amends'
          data-timestamp='6:04'
          data-color='rgb(42,60,40)'
        >
          <span class='sm-playlist-item-title'>Amends</span>
          <span class='sm-playlist-item-artist'>Braids</span>
        </button>
      </li>
      <li data-track='07' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='5Cmq_90x_7E'
          data-idx='6'
          data-image-src='https://i.ytimg.com/vi/5Cmq_90x_7E/maxresdefault.jpg'
          data-artist='Frankie Rose'
          data-title='Apples for the Sun'
          data-timestamp='4:05'
          data-color='rgb(66,66,66)'
        >
          <span class='sm-playlist-item-title'>Apples for the Sun</span>
          <span class='sm-playlist-item-artist'>Frankie Rose</span>
        </button>
      </li>
      <li data-track='08' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='J9WHRBzvrSQ'
          data-idx='7'
          data-image-src='https://i.ytimg.com/vi/J9WHRBzvrSQ/maxresdefault.jpg'
          data-artist='Phosphorescent'
          data-title='Song for Zula'
          data-timestamp='6:11'
          data-color='rgb(62,57,42)'
        >
          <span class='sm-playlist-item-title'>Song for Zula</span>
          <span class='sm-playlist-item-artist'>Phosphorescent</span>
        </button>
      </li>
      <li data-track='09' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='Julerwe75s8'
          data-idx='8'
          data-image-src='https://i.ytimg.com/vi/Julerwe75s8/maxresdefault.jpg'
          data-artist='Ginger Root'
          data-title='Holy Hell'
          data-timestamp='3:25'
          data-color='rgb(72,43,43)'
        >
          <span class='sm-playlist-item-title'>Holy Hell</span>
          <span class='sm-playlist-item-artist'>Ginger Root</span>
        </button>
      </li>
      <li data-track='10' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='qvQN2BxAVQI'
          data-idx='9'
          data-image-src='https://i.ytimg.com/vi/qvQN2BxAVQI/maxresdefault.jpg'
          data-artist='DIIV'
          data-title='Blankenship'
          data-timestamp='3:57'
          data-color='rgb(92,36,40)'
        >
          <span class='sm-playlist-item-title'>Blankenship</span>
          <span class='sm-playlist-item-artist'>DIIV</span>
        </button>
      </li>
      <li data-track='11' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='0pmz738u9to'
          data-idx='10'
          data-image-src='https://i.ytimg.com/vi/0pmz738u9to/maxresdefault.jpg'
          data-artist='Animal Collective'
          data-title='Grass'
          data-timestamp='3:00'
          data-color='rgb(96,78,36)'
        >
          <span class='sm-playlist-item-title'>Grass</span>
          <span class='sm-playlist-item-artist'>Animal Collective</span>
        </button>
      </li>
      <li data-track='12' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='rBFu4oxTsXs'
          data-idx='11'
          data-image-src='https://i.ytimg.com/vi/rBFu4oxTsXs/maxresdefault.jpg'
          data-artist='Bear In Heaven'
          data-title='Lovesick Teenagers'
          data-timestamp='3:16'
          data-color='rgb(232,53,61)'
        >
          <span class='sm-playlist-item-title'>Lovesick Teenagers</span>
          <span class='sm-playlist-item-artist'>Bear In Heaven</span>
        </button>
      </li>
      <li data-track='13' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='9ttsSvz_OIk'
          data-idx='12'
          data-image-src='https://i.ytimg.com/vi/9ttsSvz_OIk/maxresdefault.jpg'
          data-artist='Various Artists'
          data-title='No Regreso'
          data-timestamp='5:37'
          data-color='rgb(90,46,39)'
        >
          <span class='sm-playlist-item-title'>No Regreso</span>
          <span class='sm-playlist-item-artist'>Various Artists</span>
        </button>
      </li>
      <li data-track='14' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='CMQ7vjaNtJ8'
          data-idx='13'
          data-image-src='https://i.ytimg.com/vi/CMQ7vjaNtJ8/maxresdefault.jpg'
          data-artist='Fazerdaze'
          data-title='Lucky Girl'
          data-timestamp='2:51'
          data-color='rgb(24,78,104)'
        >
          <span class='sm-playlist-item-title'>Lucky Girl</span>
          <span class='sm-playlist-item-artist'>Fazerdaze</span>
        </button>
      </li>
      <li data-track='15' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='q5go1dovoeM'
          data-idx='14'
          data-image-src='https://i.ytimg.com/vi/q5go1dovoeM/maxresdefault.jpg'
          data-artist='The Drums'
          data-title='Money'
          data-timestamp='3:54'
          data-color='rgb(86,56,47)'
        >
          <span class='sm-playlist-item-title'>Money</span>
          <span class='sm-playlist-item-artist'>The Drums</span>
        </button>
      </li>
      <li data-track='16' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='KxPL-0zhcbM'
          data-idx='15'
          data-image-src='https://i.ytimg.com/vi/KxPL-0zhcbM/maxresdefault.jpg'
          data-artist='Big Thief'
          data-title='Not'
          data-timestamp='6:08'
          data-color='rgb(60,54,44)'
        >
          <span class='sm-playlist-item-title'>Not</span>
          <span class='sm-playlist-item-artist'>Big Thief</span>
        </button>
      </li>
      <li data-track='17' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='Ft8lBPRqU6o'
          data-idx='16'
          data-image-src='https://i.ytimg.com/vi/Ft8lBPRqU6o/maxresdefault.jpg'
          data-artist='Low Hum'
          data-title='Comatose'
          data-timestamp='6:17'
          data-color='rgb(66,62,51)'
        >
          <span class='sm-playlist-item-title'>Comatose</span>
          <span class='sm-playlist-item-artist'>Low Hum</span>
        </button>
      </li>
      <li data-track='18' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='tUsH87zLvAg'
          data-idx='17'
          data-image-src='https://i.ytimg.com/vi/tUsH87zLvAg/maxresdefault.jpg'
          data-artist='Peter Bjorn and John'
          data-title='Young Folks'
          data-timestamp='4:37'
          data-color='rgb(194,205,209)'
        >
          <span class='sm-playlist-item-title'>Young Folks</span>
          <span class='sm-playlist-item-artist'>Peter Bjorn and John</span>
        </button>
      </li>
      <li data-track='19' data-marker='▸'>
        <button
          class='sm-playlist-item'
          data-src='lXfGLZ2zz7A'
          data-idx='18'
          data-image-src='https://i.ytimg.com/vi/lXfGLZ2zz7A/maxresdefault.jpg'
          data-artist='Wolf Alice'
          data-title="Don't Delete The Kisses"
          data-timestamp='4:36'
          data-color='rgb(47,47,56)'
        >
          <span class='sm-playlist-item-title'>Don't Delete The Kisses</span>
          <span class='sm-playlist-item-artist'>Wolf Alice</span>
        </button>
      </li>
    </ol>
  </div>
  <div class='sm-playlist-controls'>
    <div
      class='sm-playlist-cover-art'
      style='background-image: url(https://i.ytimg.com/vi/wvuEQurocVQ/maxresdefault.jpg)'
    ></div>
    <div class='sm-playlist-now-playing'>
      <p>The Sacred Valley of Cusco</p>
      <p>Yin Yin</p>
    </div>

    <div class='sm-playlist-buttons'>
      <button
        class='sm-playlist-button'
        data-control='previous'
        aria-label='Previous track'
      >
        <svg aria-hidden='true'>
          <use href='#sm-back-icon'></use>
        </svg>
      </button>

      <button class='sm-playlist-button' data-control='play' aria-label='play'>
        <svg aria-hidden='true'>
          <use href='#sm-play-icon'></use>
        </svg>
      </button>

      <button
        class='sm-playlist-button'
        data-control='pause'
        aria-label='pause'
      >
        <svg aria-hidden='true'>
          <use href='#sm-pause-icon'></use>
        </svg>
      </button>

      <button
        class='sm-playlist-button'
        data-control='forward'
        aria-label='forward'
      >
        <svg aria-hidden='true'>
          <use href='#sm-forward-icon'></use>
        </svg>
      </button>
    </div>

    <div class='sm-playlist-progress' data-volume='high'>
      <span class='sm-start-time'>0:00</span>
      <span class='sm-end-time'>4:42</span>
      <input
        type='range'
        id='progress'
        name='progress'
        min='0'
        max='100'
        value='100'
      />
    </div>

    <div class='sm-playlist-volume' data-volume='high'>
      <span class='sm-muted'><svg aria-label='muted' aria-hidden='true'><use
            href='#sm-mute-icon'
          ></use></svg></span>
      <span class='sm-low-volume'><svg
          aria-label='volume low'
          aria-hidden='true'
        ><use href='#sm-volume-down'></use></svg></span>
      <span class='sm-high-volume'><svg
          aria-label='volume high'
          aria-hidden='true'
        ><use href='#sm-volume-up'></use></svg></span>
      <input
        type='range'
        id='volume'
        name='volume'
        min='0'
        max='100'
        value='100'
      />
    </div>

  </div>
  <div class='sm-playlist-iframe' id='player'></div>
</section>