
  <section class="sm-playlist-grid" data-playlist-id="PLnPe3mrvTpEwCsRF8pZBmpWG_8C0juJuM">
    <div class="sm-playlist-text">
        <h3><a href="https://music.youtube.com/playlist?list=PLnPe3mrvTpEwCsRF8pZBmpWG_8C0juJuM" target="_blank">Once again from the top</a></h3>
        <p>16 Tracks / 1 hour 2 minutes</p>
        <ol class="sm-playlist-page sm-playlist-active">
          
  <li data-track="01" data-marker="▸">
    <button class="sm-playlist-item" data-src="yNUO6MFaUnM" data-idx="0" data-image-src="https://i.ytimg.com/vi/yNUO6MFaUnM/maxresdefault.jpg" data-artist="Japanese Breakfast" data-title="Be Sweet" data-timestamp="3:16" data-color="rgb(96,65,19)">
        <span class="sm-playlist-item-title">Be Sweet</span>
        <span class="sm-playlist-item-artist">Japanese Breakfast</span>
    </button>
  </li>
  <li data-track="02" data-marker="▸">
    <button class="sm-playlist-item" data-src="wETKhjiAMWk" data-idx="1" data-image-src="https://i.ytimg.com/vi/wETKhjiAMWk/maxresdefault.jpg" data-artist="Real Estate" data-title="Easy" data-timestamp="3:54" data-color="rgb(74,50,43)">
        <span class="sm-playlist-item-title">Easy</span>
        <span class="sm-playlist-item-artist">Real Estate</span>
    </button>
  </li>
  <li data-track="03" data-marker="▸">
    <button class="sm-playlist-item" data-src="6XgGuTMM4GE" data-idx="2" data-image-src="https://i.ytimg.com/vi/6XgGuTMM4GE/maxresdefault.jpg" data-artist="DIIV" data-title="How Long Have You Known" data-timestamp="3:34" data-color="rgb(43,50,62)">
        <span class="sm-playlist-item-title">How Long Have You Known</span>
        <span class="sm-playlist-item-artist">DIIV</span>
    </button>
  </li>
  <li data-track="04" data-marker="▸">
    <button class="sm-playlist-item" data-src="VkQmgJcNe8E" data-idx="3" data-image-src="https://i.ytimg.com/vi/VkQmgJcNe8E/maxresdefault.jpg" data-artist="Widowspeak" data-title="Half Awake" data-timestamp="3:04" data-color="rgb(218,197,164)">
        <span class="sm-playlist-item-title">Half Awake</span>
        <span class="sm-playlist-item-artist">Widowspeak</span>
    </button>
  </li>
  <li data-track="05" data-marker="▸">
    <button class="sm-playlist-item" data-src="ylmCbkzSZ_k" data-idx="4" data-image-src="https://i.ytimg.com/vi/ylmCbkzSZ_k/maxresdefault.jpg" data-artist="Momma" data-title="Speeding 72" data-timestamp="3:59" data-color="rgb(90,35,31)">
        <span class="sm-playlist-item-title">Speeding 72</span>
        <span class="sm-playlist-item-artist">Momma</span>
    </button>
  </li>
  <li data-track="06" data-marker="▸">
    <button class="sm-playlist-item" data-src="e6XHv7HiJa8" data-idx="5" data-image-src="https://i.ytimg.com/vi/e6XHv7HiJa8/maxresdefault.jpg" data-artist="Kid Francescoli" data-title="It's Only Music, Baby" data-timestamp="3:29" data-color="rgb(182,218,231)">
        <span class="sm-playlist-item-title">It's Only Music, Baby</span>
        <span class="sm-playlist-item-artist">Kid Francescoli</span>
    </button>
  </li>
  <li data-track="07" data-marker="▸">
    <button class="sm-playlist-item" data-src="xOziunzZ7LI" data-idx="6" data-image-src="https://i.ytimg.com/vi/xOziunzZ7LI/maxresdefault.jpg" data-artist="Miya Folick" data-title="Bad Thing" data-timestamp="3:23" data-color="rgb(196,179,164)">
        <span class="sm-playlist-item-title">Bad Thing</span>
        <span class="sm-playlist-item-artist">Miya Folick</span>
    </button>
  </li>
  <li data-track="08" data-marker="▸">
    <button class="sm-playlist-item" data-src="u6VaHQw4c60" data-idx="7" data-image-src="https://i.ytimg.com/vi/u6VaHQw4c60/maxresdefault.jpg" data-artist="Sky Ferreira" data-title="Everything Is Embarrassing" data-timestamp="4:10" data-color="rgb(212,214,215)">
        <span class="sm-playlist-item-title">Everything Is Embarrassing</span>
        <span class="sm-playlist-item-artist">Sky Ferreira</span>
    </button>
  </li>
  <li data-track="09" data-marker="▸">
    <button class="sm-playlist-item" data-src="R1Ri1iuE2yM" data-idx="8" data-image-src="https://i.ytimg.com/vi/R1Ri1iuE2yM/maxresdefault.jpg" data-artist="boygenius" data-title="Emily I'm Sorry" data-timestamp="3:35" data-color="rgb(73,66,47)">
        <span class="sm-playlist-item-title">Emily I'm Sorry</span>
        <span class="sm-playlist-item-artist">boygenius</span>
    </button>
  </li>
  <li data-track="10" data-marker="▸">
    <button class="sm-playlist-item" data-src="QQnc-hM80UQ" data-idx="9" data-image-src="https://i.ytimg.com/vi/QQnc-hM80UQ/maxresdefault.jpg" data-artist="Radiohead" data-title="You And Whose Army?" data-timestamp="3:11" data-color="rgb(217,48,47)">
        <span class="sm-playlist-item-title">You And Whose Army?</span>
        <span class="sm-playlist-item-artist">Radiohead</span>
    </button>
  </li>
  <li data-track="11" data-marker="▸">
    <button class="sm-playlist-item" data-src="nxof6LWnc_8" data-idx="10" data-image-src="https://i.ytimg.com/vi/nxof6LWnc_8/maxresdefault.jpg" data-artist="Sufjan Stevens" data-title="Back To Oz" data-timestamp="4:13" data-color="rgb(205,190,144)">
        <span class="sm-playlist-item-title">Back To Oz</span>
        <span class="sm-playlist-item-artist">Sufjan Stevens</span>
    </button>
  </li>
  <li data-track="12" data-marker="▸">
    <button class="sm-playlist-item" data-src="Yh-yjzyrggA" data-idx="11" data-image-src="https://i.ytimg.com/vi/Yh-yjzyrggA/maxresdefault.jpg" data-artist="Big Thief" data-title="Vampire Empire" data-timestamp="3:13" data-color="rgb(55,43,14)">
        <span class="sm-playlist-item-title">Vampire Empire</span>
        <span class="sm-playlist-item-artist">Big Thief</span>
    </button>
  </li>
  <li data-track="13" data-marker="▸">
    <button class="sm-playlist-item" data-src="eMbny_Q7m5s" data-idx="12" data-image-src="https://i.ytimg.com/vi/eMbny_Q7m5s/maxresdefault.jpg" data-artist="Yo La Tengo" data-title="Everyday" data-timestamp="6:32" data-color="rgb(59,37,46)">
        <span class="sm-playlist-item-title">Everyday</span>
        <span class="sm-playlist-item-artist">Yo La Tengo</span>
    </button>
  </li>
  <li data-track="14" data-marker="▸">
    <button class="sm-playlist-item" data-src="sDsdLfvmNms" data-idx="13" data-image-src="https://i.ytimg.com/vi/sDsdLfvmNms/maxresdefault.jpg" data-artist="Phoebe Bridgers" data-title="Funeral" data-timestamp="3:53" data-color="rgb(51,67,76)">
        <span class="sm-playlist-item-title">Funeral</span>
        <span class="sm-playlist-item-artist">Phoebe Bridgers</span>
    </button>
  </li>
  <li data-track="15" data-marker="▸">
    <button class="sm-playlist-item" data-src="k3vVBrbZuw0" data-idx="14" data-image-src="https://i.ytimg.com/vi/k3vVBrbZuw0/maxresdefault.jpg" data-artist="Gregory Alan Isakov" data-title="San Luis" data-timestamp="4:33" data-color="rgb(62,63,47)">
        <span class="sm-playlist-item-title">San Luis</span>
        <span class="sm-playlist-item-artist">Gregory Alan Isakov</span>
    </button>
  </li>
  <li data-track="16" data-marker="▸">
    <button class="sm-playlist-item" data-src="JBM6scuwnhA" data-idx="15" data-image-src="https://i.ytimg.com/vi/JBM6scuwnhA/maxresdefault.jpg" data-artist="Yeah Yeah Yeahs" data-title="Spitting Off the Edge of the World (Lush Version)" data-timestamp="4:24" data-color="rgb(70,27,31)">
        <span class="sm-playlist-item-title">Spitting Off the Edge of the World (Lush Version)</span>
        <span class="sm-playlist-item-artist">Yeah Yeah Yeahs</span>
    </button>
  </li>
        </ol>
    </div>
    <div class="sm-playlist-controls">
      <div class="sm-playlist-cover-art" style="background-image: url(https://i.ytimg.com/vi/yNUO6MFaUnM/maxresdefault.jpg)"></div>
      <div class="sm-playlist-now-playing">
        <p>Be Sweet</p>
        <p>Japanese Breakfast</p>
      </div>

      <div class="sm-playlist-buttons">
        <button class="sm-playlist-button" data-control="previous" aria-label="Previous track">
          <svg aria-hidden='true'>
          <use href='#sm-back-icon'></use>
          </svg>
        </button>
        
        <button class="sm-playlist-button" data-control="play" aria-label="play">
          <svg aria-hidden='true'>
          <use href='#sm-play-icon'></use>
          </svg>
        </button>

        <button class="sm-playlist-button" data-control="pause" aria-label="pause">
          <svg aria-hidden='true'>
          <use href='#sm-pause-icon'></use>
          </svg>
        </button>

        <button class="sm-playlist-button" data-control="forward" aria-label="forward">
          <svg aria-hidden='true'>
          <use href='#sm-forward-icon'></use>
          </svg>
        </button>
      </div>

      <div class="sm-playlist-progress" data-volume="high">
        <span class="sm-start-time">0:00</span>
        <span class="sm-end-time">3:16</span>
        <input type="range" id="progress" name="progress" min="0" max="100" value="100" />
      </div>

      <div class="sm-playlist-volume" data-volume="high">
        <span class="sm-muted"><svg aria-label="muted" aria-hidden="true"><use href="#sm-mute-icon"></use></svg></span>
        <span class="sm-low-volume"><svg aria-label="volume low" aria-hidden="true"><use href="#sm-volume-down"></use></svg></span>
        <span class="sm-high-volume"><svg aria-label="volume high" aria-hidden="true"><use href="#sm-volume-up"></use></svg></span>
        <input type="range" id="volume" name="volume" min="0" max="100" value="100" />
      </div>
    

    </div>
    <div class="sm-playlist-iframe" id="player"></div>
  </section>