<section class='sm-music-grid'>
  <div class='sm-music-text'>
    <h3>A Crumb Coat for the Mind</h3>
    <p>18 Tracks / 1 hour 17 minutes</p>
    <ol class='sm-music-page sm-music-active'>

      <li>
        <button
          class='sm-playlist-item'
          data-src='OgHyWg7Jh3k'
          data-idx='0'
          data-image-src='https://i.ytimg.com/vi/OgHyWg7Jh3k/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Dune</span>
          <span class='sm-playlist-item-artist'>Kikagaku Moyo</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='Gte3m_-jyCw'
          data-idx='1'
          data-image-src='https://i.ytimg.com/vi/Gte3m_-jyCw/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>I Won't Be There</span>
          <span class='sm-playlist-item-artist'>Skinshape</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='6PfYo-YYVPY'
          data-idx='2'
          data-image-src='https://i.ytimg.com/vi/6PfYo-YYVPY/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Staring At The Sun</span>
          <span class='sm-playlist-item-artist'>Wooden Shjips</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='Esit0k1NE4I'
          data-idx='3'
          data-image-src='https://i.ytimg.com/vi/Esit0k1NE4I/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Snow Days</span>
          <span class='sm-playlist-item-artist'>Real Estate</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='15m_iQaKHVg'
          data-idx='4'
          data-image-src='https://i.ytimg.com/vi/15m_iQaKHVg/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Spitting Off the Edge of the
            World</span>
          <span class='sm-playlist-item-artist'>Yeah Yeah Yeahs</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='aA5l2qsX_O8'
          data-idx='5'
          data-image-src='https://i.ytimg.com/vi/aA5l2qsX_O8/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Paprika</span>
          <span class='sm-playlist-item-artist'>Japanese Breakfast</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='HdemOVIXuAI'
          data-idx='6'
          data-image-src='https://i.ytimg.com/vi/HdemOVIXuAI/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Dopamine</span>
          <span class='sm-playlist-item-artist'>DIIV</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='BqnG_Ei35JE'
          data-idx='7'
          data-image-src='https://i.ytimg.com/vi/BqnG_Ei35JE/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Crumb - Locket [Official Video]</span>
          <span class='sm-playlist-item-artist'>Crumb The Band</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='RV1-GJJf2Pg'
          data-idx='8'
          data-image-src='https://i.ytimg.com/vi/RV1-GJJf2Pg/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Not Strong Enough</span>
          <span class='sm-playlist-item-artist'>boygenius</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='Wmw0ELu_jrM'
          data-idx='9'
          data-image-src='https://i.ytimg.com/vi/Wmw0ELu_jrM/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Wasted Acres</span>
          <span class='sm-playlist-item-artist'>Grizzly Bear</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='jQt6ZzJfioc'
          data-idx='10'
          data-image-src='https://i.ytimg.com/vi/jQt6ZzJfioc/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Mind Fields</span>
          <span class='sm-playlist-item-artist'>No Vacation</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='nXITdhX0AsE'
          data-idx='11'
          data-image-src='https://i.ytimg.com/vi/nXITdhX0AsE/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Big Sis</span>
          <span class='sm-playlist-item-artist'>SALES</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='wSTYIyQxfPQ'
          data-idx='12'
          data-image-src='https://i.ytimg.com/vi/wSTYIyQxfPQ/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Show Me How</span>
          <span class='sm-playlist-item-artist'>Men I Trust</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='7AEK0psjkZo'
          data-idx='13'
          data-image-src='https://i.ytimg.com/vi/7AEK0psjkZo/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Elbow Pain</span>
          <span class='sm-playlist-item-artist'>Glue Trip</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='4a4zu5t83yY'
          data-idx='14'
          data-image-src='https://i.ytimg.com/vi/4a4zu5t83yY/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Redbone</span>
          <span class='sm-playlist-item-artist'>Childish Gambino</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='5jzXLv_zdH4'
          data-idx='15'
          data-image-src='https://i.ytimg.com/vi/5jzXLv_zdH4/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Idaho Alien</span>
          <span class='sm-playlist-item-artist'>Youth Lagoon</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='1JIvfi0v4ZY'
          data-idx='16'
          data-image-src='https://i.ytimg.com/vi/1JIvfi0v4ZY/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Psychos</span>
          <span class='sm-playlist-item-artist'>Jenny Lewis</span>
        </button>
      </li>
      <li>
        <button
          class='sm-playlist-item'
          data-src='qWIpelAsycg'
          data-idx='17'
          data-image-src='https://i.ytimg.com/vi/qWIpelAsycg/maxresdefault.jpg'
        >
          <span class='sm-playlist-item-title'>Love Again</span>
          <span class='sm-playlist-item-artist'>Meltt</span>
        </button>
      </li>
    </ol>
  </div>
  <div class='sm-playlist-controls'>
  </div>
  <div class='sm-playlist-iframe' id='player'></div>
</section>