
  <section class="sm-playlist-grid" data-playlist-id="PLnPe3mrvTpEx2t2OEX_3KIx2yOSOVsdKm">
    <div class="sm-playlist-text">
        <h3><a href="https://music.youtube.com/playlist?list=PLnPe3mrvTpEx2t2OEX_3KIx2yOSOVsdKm" target="_blank">Problems are the solution</a></h3>
        <p>20 Tracks / 1 hour 31 minutes</p>
        <ol class="sm-playlist-page sm-playlist-active">
          
  <li data-track="01" data-marker="▸">
    <button class="sm-playlist-item" data-src="sw9YfI1TkjA" data-idx="0" data-image-src="https://i.ytimg.com/vi/sw9YfI1TkjA/maxresdefault.jpg" data-artist="New Constellations" data-title="Hot Blooded" data-timestamp="4:47" data-color="rgb(97,37,54)">
        <span class="sm-playlist-item-title">Hot Blooded</span>
        <span class="sm-playlist-item-artist">New Constellations</span>
    </button>
  </li>
  <li data-track="02" data-marker="▸">
    <button class="sm-playlist-item" data-src="k1gRkyQf3Oo" data-idx="1" data-image-src="https://i.ytimg.com/vi/k1gRkyQf3Oo/maxresdefault.jpg" data-artist="Night Tapes" data-title="Forever" data-timestamp="4:10" data-color="rgb(92,33,34)">
        <span class="sm-playlist-item-title">Forever</span>
        <span class="sm-playlist-item-artist">Night Tapes</span>
    </button>
  </li>
  <li data-track="03" data-marker="▸">
    <button class="sm-playlist-item" data-src="WCSuv56YwQQ" data-idx="2" data-image-src="https://i.ytimg.com/vi/WCSuv56YwQQ/maxresdefault.jpg" data-artist="No Vacation" data-title="Yam Yam" data-timestamp="3:37" data-color="rgb(76,68,16)">
        <span class="sm-playlist-item-title">Yam Yam</span>
        <span class="sm-playlist-item-artist">No Vacation</span>
    </button>
  </li>
  <li data-track="04" data-marker="▸">
    <button class="sm-playlist-item" data-src="Wv-1SMxR6N8" data-idx="3" data-image-src="https://i.ytimg.com/vi/Wv-1SMxR6N8/maxresdefault.jpg" data-artist="Men I Trust" data-title="Sugar" data-timestamp="2:57" data-color="rgb(58,69,79)">
        <span class="sm-playlist-item-title">Sugar</span>
        <span class="sm-playlist-item-artist">Men I Trust</span>
    </button>
  </li>
  <li data-track="05" data-marker="▸">
    <button class="sm-playlist-item" data-src="00TFzhJkpy8" data-idx="4" data-image-src="https://i.ytimg.com/vi/00TFzhJkpy8/maxresdefault.jpg" data-artist="Still Corners" data-title="Black Lagoon" data-timestamp="5:34" data-color="rgb(74,51,52)">
        <span class="sm-playlist-item-title">Black Lagoon</span>
        <span class="sm-playlist-item-artist">Still Corners</span>
    </button>
  </li>
  <li data-track="06" data-marker="▸">
    <button class="sm-playlist-item" data-src="1veF_lrvij8" data-idx="5" data-image-src="https://i.ytimg.com/vi/1veF_lrvij8/maxresdefault.jpg" data-artist="The Shins" data-title="New Slang" data-timestamp="3:52" data-color="rgb(151,182,203)">
        <span class="sm-playlist-item-title">New Slang</span>
        <span class="sm-playlist-item-artist">The Shins</span>
    </button>
  </li>
  <li data-track="07" data-marker="▸">
    <button class="sm-playlist-item" data-src="mCfHJ9cnjW0" data-idx="6" data-image-src="https://i.ytimg.com/vi/mCfHJ9cnjW0/maxresdefault.jpg" data-artist="Mazzy Star" data-title="Fade Into You" data-timestamp="4:58" data-color="rgb(49,29,29)">
        <span class="sm-playlist-item-title">Fade Into You</span>
        <span class="sm-playlist-item-artist">Mazzy Star</span>
    </button>
  </li>
  <li data-track="08" data-marker="▸">
    <button class="sm-playlist-item" data-src="jMjTOhqQ2Bs" data-idx="7" data-image-src="https://i.ytimg.com/vi/jMjTOhqQ2Bs/maxresdefault.jpg" data-artist="A Beacon School" data-title="It's Late" data-timestamp="6:07" data-color="rgb(63,63,63)">
        <span class="sm-playlist-item-title">It's Late</span>
        <span class="sm-playlist-item-artist">A Beacon School</span>
    </button>
  </li>
  <li data-track="09" data-marker="▸">
    <button class="sm-playlist-item" data-src="lUpotj3VAqc" data-idx="8" data-image-src="https://i.ytimg.com/vi/lUpotj3VAqc/maxresdefault.jpg" data-artist="Selfsteam" data-title="When I Forget Who I Am... ?" data-timestamp="2:30" data-color="rgb(59,51,35)">
        <span class="sm-playlist-item-title">When I Forget Who I Am... ?</span>
        <span class="sm-playlist-item-artist">Selfsteam</span>
    </button>
  </li>
  <li data-track="10" data-marker="▸">
    <button class="sm-playlist-item" data-src="wB7Il7PAiSM" data-idx="9" data-image-src="https://i.ytimg.com/vi/wB7Il7PAiSM/maxresdefault.jpg" data-artist="Salami Rose Joe Louis" data-title="I Miss You So" data-timestamp="3:27" data-color="rgb(51,50,52)">
        <span class="sm-playlist-item-title">I Miss You So</span>
        <span class="sm-playlist-item-artist">Salami Rose Joe Louis</span>
    </button>
  </li>
  <li data-track="11" data-marker="▸">
    <button class="sm-playlist-item" data-src="sIKgU2TshtI" data-idx="10" data-image-src="https://i.ytimg.com/vi/sIKgU2TshtI/maxresdefault.jpg" data-artist="Cuco" data-title="Lover Is a Day" data-timestamp="7:36" data-color="rgb(96,17,60)">
        <span class="sm-playlist-item-title">Lover Is a Day</span>
        <span class="sm-playlist-item-artist">Cuco</span>
    </button>
  </li>
  <li data-track="12" data-marker="▸">
    <button class="sm-playlist-item" data-src="72fDsC2kX7g" data-idx="11" data-image-src="https://i.ytimg.com/vi/72fDsC2kX7g/maxresdefault.jpg" data-artist="Aimee Mann" data-title="Save Me" data-timestamp="4:35" data-color="rgb(220,193,138)">
        <span class="sm-playlist-item-title">Save Me</span>
        <span class="sm-playlist-item-artist">Aimee Mann</span>
    </button>
  </li>
  <li data-track="13" data-marker="▸">
    <button class="sm-playlist-item" data-src="MA3aKUwu-Dk" data-idx="12" data-image-src="https://i.ytimg.com/vi/MA3aKUwu-Dk/maxresdefault.jpg" data-artist="The Velvet Underground" data-title="Pale Blue Eyes" data-timestamp="5:40" data-color="rgb(47,48,51)">
        <span class="sm-playlist-item-title">Pale Blue Eyes</span>
        <span class="sm-playlist-item-artist">The Velvet Underground</span>
    </button>
  </li>
  <li data-track="14" data-marker="▸">
    <button class="sm-playlist-item" data-src="hViNmzEIxFs" data-idx="13" data-image-src="https://i.ytimg.com/vi/hViNmzEIxFs/maxresdefault.jpg" data-artist="Moon Monsoon" data-title="All I Want" data-timestamp="5:03" data-color="rgb(248,124,103)">
        <span class="sm-playlist-item-title">All I Want</span>
        <span class="sm-playlist-item-artist">Moon Monsoon</span>
    </button>
  </li>
  <li data-track="15" data-marker="▸">
    <button class="sm-playlist-item" data-src="7WXXaIz3uds" data-idx="14" data-image-src="https://i.ytimg.com/vi/7WXXaIz3uds/maxresdefault.jpg" data-artist="Clairo" data-title="Amoeba" data-timestamp="3:49" data-color="rgb(63,61,61)">
        <span class="sm-playlist-item-title">Amoeba</span>
        <span class="sm-playlist-item-artist">Clairo</span>
    </button>
  </li>
  <li data-track="16" data-marker="▸">
    <button class="sm-playlist-item" data-src="HpYdA-06jTc" data-idx="15" data-image-src="https://i.ytimg.com/vi/HpYdA-06jTc/maxresdefault.jpg" data-artist="WILLIS" data-title="I Think I Like When It Rains" data-timestamp="4:39" data-color="rgb(71,64,42)">
        <span class="sm-playlist-item-title">I Think I Like When It Rains</span>
        <span class="sm-playlist-item-artist">WILLIS</span>
    </button>
  </li>
  <li data-track="17" data-marker="▸">
    <button class="sm-playlist-item" data-src="k7kzc3Nof08" data-idx="16" data-image-src="https://i.ytimg.com/vi/k7kzc3Nof08/maxresdefault.jpg" data-artist="The Walters" data-title="I Love You So" data-timestamp="2:41" data-color="rgb(58,58,58)">
        <span class="sm-playlist-item-title">I Love You So</span>
        <span class="sm-playlist-item-artist">The Walters</span>
    </button>
  </li>
  <li data-track="18" data-marker="▸">
    <button class="sm-playlist-item" data-src="TIb3Qlv4D1A" data-idx="17" data-image-src="https://i.ytimg.com/vi/TIb3Qlv4D1A/maxresdefault.jpg" data-artist="Clairo" data-title="Bags" data-timestamp="4:21" data-color="rgb(69,63,45)">
        <span class="sm-playlist-item-title">Bags</span>
        <span class="sm-playlist-item-artist">Clairo</span>
    </button>
  </li>
  <li data-track="19" data-marker="▸">
    <button class="sm-playlist-item" data-src="3vEiqil5d3Q" data-idx="18" data-image-src="https://i.ytimg.com/vi/3vEiqil5d3Q/maxresdefault.jpg" data-artist="The Rare Occasions" data-title="Notion" data-timestamp="3:16" data-color="rgb(87,39,32)">
        <span class="sm-playlist-item-title">Notion</span>
        <span class="sm-playlist-item-artist">The Rare Occasions</span>
    </button>
  </li>
  <li data-track="20" data-marker="▸">
    <button class="sm-playlist-item" data-src="om2PZ3_HWZk" data-idx="19" data-image-src="https://i.ytimg.com/vi/om2PZ3_HWZk/maxresdefault.jpg" data-artist="Naxatras" data-title="Waves" data-timestamp="7:21" data-color="rgb(76,59,38)">
        <span class="sm-playlist-item-title">Waves</span>
        <span class="sm-playlist-item-artist">Naxatras</span>
    </button>
  </li>
        </ol>
    </div>
    <div class="sm-playlist-controls">
      <div class="sm-playlist-cover-art" style="background-image: url(https://i.ytimg.com/vi/sw9YfI1TkjA/maxresdefault.jpg)"></div>
      <div class="sm-playlist-now-playing">
        <p>Hot Blooded</p>
        <p>New Constellations</p>
      </div>

      <div class="sm-playlist-buttons">
        <button class="sm-playlist-button" data-control="previous" aria-label="Previous track">
          <svg aria-hidden='true'>
          <use href='#sm-back-icon'></use>
          </svg>
        </button>
        
        <button class="sm-playlist-button" data-control="play" aria-label="play">
          <svg aria-hidden='true'>
          <use href='#sm-play-icon'></use>
          </svg>
        </button>

        <button class="sm-playlist-button" data-control="pause" aria-label="pause">
          <svg aria-hidden='true'>
          <use href='#sm-pause-icon'></use>
          </svg>
        </button>

        <button class="sm-playlist-button" data-control="forward" aria-label="forward">
          <svg aria-hidden='true'>
          <use href='#sm-forward-icon'></use>
          </svg>
        </button>
      </div>

      <div class="sm-playlist-progress" data-volume="high">
        <span class="sm-start-time">0:00</span>
        <span class="sm-end-time">4:47</span>
        <input type="range" id="progress" name="progress" min="0" max="100" value="100" />
      </div>

      <div class="sm-playlist-volume" data-volume="high">
        <span class="sm-muted"><svg aria-label="muted" aria-hidden="true"><use href="#sm-mute-icon"></use></svg></span>
        <span class="sm-low-volume"><svg aria-label="volume low" aria-hidden="true"><use href="#sm-volume-down"></use></svg></span>
        <span class="sm-high-volume"><svg aria-label="volume high" aria-hidden="true"><use href="#sm-volume-up"></use></svg></span>
        <input type="range" id="volume" name="volume" min="0" max="100" value="100" />
      </div>
    

    </div>
    <div class="sm-playlist-iframe" id="player"></div>
  </section>