
<article class="rd-item">
    <a href="https://hidde.blog/dialog-modal-popover-differences/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://hidde.blog/_images/modalsog.png" alt="Dialogs and popovers seem similar. How are they different? | hidde.blog" height=733 width="1400" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Dialogs and popovers seem similar. How are they different? | hidde.blog</h3>
                <p class="rd-item-excerpt">A deep dive into the semantics, behaviours and characteristics of some of the most common user interface elements of websites today.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">hidde.blog</p>
                <p class="rd-item-date">11/7/2022</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://tedium.co/2023/11/24/weird-html-hacks-history/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://images.tedium.co/uploads/tedium112423.gif" alt="10 Weird HTML Hacks That Shaped The Internet" height=270 width="650" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">10 Weird HTML Hacks That Shaped The Internet</h3>
                <p class="rd-item-excerpt">From table hacks to CSS kludges, these are some of the techniques that helped web developers get their fancy pages on the internet.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">tedium.co</p>
                <p class="rd-item-date">11/28/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://dev.to/bekahhw/the-evolving-landscape-of-devrel-trends-and-predictions-for-2023-3lp4" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--e0XFzwkv--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/ixhhiox91przhzqzla9y.png" alt="The Evolving Landscape of DevRel: Trends and Predictions for 2023" height=500 width="1000" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">The Evolving Landscape of DevRel: Trends and Predictions for 2023</h3>
                <p class="rd-item-excerpt">A comprehensive look at the shifting dynamics of Developer Relations in 2023, highlighting key trends, challenges, and opportunities for DevRel professionals.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">dev.to</p>
                <p class="rd-item-date">11/26/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://open.substack.com/pub/yohanjohn/p/on-medium-sized-questions-in-neuroscience?utm_campaign=post&utm_medium=web" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://substackcdn.com/image/fetch/w_1200,h_600,c_fill,f_jpg,q_auto:good,fl_progressive:steep,g_auto/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F89c86818-2d9d-4275-878d-7f4eca002821_892x509.jpeg" alt="On medium-sized questions in neuroscience" height=509 width="892" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">On medium-sized questions in neuroscience</h3>
                <p class="rd-item-excerpt">Featuring sensory substitution, fading percepts, and hyperacuity</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">open.substack.com</p>
                <p class="rd-item-date">4/11/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://www.henrikkarlsson.xyz/p/search-query" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://substackcdn.com/image/fetch/w_1200,h_600,c_fill,f_jpg,q_auto:good,fl_progressive:steep,g_auto/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Ff0dbceaf-9fe3-4673-b229-bfb1b5cf8cad_800x588.jpeg" alt="A blog post is a very long and complex search query to find fascinating people and make them route interesting stuff to your inbox" height=588 width="800" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">A blog post is a very long and complex search query to find fascinating people and make them route interesting stuff to your inbox</h3>
                <p class="rd-item-excerpt">When writing in public, there is a common idea that you should make it accessible. This is a left over from mass media.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">henrikkarlsson.xyz</p>
                <p class="rd-item-date">10/5/2022</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://nautil.us/yes-we-have-free-will-no-we-absolutely-do-not-431904/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://assets.nautil.us/sites/3/nautilus/Oj6m8dbu-Falk_HERO.png?auto=compress&fm=png&ixlib=php-3.3.1" alt="Yes, We Have Free Will. No, We Absolutely Do Not" height=480 width="800" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Yes, We Have Free Will. No, We Absolutely Do Not</h3>
                <p class="rd-item-excerpt">A volley of new insights reignites the debate over whether our choices are ever truly our own.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">nautil.us</p>
                <p class="rd-item-date">12/4/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://github.blog/2023-10-30-the-architecture-of-todays-llm-applications/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://github.blog/wp-content/uploads/2023/10/LLMapparchitecturediagram.png" alt="The architecture of today’s LLM applications" height=2148 width="4088" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">The architecture of today’s LLM applications</h3>
                <p class="rd-item-excerpt">Here’s everything you need to know to build your first LLM app and problem spaces you can start exploring today.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">github.blog</p>
                <p class="rd-item-date">1/4/2024</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://github.blog/2023-10-27-demystifying-llms-how-they-can-do-things-they-werent-trained-to-do/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://github.blog/wp-content/uploads/2023/10/AI-DarkMode-3.png" alt="Demystifying LLMs: How they can do things they weren’t trained to do" height=630 width="1200" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Demystifying LLMs: How they can do things they weren’t trained to do</h3>
                <p class="rd-item-excerpt">Explore how LLMs generate text, why they sometimes hallucinate information, and the ethical implications surrounding their incredible capabilities.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">github.blog</p>
                <p class="rd-item-date">12/4/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://nautil.us/is-the-hard-problem-really-so-hard-421778/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://assets.nautil.us/sites/3/nautilus/EMUB0CN2-Musser_HERO.png?auto=compress&fm=png&ixlib=php-3.3.1" alt="Is the Hard Problem Really So Hard?" height=480 width="800" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Is the Hard Problem Really So Hard?</h3>
                <p class="rd-item-excerpt">The qualities of our experience seem impossible to describe scientifically, but maybe we’re just not thinking about them right.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">nautil.us</p>
                <p class="rd-item-date">12/11/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://www.ben-evans.com/benedictevans/2023/8/27/generative-ai-ad-intellectual-property" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="http://static1.squarespace.com/static/50363cf324ac8e905e7df861/5055cb1de4b0a751cabaedd5/64e78ab196258525a98fb7af/1693218403440/IMG_0225.jpeg?format=1500w" alt="Generative AI and intellectual property — Benedict Evans" height=573 width="1277" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Generative AI and intellectual property — Benedict Evans</h3>
                <p class="rd-item-excerpt">If you put all the world’s knowledge into an AI model and use it to make something new, who owns that and who gets paid? This is a completely new problem that we’ve been arguing about for 500 years.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">ben-evans.com</p>
                <p class="rd-item-date">10/19/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://nofilmschool.com/reservation-dogs-editors-interview" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://nofilmschool.com/media-library/two-native-americans-walking-next-to-a-horse-in-reservation-dogs.webp?id=35333914&width=1200&height=600&coordinates=0%2C132%2C0%2C132" alt="These Editors Walk Us Through the Cut of 'Reservation Dogs' Episode "Deer Lady"" height=600 width="1200" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">These Editors Walk Us Through the Cut of 'Reservation Dogs' Episode "Deer Lady"</h3>
                <p class="rd-item-excerpt">No Film School speaks with editors Varun Viswanath and Patrick Tuck.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">nofilmschool.com</p>
                <p class="rd-item-date">9/5/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://www.bostonreview.net/articles/could-a-large-language-model-be-conscious/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://www.bostonreview.net/wp-content/uploads/2023/08/chalmers-1.jpg" alt="Could a Large Language Model Be Conscious? - Boston Review" height=814 width="998" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Could a Large Language Model Be Conscious? - Boston Review</h3>
                <p class="rd-item-excerpt">Within the next decade, we may well have systems that are serious candidates for consciousness.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">bostonreview.net</p>
                <p class="rd-item-date">8/10/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://hackernoon.com/a-beginners-guide-to-using-large-language-models-llms-with-the-palm-api" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://hackernoon.imgix.net/images/GFxWNaVUGadCuz5svjQlUTu1iz12-avc33xu.jpeg?mark-pad=0&mark=http://hackernoon.imgix.net/HackerNoon%20Rounded%20Horizontal.png?w=400" alt="A Beginner's Guide to Using Large Language Models (LLMs) With the PaLM API | HackerNoon" height=483 width="810" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">A Beginner's Guide to Using Large Language Models (LLMs) With the PaLM API | HackerNoon</h3>
                <p class="rd-item-excerpt">This tutorial is a comprehensive introduction to leveraging Large Language Models (LLMs) through the PaLM API for crafting personalized cover letters to enhance</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">hackernoon.com</p>
                <p class="rd-item-date">8/21/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://dev.to/this-is-learning/iterate-like-a-pro-mastering-javascript-iterators-for-effortless-code-4e5p" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--_XcGRFJy--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://cdn.hashnode.com/res/hashnode/image/upload/v1692600372219/e008b05a-5b8d-4f83-a935-a1f831bb6e6f.png" alt="Iterate Like a Pro: Mastering JavaScript Iterators for Effortless Code - DEV Community" height=500 width="1000" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Iterate Like a Pro: Mastering JavaScript Iterators for Effortless Code - DEV Community</h3>
                <p class="rd-item-excerpt">Welcome to this blog post, where we're about to unravel the power and versatility of JavaScript...</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">dev.to</p>
                <p class="rd-item-date">8/25/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://esif.dev/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://rdl.ink/render/https%3A%2F%2Fesif.dev%2F" alt="Educational Sensational Inspirational Foundational" height=900 width="1280" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Educational Sensational Inspirational Foundational</h3>
                <p class="rd-item-excerpt">A historical record of foundational web development blog posts.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">esif.dev</p>
                <p class="rd-item-date">12/31/1997</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://dev.to/inovak/marketing-for-developers-the-unconventional-guide-3a1j" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--O6MST6WP--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/4s37gu0z7s1zne33f7za.png" alt="Marketing for Developers: The Unconventional Guide - DEV Community" height=500 width="1000" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Marketing for Developers: The Unconventional Guide - DEV Community</h3>
                <p class="rd-item-excerpt">You've built an amazing new product. The code is elegant, the interface intuitive. You launch it with...</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">dev.to</p>
                <p class="rd-item-date">8/24/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://time.com/6309281/immanuel-kant-ai-essay/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://api.time.com/wp-content/uploads/2023/08/GettyImages-1387779336.jpg?quality=85" alt="Why Kant Wouldn't Fear ChatGPT-4 | Time" height=1891 width="1585" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Why Kant Wouldn't Fear ChatGPT-4 | Time</h3>
                <p class="rd-item-excerpt">A key aspect of how we think separates us from even the most advanced AI</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">time.com</p>
                <p class="rd-item-date">8/29/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://smashingmagazine.com/2023/08/oklch-color-spaces-gamuts-css/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://files.smashing.media/articles/oklch-color-spaces-gamuts-css/oklch-color-spaces-gamuts-css.jpg" alt="Falling For Oklch: A Love Story Of Color Spaces, Gamuts, And CSS" height=675 width="1200" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Falling For Oklch: A Love Story Of Color Spaces, Gamuts, And CSS</h3>
                <p class="rd-item-excerpt">The CSS Color Module Level 4 specification defined a slew of new color features when it became a candidate recommendation in 2022, including Oklab and Oklch, which have widened the field of color we have to work with. Explore the Oklch color space and how to start using it in CSS today.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">smashingmagazine.com</p>
                <p class="rd-item-date">8/28/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://frontendmasters.com/blog/vanilla-javascript-reactivity/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://static.frontendmasters.com/assets/blog/2023/vanilla-javascript-reactivity.jpg" alt="Patterns for Reactivity with Modern Vanilla JavaScript | Frontend Masters" height=630 width="1200" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Patterns for Reactivity with Modern Vanilla JavaScript | Frontend Masters</h3>
                <p class="rd-item-excerpt">Reactivity is how systems react to changes in data and is core to web development. Learn JavaScript reactivity patterns to add to your toolbox, no matter what frameworks and libraries you use!</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">frontendmasters.com</p>
                <p class="rd-item-date">8/21/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://viewports.fyi/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://viewports.fyi/images/social-share.png" alt="The ideal viewport doesn’t exist" height=527 width="1024" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">The ideal viewport doesn’t exist</h3>
                <p class="rd-item-excerpt">Before you settle on basing design decisions on a handful of strict breakpoints, make sure you consider the vast fragmentation of screen sizes and browser viewports.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">viewports.fyi</p>
                
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://www.newyorker.com/magazine/2023/08/21/the-man-who-organized-nature-the-life-of-linnaeus-gunnar-broberg-book-review?utm_content=260982918&utm_medium=social&utm_source=facebook&hss_channel=fbp-96124072223" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://media.newyorker.com/photos/64d52deca209fde1c1877f60/16:9/w_1280,c_limit/230821_r42814web-story.jpg" alt="Carl Linnaeus and the Perilous Project of Labelling All of Life | The New Yorker" height=720 width="1280" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Carl Linnaeus and the Perilous Project of Labelling All of Life | The New Yorker</h3>
                <p class="rd-item-excerpt">He sorted and systematized and coined names for more than twelve thousand species. What do you call someone like that?</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">newyorker.com</p>
                <p class="rd-item-date">8/14/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://ethanmarcotte.com/wrote/let-a-website-be-a-worry-stone/" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://ethanmarcotte.com/img/ethan-thumb-social.jpg" alt="Let a website be a worry stone. — ethanmarcotte.com" height=1200 width="1200" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Let a website be a worry stone. — ethanmarcotte.com</h3>
                <p class="rd-item-excerpt">One turn deserves another.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">ethanmarcotte.com</p>
                <p class="rd-item-date">3/24/2020</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://joshcollinsworth.com/blog/antiquated-react#part-1-an-intro-about-music-defaults-and-bubbles" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://joshcollinsworth.com/images/post_images/because-of-react.png" alt="Things you forgot (or never knew) because of React - Josh Collinsworth blog" height=1080 width="1920" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Things you forgot (or never knew) because of React - Josh Collinsworth blog</h3>
                <p class="rd-item-excerpt">If you don't often look beyond established comfortable defaults, you might be surprised to learn just how far the world of frontend has moved away from React, and how big that gap continues to grow.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">joshcollinsworth.com</p>
                
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://ux.shopify.com/uplifting-shopify-polaris-7c54fc6564d9" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://miro.medium.com/v2/resize:fit:1200/1*247B8K14YiHZH7hjuvG2Zg.png" alt="Uplifting Shopify Polaris" height=586 width="1200" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">Uplifting Shopify Polaris</h3>
                <p class="rd-item-excerpt">The process of evolving a large scale Design System.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">ux.shopify.com</p>
                <p class="rd-item-date">10/23/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>
<article class="rd-item">
    <a href="https://www.spicyweb.dev/farewell-jamstack/?utm_source=Codrops+Subscribers&utm_campaign=156080d4a0-COLLECTIVE_776&utm_medium=email&utm_term=0_-a43123b2e4-%5BLIST_EMAIL_ID%5D" class="rd-item-link">
        <div class="rd-item-content">    
            <div class="rd-item-image">
                <img src="https://www.spicyweb.dev/images/spicy-web-avatar-light.png" alt="My Journey Away from the JAMstack" height=1200 width="1200" loading="lazy" />
            </div>
            <div class="rd-item-body">
                <h3 class="rd-item-title">My Journey Away from the JAMstack</h3>
                <p class="rd-item-excerpt">The name is all but dead, nerfed by the company who invented it. Here’s why Netlify was ahead of its time and where everything went wrong.</p>
            </div>
            <div class="rd-item-footer">
                <p class="rd-item-domain">spicyweb.dev</p>
                <p class="rd-item-date">7/31/2023</p>
            </div>
        </div>
        <svg class="rd-item-icon"><use href="#sm-icon-link"></use></svg>
    </a>
</article>