<article class='rd-item'>
  <a
    href='https://www.ben-evans.com/benedictevans/2023/8/27/generative-ai-ad-intellectual-property'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='http://static1.squarespace.com/static/50363cf324ac8e905e7df861/5055cb1de4b0a751cabaedd5/64e78ab196258525a98fb7af/1693218403440/IMG_0225.jpeg?format=1500w'
        alt='Generative AI and intellectual property — Benedict Evans'
        height='573'
        width='1277'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Generative AI and intellectual property —
          Benedict Evans</h3>
        <p class='rd-item-excerpt'>If you put all the world's knowledge into an
          AI model and use it to make something new, who owns that and who gets
          paid? This is a completely new problem that we've been arguing about
          for 500 years.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>ben-evans.com</p>
        <p class='rd-item-date'>10/2/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://nofilmschool.com/reservation-dogs-editors-interview'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://nofilmschool.com/media-library/two-native-americans-walking-next-to-a-horse-in-reservation-dogs.webp?id=35333914&width=1200&height=600&coordinates=0%2C132%2C0%2C132'
        alt='These Editors Walk Us Through the Cut of Reservation Dogs Episode Deer Lady'
        height='600'
        width='1200'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>These Editors Walk Us Through the Cut of
          'Reservation Dogs' Episode "Deer Lady"</h3>
        <p class='rd-item-excerpt'>No Film School speaks with editors Varun
          Viswanath and Patrick Tuck.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>nofilmschool.com</p>
        <p class='rd-item-date'>9/5/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://www.bostonreview.net/articles/could-a-large-language-model-be-conscious/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://www.bostonreview.net/wp-content/uploads/2023/08/chalmers-1.jpg'
        alt='Could a Large Language Model Be Conscious? - Boston Review'
        height='814'
        width='998'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Could a Large Language Model Be Conscious? -
          Boston Review</h3>
        <p class='rd-item-excerpt'>Within the next decade, we may well have
          systems that are serious candidates for consciousness.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>bostonreview.net</p>
        <p class='rd-item-date'>8/10/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://hackernoon.com/a-beginners-guide-to-using-large-language-models-llms-with-the-palm-api'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://hackernoon.imgix.net/images/GFxWNaVUGadCuz5svjQlUTu1iz12-avc33xu.jpeg?mark-pad=0&mark=http://hackernoon.imgix.net/HackerNoon%20Rounded%20Horizontal.png?w=400'
        alt="A Beginner's Guide to Using Large Language Models (LLMs) With the PaLM API | HackerNoon"
        height='483'
        width='810'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>A Beginner's Guide to Using Large Language
          Models (LLMs) With the PaLM API | HackerNoon</h3>
        <p class='rd-item-excerpt'>This tutorial is a comprehensive introduction
          to leveraging Large Language Models (LLMs) through the PaLM API for
          crafting personalized cover letters to enhance</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>hackernoon.com</p>
        <p class='rd-item-date'>8/21/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://dev.to/this-is-learning/iterate-like-a-pro-mastering-javascript-iterators-for-effortless-code-4e5p'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://res.cloudinary.com/practicaldev/image/fetch/s--_XcGRFJy--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://cdn.hashnode.com/res/hashnode/image/upload/v1692600372219/e008b05a-5b8d-4f83-a935-a1f831bb6e6f.png'
        alt='Iterate Like a Pro: Mastering JavaScript Iterators for Effortless Code - DEV Community'
        height='500'
        width='1000'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Iterate Like a Pro: Mastering JavaScript
          Iterators for Effortless Code - DEV Community</h3>
        <p class='rd-item-excerpt'>Welcome to this blog post, where we're about
          to unravel the power and versatility of JavaScript...</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>dev.to</p>
        <p class='rd-item-date'>8/25/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a href='https://esif.dev/' class='rd-item-link' target='_blank'>
    <div class='rd-item-image'>
      <img
        src='https://rdl.ink/render/https%3A%2F%2Fesif.dev%2F'
        alt='Educational Sensational Inspirational Foundational'
        height='900'
        width='1280'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Educational Sensational Inspirational
          Foundational</h3>
        <p class='rd-item-excerpt'>A historical record of foundational web
          development blog posts.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>esif.dev</p>
        <p class='rd-item-date'>12/31/1997</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://dev.to/inovak/marketing-for-developers-the-unconventional-guide-3a1j'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://res.cloudinary.com/practicaldev/image/fetch/s--O6MST6WP--/c_imagga_scale,f_auto,fl_progressive,h_500,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/4s37gu0z7s1zne33f7za.png'
        alt='Marketing for Developers: The Unconventional Guide - DEV Community'
        height='500'
        width='1000'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Marketing for Developers: The Unconventional
          Guide - DEV Community</h3>
        <p class='rd-item-excerpt'>You've built an amazing new product. The code
          is elegant, the interface intuitive. You launch it with...</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>dev.to</p>
        <p class='rd-item-date'>8/24/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://time.com/6309281/immanuel-kant-ai-essay/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://api.time.com/wp-content/uploads/2023/08/GettyImages-1387779336.jpg?quality=85'
        alt="Why Kant Wouldn't Fear ChatGPT-4 | Time"
        height='1891'
        width='1585'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Why Kant Wouldn't Fear ChatGPT-4 | Time</h3>
        <p class='rd-item-excerpt'>A key aspect of how we think separates us
          from even the most advanced AI</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>time.com</p>
        <p class='rd-item-date'>8/29/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://smashingmagazine.com/2023/08/oklch-color-spaces-gamuts-css/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://files.smashing.media/articles/oklch-color-spaces-gamuts-css/oklch-color-spaces-gamuts-css.jpg'
        alt='Falling For Oklch: A Love Story Of Color Spaces, Gamuts, And CSS'
        height='675'
        width='1200'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Falling For Oklch: A Love Story Of Color
          Spaces, Gamuts, And CSS</h3>
        <p class='rd-item-excerpt'>The CSS Color Module Level 4 specification
          defined a slew of new color features when it became a candidate
          recommendation in 2022, including Oklab and Oklch, which have widened
          the field of color we have to work with. Explore the Oklch color space
          and how to start using it in CSS today.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>smashingmagazine.com</p>
        <p class='rd-item-date'>8/28/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://frontendmasters.com/blog/vanilla-javascript-reactivity/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://static.frontendmasters.com/assets/blog/2023/vanilla-javascript-reactivity.jpg'
        alt='Patterns for Reactivity with Modern Vanilla JavaScript | Frontend Masters'
        height='630'
        width='1200'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Patterns for Reactivity with Modern Vanilla
          JavaScript | Frontend Masters</h3>
        <p class='rd-item-excerpt'>Reactivity is how systems react to changes in
          data and is core to web development. Learn JavaScript reactivity
          patterns to add to your toolbox, no matter what frameworks and
          libraries you use!</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>frontendmasters.com</p>

      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>