<article class='rd-item'>
  <a
    href='https://uxmovement.com/buttons/how-to-convert-your-light-ui-colors-into-dark-mode/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://uxmovement.com/wp-content/uploads/2023/08/darkmode-compare.png'
        alt='How to Convert Your Light UI Colors into Dark Mode'
        height='810'
        width='840'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>How to Convert Your Light UI Colors into Dark
          Mode</h3>
        <p class='rd-item-excerpt'>Does your interface have a dark mode? If not,
          you're missing your chance to give your users a better viewing
          experience. Many prefer viewing interfaces in dark mode because it's
          less intense on the eyes. The brightness of light UI colors can cause
          eye strain, especially when viewed in low-light environments. Changing
          your light UI colors […]</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>uxmovement.com</p>
        <p class='rd-item-date'>8/2/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://ethanmarcotte.com/wrote/let-a-website-be-a-worry-stone/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://ethanmarcotte.com/img/ethan-thumb-social.jpg'
        alt='Let a website be a worry stone. — ethanmarcotte.com'
        height='1200'
        width='1200'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Let a website be a worry stone. —
          ethanmarcotte.com</h3>
        <p class='rd-item-excerpt'>One turn deserves another.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>ethanmarcotte.com</p>
        <p class='rd-item-date'>3/24/2020</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://joshcollinsworth.com/blog/antiquated-react#part-1-an-intro-about-music-defaults-and-bubbles'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://joshcollinsworth.com/images/post_images/because-of-react.png'
        alt='Things you forgot (or never knew) because of React - Josh Collinsworth blog'
        height='1080'
        width='1920'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Things you forgot (or never knew) because of
          React - Josh Collinsworth blog</h3>
        <p class='rd-item-excerpt'>If you don't often look beyond established
          comfortable defaults, you might be surprised to learn just how far the
          world of frontend has moved away from React, and how big that gap
          continues to grow.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>joshcollinsworth.com</p>

      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://bookriot.com/underrated-award-winning-literary-fiction/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://s2982.pcdn.co/wp-content/uploads/2023/08/Last-of-Her-Name-cropped-cover.png'
        alt="8 Award-Winning Literary Fiction Books You've Never Heard Of"
        height='375'
        width='700'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>8 Award-Winning Literary Fiction Books You've
          Never Heard Of</h3>
        <p class='rd-item-excerpt'>Despite winning awards, these little-known
          beautiful and thought-provoking literary fiction books remain
          criminally underrated.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>bookriot.com</p>
        <p class='rd-item-date'>7/31/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://www.zeldman.com/2023/08/04/the-next-generation-of-web-layouts/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://www.zeldman.com/wp-content/zeld-2023-08-04-at-9.15.44-AM.png'
        alt='The Next Generation of Web Layouts - Zeldman on Web and Interaction Design'
        height='1220'
        width='1676'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>The Next Generation of Web Layouts - Zeldman
          on Web and Interaction Design</h3>
        <p class='rd-item-excerpt'>Who will design the next generation of
          readable, writerly web layouts?</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>zeldman.com</p>
        <p class='rd-item-date'>8/7/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://ux.shopify.com/uplifting-shopify-polaris-7c54fc6564d9'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://miro.medium.com/v2/resize:fit:1200/1*247B8K14YiHZH7hjuvG2Zg.png'
        alt='Uplifting Shopify Polaris'
        height='586'
        width='1200'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Uplifting Shopify Polaris</h3>
        <p class='rd-item-excerpt'>The process of evolving a large scale Design
          System.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>ux.shopify.com</p>
        <p class='rd-item-date'>8/3/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://www.spicyweb.dev/farewell-jamstack/?utm_source=Codrops+Subscribers&utm_campaign=156080d4a0-COLLECTIVE_776&utm_medium=email&utm_term=0_-a43123b2e4-%5BLIST_EMAIL_ID%5D'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://www.spicyweb.dev/images/spicy-web-avatar-light.png'
        alt='My Journey Away from the JAMstack'
        height='1200'
        width='1200'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>My Journey Away from the JAMstack</h3>
        <p class='rd-item-excerpt'>The name is all but dead, nerfed by the
          company who invented it. Here’s why Netlify was ahead of its time and
          where everything went wrong.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>spicyweb.dev</p>
        <p class='rd-item-date'>7/31/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://blogs.gnome.org/tbernard/2023/07/26/rethinking-window-management/?utm_source=Codrops+Subscribers&utm_campaign=156080d4a0-COLLECTIVE_776&utm_medium=email&utm_term=0_-a43123b2e4-%5BLIST_EMAIL_ID%5D'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://blogs.gnome.org/tbernard/files/2023/07/2023-04-26-17-29-38-132-scaled.jpg'
        alt='Rethinking Window Management – Space and Meaning'
        height='1920'
        width='2560'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Rethinking Window Management – Space and
          Meaning</h3>
        <p class='rd-item-excerpt'></p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>blogs.gnome.org</p>
        <p class='rd-item-date'>8/12/2073</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://ryantrimble.com/blog/css-only-scroll-animations/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://images.unsplash.com/photo-1529641484336-ef35148bab06?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80'
        alt='CSS-Only Scroll Animations | Ryan Trimble'
        height='980'
        width='1470'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>CSS-Only Scroll Animations | Ryan Trimble</h3>
        <p class='rd-item-excerpt'>I’m still digging into all the amazing things
          I learned at CSS Day!</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>ryantrimble.com</p>
        <p class='rd-item-date'>7/7/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://www.wired.com/story/life-philosophy-bioethics/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://media.wired.com/photos/6418c75c9b6c03d0a5f2a67d/191:100/w_1280,c_limit/ideas_life_biology_philosophy.jpg'
        alt='The End of ‘Life’ As You Know It | WIRED'
        height='670'
        width='1280'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>The End of ‘Life’ As You Know It | WIRED</h3>
        <p class='rd-item-excerpt'>Society’s outdated ideas about what it means
          to be alive are obstructing progress on some of today’s most pressing
          issues.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>wired.com</p>
        <p class='rd-item-date'>3/21/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://discord.com/blog/how-discord-stores-trillions-of-messages'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://assets-global.website-files.com/5f9072399b2640f14d6a2bf4/640658a746a8ce16d18f27ac_027_Header.png'
        alt='How Discord Stores Trillions of Messages'
        height='720'
        width='1800'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>How Discord Stores Trillions of Messages</h3>
        <p class='rd-item-excerpt'>Almost six years after our blog post titled
          "How Discord Stores Billions of Messages," we’ve changed a lot, and
          this means how we store messages has needed to adapt as we scale.
          Engineer Bo Ingram shares insight into how Discord shoulders its
          traffic and provides a platform for our users to communicate.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>discord.com</p>
        <p class='rd-item-date'>3/6/2023</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://michaelfeathers.silvrback.com/10-papers-every-developer-should-read-at-least-twice'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://rdl.ink/render/https%3A%2F%2Fmichaelfeathers.silvrback.com%2F10-papers-every-developer-should-read-at-least-twice'
        alt='Michael Feathers - 10 Papers Every Developer Should Read'
        height='900'
        width='1280'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>Michael Feathers - 10 Papers Every Developer
          Should Read</h3>
        <p class='rd-item-excerpt'>10 Papers Every Developer Should Read - (At
          Least Twice)</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>michaelfeathers.silvrback.com</p>
        <p class='rd-item-date'>11/15/2017</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://smashingmagazine.com/2022/03/guide-hover-pointer-media-queries/'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/e8282b7e-20d8-481e-8bd8-0261fd9c1cc0/guide-hover-pointer-media-queries.jpg'
        alt='A Guide To Hover And Pointer Media Queries'
        height='675'
        width='1200'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>A Guide To Hover And Pointer Media Queries</h3>
        <p class='rd-item-excerpt'>In this article, we’ll talk about how to
          adapt our sites to the different scenarios of a device pointer:
          whether it has a pointer or not, or how accurate it is. To adapt our
          site to those devices’ needs we’ll talk about how to properly use
          media queries `hover`, `pointer`, `any-hover` and `any-pointer`.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>smashingmagazine.com</p>
        <p class='rd-item-date'>3/28/2022</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>
<article class='rd-item'>
  <a
    href='https://www.theguardian.com/theguardian/1999/apr/30/features11.g24'
    class='rd-item-link'
    target='_blank'
  >
    <div class='rd-item-image'>
      <img
        src='https://assets.guim.co.uk/images/eada8aa27c12fe2d5afa3a89d3fbae0d/fallback-logo.png'
        alt='The secret life of ciabatta'
        height='630'
        width='1200'
        loading='lazy'
      />
    </div>
    <div class='rd-item-content'>
      <div class='rd-item-body'>
        <h3 class='rd-item-title'>The secret life of ciabatta</h3>
        <p class='rd-item-excerpt'>So, there you are - Sicily, 1860, towards
          lunchtime. Garibaldi is heroically forging a modern democracy from
          blood, gunpowder and steel, but you're beginning to feel a bit
          peckish. Sod the Risorgimento, what's in the bread bin? Or go back
          further, to some humble Tuscan village around 1480, teatime. As the
          paint dries on Renaissance masterpieces all around, you repair to the
          local osteria for a quick bite and a flagon of Chianti. And what do
          you eat? Hearty, honest, country fare, of course; goats' cheese, maybe
          some dried ham, probably a few black olives - all, without doubt,
          accompanied by a generous slab of golden-brown ciabatta - pride of
          sun-dried, simple peasantry and folksy staple of Italian dinner tables
          since the Visigoths sacked Rome. Well, maybe not.</p>
      </div>
      <div class='rd-item-footer'>
        <p class='rd-item-domain'>theguardian.com</p>
        <p class='rd-item-date'>8/18/2018</p>
      </div>
    </div>
    <svg class='rd-item-icon' aria-hidden='true'><use
        href='#sm-icon-link'
      ></use></svg>
  </a>
</article>