{{! Search Modal }}
<aside class='modal search__modal' id='search-modal' role='search' aria-expanded='false'>
  <div class='modal__container'>
    <header class="modal__header">
      <button class='modal__close-btn' aria-label='close' tabindex="-1">
        <svg aria-hidden='true'>
          <use href='#close'></use>
        </svg>
      </button>
      <h2 class='modal__title'>
        Search
      </h2>
        <label class='form__label' for='search-input'>
          Enter Query
        </label>
      <div class='search__input-container'>
        <input class='form__input' id='search-input' placeholder="I'm looking for..."
          tabindex="-1" />
        <button class='sm-button--color search__btn' id='run-search-btn' tabindex="-1">
          <svg class='search__button--content'>
            <use href="#search"></use>
          </svg>
          <span class='search__button--content'>
            Search
          </span>
          <svg class='search__button--loading' aria-label='Loading...'>
            <use href='#loader'></use>
          </svg>
        </button>
      </div>
    </header>
    <div class='search-results'>
      <header class='search-results__header'></header>
      <div class='search-results__container'></div>
    </div>
  </div>
</aside>
{{! Search Modal }}