<section class="sm-grid sm-search-form">
  <div class="sm-search-form-container">
    <button class="sm-search-form-close-button" aria-label="close search">
      <svg aria-hidden="true"><use href="#sm-close-button"></use></svg>
    </button>
    <input id="sm-search-input" type="text" placeholder="start typing to search" aria-label="start typing to search">
  </div>
  <div class="sm-search-results-container">

  </div>
</section>