<section class="sm-search">
  <button class="sm-search-form-close-button sm-circle-close-button" aria-label="close search"><svg aria-hidden="true"><use href="#sm-close-icon"></use></svg>
      </button>
  <div class="sm-grid sm-search-form">
    <div class="sm-search-form-container">
        <div class="sm-search-input-container">
          <input id="sm-search-input" type="text" role="search" placeholder="start typing to search" aria-label="start typing to search">
          <button class="sm-clear-search-button" id="sm-clear-search" aria-label="clear search input">
            <svg aria-hidden="true"><use href="#sm-close-circle-icon"></use></svg>
          </button>
        </div>
    </div>
    <div class="sm-search-results-container">
  
    </div>
  </div>
</section>