html {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9090909090909091rem + 0.45454545454545453vw,
    1.25rem
  );
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
