{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#author}}
    {{> "header"}}
{{/author}}
{{!-- Main --}}
<main  class="sm-grid sm-author-posts-container" id="sm-main">
    <h2>{{pagination.total}} articles <span class="sm-icon-button">Page {{pagination.page}}</span></h2>
    <div class="sm-basic-grid">
        {{#foreach posts}}
            {{> "card"}}
        {{/foreach}}
    </div>
</main>

{{pagination}}