{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
    {{> "header"}}

    <main class="sm-header-grid sm-post-content sm-micro-header {{post_class}} {{slug}}" id="sm-main">
        {{content}}
    </main>

    {{#get "posts" limit="all" include="tags"  as |micro|}}

    {{#if micro}}
    <section class="sm-header-grid sm-micro-grid">
        {{#foreach micro}}
            {{> "til-card"}}
        {{/foreach}}
    </section>
    {{/if}}

    {{/get}}
        
    
        
{{/post}}

