{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<main class="sm-main--error">
    <div class="sm-main__outer-container">
        <div class="sm-main__inner-container">
            {{> header-img}}
            <header class="sm-post__header">
                <h1 class="sm-main--error__heading">{{statusCode}}</h1>
                <p class="sm-main--error__text">{{message}}</p>
            </header>
            <hr>
            {{#get "posts" limit="3" include="authors,tags"}}
            <section>
                <h2>Recent Posts</h2>
                <div class="sm-grid-container">
                    {{#foreach posts}}
                    {{> "card"}}
                    {{/foreach}}
                </div>
            </section>
            {{/get}}
        </div>
    </div>
</main>