{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "header" title="404"}}

<main class="sm-grid" id="sm-main">
    <p class="sm-404">Sorry. The page can't be found. <a href="">Please head home.</a></p>
</main>