{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{! Hero }}

<div class="sm-main__outer-container">
        <div class="sm-main__inner-container">

            <header class="sm-hero sm-hero--{{@custom.header}}">
                <div>
                    <div class="sm-hero__text-container">
                        <h1 class="sm-hero__site-description">{{@site.description}}</h1>
                    </div>
                </div>
                <div class=".sm-hero__image"><img src="{{img_url @site.cover_image size='xl'}}" alt=""></div>
            </header>


    </div>
</div>

<main class="sm-main" id="sm-main">
    {{!-- Featured ---}}
    {{#get "posts" filter="featured:true" include="tags" limit="10" as |featured|}}
        {{#if featured}}
            <div class="sm-main__outer-container">
                <div class="sm-main__inner-container">
                    <h2 class="sm-main__header">Featured</h2>
                        <section class="sm-grid-container">
                            {{#foreach featured limit="10"}}
                                {{> "card"}}
                            {{/foreach}}
                        </section>
                </div>
            </div>
        {{/if}}
    {{/get}}

    {{!-- Latest --}}
    <div class="sm-main__outer-container">
        <div class="sm-main__inner-container">
            <a class="sm-main__read-more" href="/page/2/">
                <h2 class="sm-main__header">Latest &rarr;</h2>
            </a>
            <section class="sm-grid-container">
                {{#foreach posts}}
                    {{#unless featured}}
                        {{> "card"}}
                    {{/unless}}
                {{/foreach}}
            </section>
        {{#if pagination.next}} 
            {{pagination}}
        {{/if}}
        </div>
    </div>

   

</main>