{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<header>
    <h1>{{meta_title}}</h1>
</header>

<main class="sm-grid" id="sm-main">
    <div class="sm-grid-home">
        {{#foreach posts}}
            {{> "card"}}
        {{/foreach}}
    </div>
</main>

<div class="sm-grid">
    {{pagination data=page}}
</div>
