{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<main class="sm-main" id="sm-main">
    <div class="sm-main__outer-container">
        <div class="sm-main__inner-container">
            {{> header-img}}
            <header class="sm-post__header">
                <h1 class="sm-post__title--serif">Latest
                    <span>{{plural pagination.page empty='' singular='' plural='%'}}</span></h1>
            </header>

            <section class="sm-grid-container">
                {{#foreach posts}}
                {{> "card"}}
                {{/foreach}}
            </section>

            {{pagination}}

        </div>
    </div>
</main>