//-------------------------------------------
// General Modal Styles
//-------------------------------------------
.content-wrap {
  &:before {
    z-index: 1000;
    width: 100%;
    height: 100%;
    content: '';
    background: #000;
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  .expanded-modal-search &,
  .expanded-menu & {
    &:before {
      position: fixed;
      opacity: 0.75;
      transition: opacity 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
  }
}

.modal-search {
  position: fixed;
  top: $navbar;
  right: 0;
  z-index: 1001;
  width: 20rem;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  @include color-map(color, text);
  text-align: center;
  @include color-map(background-color, surface2);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translate3d(100vw, 0, 0);

  &__container {
    @include flex(column, center, flex-start);
    padding: 1rem 1.5rem;
  }

  &[aria-expanded='true'] {
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate3d(0, 0, 0);
  }

  &__close-btn {
    position: relative;
    display: block;
    width: 1.5rem;
    height: 1rem;
    margin-left: auto;

    span {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: calc(1rem / 5);
      @include color-map(background-color, text);
      opacity: 1;
      transition: 0.25s ease-in-out;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        @include color-map(background-color, primary);
      }
    }

    &:focus {
      outline-width: 2px;
      outline-style: dotted;
      @include color-map(outline-color, text);
      outline-offset: 1px;
    }
  }

  &__inner-container {
    width: 100%;
    padding: 2rem 0;
  }

  &__input-container {
    @include flex(row, flex-start, flex-end);
  }

  &__input {
    flex: 1;
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    @include color-map(color, text);
    text-align: left;
    background: none;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @include color-map(border-bottom-color, text1);
    @include color-map(caret-color, primary);
    border-radius: 0;
    @include transition(border-bottom-color);

    &:focus {
      @include color-map(border-bottom-color, primary);
      outline: none;
    }
  }

  &__btn {
    height: 50%;
    padding: 0.5rem 0.75rem;
    margin-left: 0.5rem;
    font-weight: 700;
    line-height: 1;
    @include color-map(color, textInverse);
    vertical-align: bottom;
    @include color-map(background-color, primary);

    border: none;
    border-radius: $radius;
    box-shadow: $box-shadow;
    @include transition(background-color);

    &:hover,
    &:focus {
      @include color-map(background-color, secondary);
      @include transition(background-color);
      outline: none;
    }

    &:active {
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    }

    &::-moz-focus-inner {
      border: none;
      outline: none;
    }
  }
}

//-------------------------------------------
// Search Styles
//-------------------------------------------
.search-results {
  padding: 1rem 0;
  margin-top: 2rem;

  &__header {
    font-size: 1rem;
    @include color-map(color, surface);
    @include color-map(background-color, text);
    border-radius: $radius;
  }

  &__item {
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @include color-map(border-bottom-color, text1);
  }

  &__date {
    margin-top: 1rem;
    font-size: 0.9em;
    @include color-map(color, text1);
    background: none;
  }

  &__link {
    font-weight: 700;
    line-height: 1.1;
    @include color-map(color, text);
    @include transition(color);

    &:hover,
    &:active {
      @include color-map(color, primary);
      @include transition(color);
    }
  }
}
