@use '../abstracts/variables';
@use '../abstracts/mixins';

.header-img {
  &__container {
    @include mixins.navbar(margin-top);
    //  Todo consolidate caption
    figcaption {
      width: 90%;
      padding: 0.5rem;
      margin: 0 auto;
      font-size: 0.8375rem;
      @include mixins.color-map(color, text2);
      font-style: italic;
      text-align: center;
      border-bottom: 1px solid var(--surface4);
    }
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: variables.$radius;
    box-shadow: variables.$box-shadow;
  }

  &__no-image {
    @include mixins.navbar(margin-top);
  }
}
