//-------------------------------------------
// Share Bar
//-------------------------------------------
@use '../abstracts/variables';
@use '../abstracts/mixins';

.post-share-bar {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  @include mixins.color-map(color, text2);
  text-align: center;
  @include mixins.color-map(background-color, surface3);
  border-bottom: 3px solid var(--text4);

  opacity: 0;

  transition: transform 0.2s ease-in, opacity 0.2s;
  transform: translate3d(0, 100%, 0);
  &__link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    @include mixins.transition(background-color);

    svg {
      width: 100%;
      height: 100%;
      fill: transparent;
      @include mixins.color-map(stroke, text2);
      @include mixins.transition(stroke);
    }

    @include mixins.respond-above(variables.$laptop) {
      &:first-child {
        border-top-right-radius: variables.$radius;
      }
      &:last-child {
        border-bottom-right-radius: variables.$radius;
      }
    }
  }

  &__link--twitter {
    @extend .post-share-bar__link;

    &:hover,
    &:active {
      background-color: variables.$tw;
      svg {
        stroke: #fff;
      }
    }
  }

  &__link--facebook {
    @extend .post-share-bar__link;

    &:hover,
    &:active {
      background-color: variables.$fb;
      svg {
        stroke: #fff;
      }
    }
  }

  &__link--linkedin {
    @extend .post-share-bar__link;

    &:hover,
    &:active {
      background-color: variables.$li;
      svg {
        stroke: #fff;
      }
    }
  }

  &__link--copy {
    @extend .post-share-bar__link;
    &:hover,
    &:active {
      @include mixins.color-map(background-color, primary);
      svg {
        stroke: #fff;
        :root[color-mode='dark'] & {
          stroke: #000;
        }
      }
    }
  }

  @include mixins.respond-above(variables.$laptop) {
    top: 50%;
    bottom: initial;
    flex-direction: column;
    width: initial;
    border-bottom: none;
    border-top-right-radius: variables.$radius;
    border-bottom-right-radius: variables.$radius;
    transform: translate3d(-100%, -50%, 0);
  }
}
