//-------------------------------------------
// Share Bar
//-------------------------------------------
@use '../abstracts/variables';
@use '../abstracts/mixins';

%svg {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: variables.$radius;
  @include mixins.transition(background-color);

  svg {
    width: 100%;
    height: 100%;
    fill: transparent;
    @include mixins.color-map(stroke, text2);
    @include mixins.transition(stroke);
  }

  @media (min-width: variables.$laptop) {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.36rem;
  }
}

.sm-post-share-bar {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.25rem;
  overflow: hidden;
  font-weight: 700;
  @include mixins.color-map(color, text2);
  text-align: center;
  @include mixins.color-map(background-color, surface3);
  // border-bottom: 3px solid var(--surface4);

  @media (min-width: variables.$laptop) {
    display: none;
  }

  &__link {
    @extend %svg;
    svg {
      stroke: var(--secondary);
    }
  }

  &__link--twitter {
    @extend %svg;

    &:hover,
    &:active {
      background-color: variables.$tw;
      svg {
        stroke: #fff;
      }
    }
  }

  &__link--facebook {
    @extend %svg;

    &:hover,
    &:active {
      background-color: variables.$fb;
      svg {
        stroke: #fff;
      }
    }
  }

  &__link--linkedin {
    @extend %svg;

    &:hover,
    &:active {
      background-color: variables.$li;
      svg {
        stroke: #fff;
      }
    }
  }

  &__link--copy {
    @extend %svg;
    &:hover,
    &:active {
      @include mixins.color-map(background-color, primary);
      svg {
        stroke: #fff;
        :root[color-mode='dark'] & {
          stroke: #000;
        }
      }
    }
  }
}
