.sm-skip-to-content {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 15;
  opacity: 0;
  transition: background-color 0.2s, transform 0.25s ease-out, opacity 0.25s;
  transform: translate3d(-50%, -125%, 0);

  &:focus {
    opacity: 1;
    transition: transform 0.25s ease-in, opacity 0.25s;
    transform: translate3d(-50%, 0.5rem, 0);
  }
}
