@use '../abstracts/mixins';

//-------------------------------------------
// Custom Properties
//-------------------------------------------
@use '../themes/sm_theme';
//-------------------------------------------
// Global Styles
//-------------------------------------------
html {
  @include mixins.color-map(color, text);
  @include mixins.color-map(background-color, surface1);
  scroll-behavior: smooth;
}

//-------------------------------------------
// Psuedoselectors
//-------------------------------------------
:link {
  color: currentColor;
  text-decoration: none;
}

:visited {
  color: currentColor;
}

::selection {
  color: #111;
  background-color: #e0c081;
}

:target {
  @include mixins.navbar(padding-top);
  @include mixins.navbar(margin-top, $negative: true);
}

:focus {
  outline-width: 1px;
  outline-style: dotted;
  @include mixins.color-map(outline-color, text3);
  outline-offset: 3px;
}

a:active,
button:active {
  outline: none;
}

::-moz-focus-inner {
  border: none;
  outline: none;
}
