@use '../abstracts/mixins';

//-------------------------------------------
// Custom Properties
//-------------------------------------------
// @use '../themes/_sm_theme';
// @use '../themes/dracula_theme';
//-------------------------------------------
// Global Styles
//-------------------------------------------
:root {
  --radius: 8px;
}

html {
  @include mixins.color-map(color, text);
  @include mixins.color-map(background-color, surface1);
  scroll-behavior: smooth;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

//-------------------------------------------
// Psuedoselectors
//-------------------------------------------
:link {
  color: currentColor;
  text-decoration: none;
}

:visited {
  color: currentColor;
}

::selection {
  color: var(--textInverse);
  background-color: var(--secondary);
}

:target {
  @include mixins.navbar(padding-top);
  @include mixins.navbar(margin-top, $negative: true);
}

:focus {
  outline-width: 1px;
  outline-style: dotted;
  @include mixins.color-map(outline-color, text3);
  outline-offset: 3px;
}

a:active,
button:active {
  outline: none;
}

::-moz-focus-inner {
  border: none;
  outline: none;
}
