.sm-home-header {
  grid-column: content;
  margin-block: var(--spacing-22) var(--spacing-02);
  font-weight: 400;
}

.sm-home-history {
  grid-column: content;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration-color: hsl(var(--color-1));
    }
  }
}
