.sm-home-accent {
  background-color: var(--surface-dark);
}

.home-template .sm-pagination {
  margin-block: var(--gap) 3rem;
}

/* Grid */
.sm-grid-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(21.875rem, 100%), 1fr));
  grid-column: content;
  gap: var(--gap);
  padding: 6rem 0;
}

.sm-card-2.sm-card-horizontal,
.sm-card-3.sm-card-vertical,
.sm-card-4.sm-card-vertical,
.sm-card-5.sm-card-vertical,
.sm-card-6.sm-card-vertical,
.sm-card-7.sm-card-vertical,
.sm-card-8.sm-card-vertical,
.sm-card-9.sm-card-vertical,
.sm-card-10.sm-card-vertical,
.sm-card-11.sm-card-horizontal,
.sm-card-12.sm-card-vertical,
.sm-card-13.sm-card-vertical,
.sm-card-14.sm-card-vertical,
.sm-card-15.sm-card-vertical {
  display: none;
}

.sm-card-1.sm-card-horizontal .sm-card-link {
  flex-direction: column;
}

.sm-card-1.sm-card-horizontal .sm-card-link > img {
  width: 100%;
  max-width: 100%;
}

@media (--tablet) {
  .sm-card-1.sm-card-horizontal .sm-card-link {
    flex-direction: row;
  }

  .sm-card-1.sm-card-horizontal .sm-card-link > img {
    width: 50%;
  }
}

@media (--tablet) {
  .sm-grid-feature {
    grid-template-areas:
      'card-1 card-1 card-1 card-1'
      'card-2 card-2 card-3 card-3'
      'card-4 card-4 card-5 card-5';
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm-grid-feature-left,
  .sm-grid-feature-right {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm-card-1 {
    grid-area: card-1;
  }

  .sm-card-2 {
    grid-area: card-2;
  }

  .sm-card-3 {
    grid-area: card-3;
  }

  .sm-card-4 {
    grid-area: card-4;
  }

  .sm-card-5 {
    grid-area: card-5;
  }

  .sm-grid-feature-left {
    grid-template-areas:
      'feature card-6 card-6'
      'feature card-7 card-7'
      'card-8 card-9 card-10';
  }

  .sm-grid-feature-right {
    grid-template-areas:
      'card-11 card-11 feature'
      'card-12 card-12 feature'
      'card-13 card-14 card-15';
  }

  .sm-card-2.sm-card-horizontal,
  .sm-card-3.sm-card-horizontal,
  .sm-card-4.sm-card-horizontal,
  .sm-card-5.sm-card-horizontal,
  .sm-card-6.sm-card-vertical,
  .sm-card-7.sm-card-vertical,
  .sm-card-8.sm-card-horizontal,
  .sm-card-9.sm-card-horizontal,
  .sm-card-10.sm-card-horizontal,
  .sm-card-11.sm-card-vertical,
  .sm-card-12.sm-card-vertical,
  .sm-card-13.sm-card-horizontal,
  .sm-card-14.sm-card-horizontal,
  .sm-card-15.sm-card-horizontal {
    display: none;
  }

  .sm-card-2.sm-card-vertical,
  .sm-card-3.sm-card-vertical,
  .sm-card-4.sm-card-vertical,
  .sm-card-5.sm-card-vertical,
  .sm-card-6.sm-card-horizontal,
  .sm-card-7.sm-card-horizontal,
  .sm-card-8.sm-card-vertical,
  .sm-card-9.sm-card-vertical,
  .sm-card-10.sm-card-vertical,
  .sm-card-11.sm-card-horizontal,
  .sm-card-12.sm-card-horizontal,
  .sm-card-13.sm-card-vertical,
  .sm-card-14.sm-card-vertical,
  .sm-card-15.sm-card-vertical {
    display: initial;
  }

  .sm-feature-card {
    grid-area: feature;
  }

  .sm-card-6 {
    grid-area: card-6;
  }

  .sm-card-7 {
    grid-area: card-7;
  }

  .sm-card-8 {
    grid-area: card-8;
  }

  .sm-card-9 {
    grid-area: card-9;
  }

  .sm-card-10 {
    grid-area: card-10;
  }

  .sm-card-11 {
    grid-area: card-11;
  }

  .sm-card-12 {
    grid-area: card-12;
  }

  .sm-card-13 {
    grid-area: card-13;
  }

  .sm-card-14 {
    grid-area: card-14;
  }

  .sm-card-15 {
    grid-area: card-15;
  }
}
