/* stylelint-disable selector-class-pattern */
.sm-post-title {
  margin-block-end: 1rem;
  text-wrap: pretty;
}

/* TODO - Combine with card.css */
.sm-post-excerpt {
  max-width: 66ch;
  margin-inline: auto;
  color: var(--element-light);
  opacity: 0.75;
}

.sm-post-author-block {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-02);
  font-family: var(--ui-typeface);
  text-align: left;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  > div {
    display: flex;
    gap: var(--spacing-02);
    align-items: center;
  }
}

.sm-post-author-block p {
  text-align: left;
}

.sm-post-author-profile-image {
  line-height: 1;
}

.sm-post-author-profile-image:empty {
  display: none;
}

.sm-post-author-profile-image:empty + div {
  text-align: center;
}

.sm-post-author-profile-image img {
  position: relative;
  z-index: 5;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  object-fit: cover;
}

.sm-post-author-profile-image img + img {
  z-index: 4;
  margin-inline-end: -1rem;
  transform: translateX(-1rem);
}

.sm-post-author-profile-image img:nth-of-type(3) {
  z-index: 3;
}

.sm-post-author-profile-image img:nth-of-type(4) {
  z-index: 2;
}

.sm-post-author-profile-image img:nth-of-type(5) {
  z-index: 1;
}

.sm-post-share {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-family: var(--ui-typeface);
  line-height: 1;
}

.sm-post-share p {
  font-size: var(--small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-expand);
  opacity: 0.5;
}

.sm-share-icon {
  box-sizing: content-box;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  opacity: 0.8;
  fill: var(--element-light);
}

.sm-share-icon:focus-visible,
.sm-share-icon:hover {
  background-color: var(--surface-light);
}

.sm-share-icon svg {
  width: 100%;
  height: 100%;
}

.sm-post-save-button svg {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.sm-copy-button svg:not(:first-child) {
  display: none;
}

.sm-copy-button--copied svg:first-child {
  display: none;
}

.sm-copy-button.sm-copy-button--copied svg:not(:first-child) {
  display: initial;
}

.sm-post-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5em;
  font-size: var(--x-small);
  color: var(--element-light);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-expand);
  opacity: 0.8;
}

.sm-post-meta > *:not(:last-child)::after {
  margin-inline-start: 0.5em;
  content: '\002301';
}

.sm-post-meta > a:hover::after {
  color: var(--element-light);
}

.sm-post-meta a:hover,
.sm-post-save-button:hover {
  color: var(--primary);
}

/* Related posts */
.sm-related-posts {
  grid-column: content;
  margin-block: 1rem 6rem;
}

.sm-related-posts .sm-grid-home {
  padding: 0;
  margin-block: 0;
}

/* Comments */
/* stylelint-disable-next-line selector-max-id */
#ghost-comments-root {
  grid-column: content;
}
