/* Color scheme */
:root[data-color-pref='light'] {
  /* Primary color */
  --color-1: 200 100% 35%;
  --color-1-light: 200 100% 88%;
  --color-1-dark: 210 100% 18%;

  /* Secondary color */
  --color-2: 34 100% 32%;
  --color-2-light: 34 100% 88%;
  --color-2-dark: 34 100% 18%;

  /* Tertiary color */
  --color-3: 310 31% 46%;
  --color-3-light: 310 100% 88%;
  --color-3-dark: 310 100% 18%;

  /* Quarternary color */
  --color-4: 140 55% 34%;
  --color-4-light: 140 100% 88%;
  --color-4-dark: 140 100% 18%;

  /* Quinary */
  --color-5: 71 84% 26%;
  --color-5-light: 71 100% 88%;
  --color-5-dark: 71 100% 18%;

  /* Surface */
  --surface: 200 8% 99%;
  --surface-light: 200 3% 100%;
  --surface-dark: 200 15% 89%;
  --surface-darker: 200 8% 82%;

  /* Element */
  --element: 200 7% 1.5%;
  --element-light: 200 0.9% 7.4%;
  --element-dark: 200 7% 0%;
  --element-darker: 200 3% 0%;
  --border-color: 200 0.6% 87%;
  --box-shadow: 0 0.7px 2.2px hsl(200deg 100% 9% / 2%),
    0 1.6px 5.3px hsl(200deg 100% 9% / 2.8%),
    0 3px 10px hsl(200deg 100% 9% / 3.5%),
    0 5.4px 17.9px hsl(200deg 100% 9% / 4.2%),
    0 10px 33.4px hsl(200deg 100% 9% / 5%), 0 24px 80px hsl(200deg 100% 9% / 7%);
}

:root[data-color-pref='dark'] {
  /* Color */

  /* Primary color */
  --color-1: 200 100% 65%;
  --color-1-light: 200 100% 90%;
  --color-1-dark: 200 64% 17%;

  /* Secondary color */
  --color-2: 25 92% 67%;
  --color-2-light: 25 92% 90%;
  --color-2-dark: 25 92% 17%;

  /* Tertiary color */
  --color-3: 300 62% 75%;
  --color-3-light: 300 62% 90%;
  --color-3-dark: 300 62% 17%;

  /* Quarternary color */
  --color-4: 120 44% 65%;
  --color-4-light: 120 44% 90%;
  --color-4-dark: 120 44% 17%;

  /* Quinary */
  --color-5: 66 46% 54%;
  --color-5-light: 66 46% 90%;
  --color-5-dark: 66 46% 17%;

  /* Element */
  --element: 200 7% 99%;
  --element-light: 200 7% 100%;
  --element-dark: 200 1.9% 96%;
  --element-darker: 200 1.1% 93%;
  --border-color: 200 0.4% 15%;

  /* Surface */
  --surface-darker: 200 0.5% 15%;
  --surface-dark: 200 0.5% 11%;
  --surface: 200 16% 4.3%;
  --surface-light: 200 0% 0%;
  --box-shadow: 0 0.7px 2.2px hsl(200deg 100% 1% / 2%),
    0 1.6px 5.3px hsl(200deg 100% 1% / 4.8%),
    0 3px 10px hsl(200deg 100% 1% / 5.5%),
    0 5.4px 17.9px hsl(200deg 100% 1% / 6.2%),
    0 10px 33.4px hsl(200deg 100% 1% / 7%), 0 24px 80px hsl(200deg 100% 1% / 9%);
}
