[class*='grid'] {
  display: grid;
}

.sm-grid {
  grid-template-columns:
    [start] var(--gutter) [content-start] 1fr [content-end] var(--gutter)
    [end];
}

.sm-header-grid {
  grid-template-columns:
    [start] var(--gutter) 1fr 1fr [content-start] minmax(
      min(200px, 100%),
      var(--post-width)
    )
    [content-end]
    1fr 1fr var(--gutter) [end];
  row-gap: 2rem;
  margin-block: var(--spacing-10) var(--bento-gap);
}

.post-template .sm-header-grid {
  margin-block: var(--spacing-10);
}

.sm-content-grid {
  grid-template-columns:
    [start] var(--gutter)
    [full-start] 1fr [wide-start] 1fr [content-start] minmax(
      min(200px, 100%),
      var(--content-width)
    )
    [content-end]
    1fr [wide-end] 1fr [full-end] var(--gutter) [end];
}

.sm-home-grid {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column: content;
  gap: var(--spacing-06);
  margin-block: var(--spacing-04);
}

.sm-playlist-grid {
  grid-template-columns: 1fr;
  grid-column: content;
  gap: var(--spacing-06);
  margin-block: var(--spacing-04);
  overflow: hidden;
  background-color: hsl(var(--surface-dark));
  border-radius: var(--radius);

  @media (--tablet) {
    grid-template-columns: max-content 1fr;
  }
}

.sm-social-media-container {
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

@media (--tablet) {
  .sm-grid {
    grid-template-columns:
      [start] var(--gutter) 1fr [content-start] minmax(
        min(600px, 100%),
        var(--width)
      )
      [content-end] 1fr var(--gutter)
      [end];
  }
}
