@custom-media --phone (min-width: 500px);
@custom-media --tablet (min-width: 768px);
@custom-media --laptop (min-width: 992px);
@custom-media --desktop (min-width: 1200px);
@custom-media --widescreen (min-width: 1400px);

:root {
  /* Space */
  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1200px;
  --widescreen: 1400px;
  --width: 1200px;
  --post-width: 768px;
  --content-width: 600px;
  --radius: 0.5em;
  --radius-small: 3px;
  --radius-round: 9999px;
  --spacing-01: 0.25rem;
  --spacing-02: 0.5rem;
  --spacing-03: 0.75rem;
  --spacing-04: 1rem;
  --spacing-06: 1.5rem;
  --spacing-08: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-18: 4.5rem;
  --spacing-20: 5rem;
  --spacing-22: 5.5rem;
  --spacing-24: 6rem;
  --spacing-26: 6.5rem;
  --spacing-28: 7rem;
  --spacing-30: 7.5rem;
  --spacing-32: 8rem;
  --spacing-34: 8.5rem;
  --spacing-36: 9rem;
  --gap: var(--spacing-04);
  --gutter: 20px;
  --bento-gap: var(--spacing-03);
  --box-padding: var(--spacing-06);
  --button-padding: var(--spacing-02) var(--spacing-03);

  /* Type */
  --ui-typeface: archivo, system-ui, sans-serif;
  --body-typeface: lora, 'Bitstream Charter', 'Sitka Text', cambria, serif;
  --heading-typeface: archivo, sans-serif;
  --mono-typeface: ui-monospace, 'Cascadia Code', 'Source Code Pro', menlo,
    consolas, 'DejaVu Sans Mono', monospace;
  --letter-spacing-expand: 0.2px;
  --letter-spacing-contract: -0.2px;
  --h1: 2.488rem;
  --h2: 2.074rem;
  --h3: 1.728rem;
  --h4: 1.44rem;
  --h5: 1.2rem;
  --h6: 1rem;
  --small: min(0.833rem, 15px);
  --x-small: 0.694rem;
  --xx-small: 0.579rem;
  --transition: 0.3s;
  --twitter: #1da1f2;
  --facebook: #3b5998;
  --linkedin: #0077b5;
}

@media (--tablet) {
  :root {
    --gap: var(--spacing-06);
    --gutter: var(--spacing-08);
  }
}

@media (--laptop) {
  :root {
    --gap: var(--spacing-08);
  }
}
