//-------------------------------------------
// Post Content Styles
//-------------------------------------------
@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/functions';

.sm-post {
  &__content {
    figcaption {
      padding: 0.5rem;
      font-size: 0.8375rem;
      @include mixins.color-map(color, text2);
      font-style: italic;
      text-align: center;
      border-bottom: 1px solid var(--surface4);
    }

    & > blockquote {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 200px;
      padding: 1rem 2rem;
      margin: 2rem 0;
      font-size: 1.5rem;
      font-style: italic;
      @include mixins.color-map(color, text2);
      @include mixins.color-map(background-color, surface3);
      border-radius: variables.$radius;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
        content: '';
        background: linear-gradient(
          functions.color(primary),
          functions.color(secondary)
        );
        background: linear-gradient(var(--primary), var(--secondary));
        border-top-left-radius: variables.$radius;
        border-bottom-left-radius: variables.$radius;
      }
    }

    a:not(.kg-bookmark-container) {
      @include mixins.color-map(color, primary);
      @include mixins.transition(color);
    }

    a:not(.kg-bookmark-container):hover {
      @include mixins.color-map(color, secondary);
      @include mixins.color-map(color, secondary);
    }

    ul,
    ol {
      margin: 1rem 2rem;
      @include mixins.color-map(color, text);
    }

    ul {
      list-style-type: square;
    }

    li {
      margin-bottom: 0.5rem;
    }

    // Tables
    table {
      width: 100%;
      overflow: hidden;
      border-collapse: collapse;
      border: none;
    }

    thead {
      border-bottom: 1px solid var(--surface4);
    }

    th {
      padding: 0.25rem 0.5rem;
      font-size: 0.95rem;
      font-weight: 700;
      text-align: left;
    }

    tbody {
      border-bottom: 1px solid var(--surface4);
      td {
        padding: 0.25rem 0.5rem;
        font-size: 0.85rem;
        text-align: left;
        vertical-align: top;
      }
    }

    pre {
      max-width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      overflow-x: auto;
      @include mixins.color-map(background-color, surface);
    }

    code {
      font-family: variables.$mono;
      user-select: all;
    }

    p > code,
    p > kbd {
      padding: 2px 5px;
      font-family: variables.$mono;
      font-size: 0.9rem;
      color: var(--text1);
      letter-spacing: 0.2px;
      background-color: var(--surface3);
      border-radius: variables.$radius;
      @include mixins.transition(background-color);

      // TODO improve selector/specificity
      a:not(.kg-bookmark-container) {
        color: var(--text1);
        text-decoration: underline;
        &:hover {
          background-color: var(--surface3);
        }
      }
    }

    pre[class*='language-'] {
      margin: 0;
    }
  }
}
