//-------------------------------------------
// Post Content Styles
//-------------------------------------------
@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/functions';

.sm-post {
  &__content {
    figcaption {
      width: 90%;
      padding: 0.5rem;
      margin: 0 auto;
      font-size: 0.8375rem;
      @include mixins.color-map(color, text2);
      font-style: italic;
      text-align: center;
      border-bottom: 1px solid var(--surface4);
    }

    & > blockquote {
      padding: 1rem 2rem;
      margin: 2rem 0;
      font-size: 1.15rem;
      font-style: italic;
      background-color: var(--surface3);
      border-left: 2 * variables.$radius solid var(--secondary);
      border-radius: variables.$radius;
    }

    a:not(.kg-bookmark-container) {
      @include mixins.color-map(color, primary);
      @include mixins.transition(color);
    }

    a:not(.kg-bookmark-container):hover {
      @include mixins.color-map(color, secondary);
      @include mixins.color-map(color, secondary);
    }

    ul,
    ol {
      margin: 1rem 2rem;
      @include mixins.color-map(color, text);
    }

    ul {
      list-style-type: square;
    }

    li {
      margin-bottom: 0.5rem;
    }

    // Tables
    table {
      width: 100%;
      overflow: hidden;
      border-collapse: collapse;
      border: none;
    }

    thead {
      border-bottom: 1px solid var(--surface4);
    }

    th {
      padding: 0.25rem 0.5rem;
      font-size: 0.95rem;
      font-weight: 700;
      text-align: left;
    }

    tbody {
      border-bottom: 1px solid var(--surface4);
      td {
        padding: 0.25rem 0.5rem;
        font-size: 0.85rem;
        text-align: left;
        vertical-align: top;
      }
    }

    pre {
      max-width: 100%;
      padding: 0.5rem;
      overflow-x: auto;
      @include mixins.color-map(background-color, surface);
    }

    code {
      font-family: variables.$mono;
      user-select: all;
    }

    p > code,
    p > kbd {
      padding: 2px 5px;
      font-family: variables.$mono;
      font-size: 0.9rem;
      color: var(--text1);
      letter-spacing: 0.2px;
      background-color: var(--surface3);
      border-radius: variables.$radius;
      @include mixins.transition(background-color);

      // TODO improve selector/specificity
      a:not(.kg-bookmark-container) {
        color: var(--text1);
        text-decoration: underline;
        &:hover {
          background-color: var(--surface3);
        }
      }
    }

    pre[class*='language-'] {
      margin: 0;
    }
  }
}
