@use '../abstracts/variables';
@use '../abstracts/mixins';

.main--error {
  &__heading {
    position: relative;
    margin-bottom: 0;
    font-family: variables.$serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
  }

  &__text {
    font-size: 1.5rem;
    text-align: center;
    @include mixins.color-map(color, text1);
  }
}
