@use '../abstracts/variables';
@use '../abstracts/mixins';

.sm-hero {
  position: relative;
  @include mixins.navbar(padding-top, false, 2rem);
  margin-bottom: 2rem;
  background-position: center;
  background-size: cover;
  background-color: var(--surface1);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    // background: linear-gradient(to top, var(--surface1-95) 15%, transparent);
  }

  &--small,
  &--large {
    @extend .sm-hero;
  }

  &__text-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--small &__site-description {
    margin: 4rem 0;
  }

  &--large &__site-description {
    margin: 8rem 0;
  }

  &__site-description {
    margin: 0;
    font-size: 2.75rem;
    line-height: 1.2;
    color: var(--subtitle);
    padding: 0.5em 1em;
    border-radius: var(--radius);
  }
}
