@use '../abstracts/variables';
@use '../abstracts/mixins';

.sm-hero {
  position: relative;
  @include mixins.navbar(margin-top);
  margin-bottom: 2rem;
  background-position: center;
  background-size: cover;
  background-color: var(--surface1);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(to right, rgba(#000, 0.75), rgba(#000, 0.35));
  }

  &--small,
  &--large {
    @extend .sm-hero;
  }

  &__text-container {
    display: flex;
    align-items: center;
    max-width: 10rem;
  }

  &--small &__site-description {
    margin: 2rem 0;
  }

  &--large &__site-description {
    margin: 5rem 0;
  }

  &__site-description {
    margin: 0;
    font-size: 2rem;
    line-height: 1.2;
    color: var(--subtitle);
  }
}
