.sm-post-title {
  margin-block-end: 1rem;
}

/* TODO - Combine with card.css */
.sm-post-excerpt {
  max-width: 66ch;
  margin-inline: auto;
  color: var(--element-light);
  opacity: 0.75;
}

.sm-post-author-block {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.sm-post-author-block p {
  text-align: left;
}

.sm-post-author-profile-image {
  line-height: 1;
}

.sm-post-author-profile-image:empty {
  display: none;
}

.sm-post-author-profile-image:empty + div {
  text-align: center;
}

.sm-post-author-profile-image img {
  position: relative;
  z-index: 5;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  object-fit: cover;
}

.sm-post-author-profile-image img + img {
  z-index: 4;
  margin-inline-end: -1rem;
  transform: translateX(-1rem);
}

.sm-post-author-profile-image img:nth-of-type(3) {
  z-index: 3;
}

.sm-post-author-profile-image img:nth-of-type(4) {
  z-index: 2;
}

.sm-post-author-profile-image img:nth-of-type(5) {
  z-index: 1;
}

.sm-post-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5em;
  font-size: var(--x-small);
  color: var(--element-light);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  opacity: 0.8;
}

.sm-post-meta > *:not(:last-child)::after {
  margin-inline-start: 0.5em;
  content: '\002301';
}

.sm-post-meta > a:hover::after {
  color: var(--element-light);
}

.sm-post-save-button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: color 0.3s;
}

.sm-post-save-button.sm-love-button {
  transform: none;
}

.sm-post-meta a:hover,
.sm-post-save-button:hover {
  color: var(--primary);
}

.sm-post-save-button span {
  display: flex;
  gap: 3px;
  align-items: center;
}

.sm-post-save-button.sm-love-button.sm-love-toggle .sm-heart-fill-icon {
  display: flex;
}

.sm-post-save-button svg {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

/* Related posts */
.sm-related-posts {
  grid-column: content;
  margin-block: 1rem 6rem;
}

/* Related posts block */
.sm-related-posts h2 {
  margin-block-start: 1rem;
}

.sm-related-posts-grid-container {
  grid-template-columns: 1fr;
  gap: var(--gap);
}

@media (--phone) {
  .sm-related-posts-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .sm-related-posts-grid-container > article:last-child {
    display: none;
  }
}

@media (--tablet) {
  .sm-related-posts-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .sm-related-posts-grid-container > article:last-child {
    display: initial;
  }
}

.sm-related-posts .sm-card {
  grid-area: auto;
}

/* Comments */
/* stylelint-disable-next-line selector-max-id */
#ghost-comments-root {
  grid-column: content;
}
