@use 'variables';
@use 'functions';
//-------------------------------------------
// Color
//-------------------------------------------
@mixin color-map($property, $color) {
  @if $color == transparent {
    #{$property}: $color;
  } @else {
    #{$property}: functions.color($color);
    #{$property}: var(--#{$color}, functions.color($color));
  }
}

@mixin outline {
  outline-width: 2px;
  outline-style: solid;
  @include color-map(outline-color, primary);
  outline-offset: 1px;
}

@mixin mesh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  content: '';
  background-color: var(--secondary);
  background-image: radial-gradient(var(--primary) 0, transparent 63%),
    radial-gradient(var(--three) 0, transparent 42%),
    radial-gradient(var(--four) 0, transparent 59%),
    radial-gradient(var(--five) 0, transparent 50%),
    radial-gradient(var(--secondary) 0, transparent 55%);
  background-repeat: no-repeat;
  background-position: -16% -35%, -21% -45%, 5% 10%, 19% 35%, 25% 19%;
  background-size: 87% 65%, 62% 84%, 69% 68%, 62% 97%, 65% 60%;
  transition: background-position 2s;
  transform: scale(3);
}
//-------------------------------------------
// Transition
//-------------------------------------------
@mixin transition($property) {
  transition: $property 0.2s;
}

//-------------------------------------------
// Breakpoints
//-------------------------------------------
@mixin respond-above($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin respond-below($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respond-between($min, $max) {
  @media (min-width: $min) and (max-width: $max - 1) {
    @content;
  }
}

//-------------------------------------------
// Layout
//-------------------------------------------
@mixin navbar($property, $negative: false, $increase: 0) {
  #{$property}: 3.25rem + $increase;

  @media (min-width: variables.$laptop) {
    #{$property}: 5.5rem + $increase;
  }

  @if $negative {
    #{$property}: -3.25rem + -$increase;

    @media (min-width: variables.$laptop) {
      #{$property}: -5.5rem + -$increase;
    }
  }
}

@mixin inner-container {
  max-width: variables.$laptop;
  margin: 0 auto 1rem;
}

@mixin outer-container {
  position: relative;
  width: 100%;
  padding: 1rem;

  @include respond-between(variables.$tablet, variables.$laptop) {
    padding: 1rem 3rem 2rem;
  }

  @include respond-above(variables.$laptop) {
    padding: 1rem 4rem 2rem;
  }
}

@mixin grid {
  display: grid;
  gap: 1.5rem;
}
