pre[class*='language-']::-webkit-scrollbar {
  width: 0.75em;
}

pre[class*='language-']::-webkit-scrollbar-track {
  background: hsl(var(--primary-h) 12% 8%);
  border-radius: 0 0 var(--radius) var(--radius);
}

pre[class*='language-']::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-h) 15% 15%);
  border-radius: var(--radius);
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: var(--mono-typeface);
  font-size: var(--small);
  hyphens: none;
  line-height: 1.5;
  color: #eee;
  text-align: left;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  white-space: pre;
  background: hsl(var(--primary-h) 10% 8%);
  border-radius: var(--radius);
  word-spacing: normal;
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
  background: #363636;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
  border-radius: 0.2em;
}

pre[class*='language-'] {
  position: relative;
  padding: 1.25rem 1rem;
  overflow: auto;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  color: #fd9170;
}

[class*='language-'] .namespace {
  opacity: 0.7;
}

.token.atrule {
  color: #c792ea;
}

.token.attr-name {
  color: #ffcb6b;
}

.token.attr-value {
  color: #a5e844;
}

.token.attribute {
  color: #a5e844;
}

.token.boolean {
  color: #c792ea;
}

.token.builtin {
  color: #ffcb6b;
}

.token.cdata {
  color: #80cbc4;
}

.token.char {
  color: #80cbc4;
}

.token.class {
  color: #ffcb6b;
}

.token.class-name {
  color: #f2ff00;
}

.token.comment {
  color: #616161;
}

.token.constant {
  color: #c792ea;
}

.token.deleted {
  color: #f66;
}

.token.doctype {
  color: #616161;
}

.token.entity {
  color: #f66;
}

.token.function {
  color: #c792ea;
}

.token.hexcode {
  color: #f2ff00;
}

.token.id {
  font-weight: 700;
  color: #c792ea;
}

.token.important {
  font-weight: 700;
  color: #c792ea;
}

.token.inserted {
  color: #80cbc4;
}

.token.keyword {
  color: #c792ea;
}

.token.number {
  color: #fd9170;
}

.token.operator {
  color: #89ddff;
}

.token.prolog {
  color: #616161;
}

.token.property {
  color: #80cbc4;
}

.token.pseudo-class {
  color: #a5e844;
}

.token.pseudo-element {
  color: #a5e844;
}

.token.punctuation {
  color: #89ddff;
}

.token.regex {
  color: #f2ff00;
}

.token.selector {
  color: #f66;
}

.token.string {
  color: #a5e844;
}

.token.symbol {
  color: #c792ea;
}

.token.tag {
  color: #f66;
}

.token.unit {
  color: #fd9170;
}

.token.url {
  color: #f66;
}

.token.variable {
  color: #f66;
}
