[data-date='23'] + [data-date='23'] h2,
[data-date='22'] + [data-date='22'] h2,
[data-date='21'] + [data-date='21'] h2,
[data-date='20'] + [data-date='20'] h2,
[data-date='19'] + [data-date='19'] h2,
[data-date='18'] + [data-date='18'] h2,
[data-date='17'] + [data-date='17'] h2,
[data-date='16'] + [data-date='16'] h2,
[data-date='15'] + [data-date='15'] h2,
[data-date='14'] + [data-date='14'] h2,
[data-date='13'] + [data-date='13'] h2,
[data-date='12'] + [data-date='12'] h2,
[data-date='11'] + [data-date='11'] h2,
[data-date='10'] + [data-date='10'] h2,
[data-date='09'] + [data-date='09'] h2,
[data-date='08'] + [data-date='08'] h2,
[data-date='07'] + [data-date='07'] h2,
[data-date='06'] + [data-date='06'] h2,
[data-date='05'] + [data-date='05'] h2,
[data-date='04'] + [data-date='04'] h2,
[data-date='03'] + [data-date='03'] h2,
[data-date='02'] + [data-date='02'] h2,
[data-date='01'] + [data-date='01'] h2,
[data-date='00'] + [data-date='00'] h2 {
  display: none;
}

.sm-archive-grid {
  row-gap: 3rem;
  padding-block: 0 6rem;
}

.sm-archive-header,
.sm-archive-grid {
  margin-block-start: 0;
}

.sm-archive-grid > *,
.sm-archive-header > * {
  text-align: left;
}

.sm-archive-header {
  row-gap: 0;
}

.sm-archive-heading {
  margin: 1rem 0;
  font-weight: 900;
  color: var(--element-light);
  text-transform: uppercase;
}

.sm-archive-article:where(:hover, :focus-visible) h3 {
  color: var(--primary);
}

.sm-archive-article a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sm-archive-article h3 {
  margin: 0;
  transition: color var(--transition);
}

.sm-archive-excerpt {
  max-width: 60ch;
}

.sm-archive-article span {
  padding: 0.25rem 0.5rem;
  margin-inline-start: 0.5rem;
  font-size: var(--x-small);
  font-weight: 300;
  color: var(--element-light);
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  background: var(--border-color);
  border-radius: var(--radius);
}

.sm-archive-date {
  display: flex;
  gap: 0.15em;
  font-weight: 300;
  line-height: 1.3;
  text-transform: uppercase;
}

@media (--laptop) {
  .sm-archive-date {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    font-size: 1.728rem;
    font-variant-numeric: tabular-nums;
    color: var(--element-light);
    translate: -150% 5%;
  }

  .sm-archive-month {
    font-size: 1.15rem;
    letter-spacing: 0.3px;
  }
}
