/* Home page cards */
.sm-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  color: #fff;
  border-radius: var(--radius);
}

.sm-card picture {
  display: block;
}

.sm-card img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm-card-body {
  position: relative;
  padding: 1rem;
}

:where(.sm-card-body, .sm-tag-card) svg {
  width: 1.15rem;
  height: 1.15rem;
  fill: hsl(0deg 0% 98%);
}

.sm-card-title {
  margin: 0 0 1rem;
  font-size: 1.728rem;
  line-height: 1.1;
  text-wrap: balance;
}

.sm-excerpt {
  margin: 0 0 1em;
  font-size: var(--small);
  line-height: 1.4;
}

.sm-card-tag {
  font-size: var(--x-small);
  text-transform: uppercase;
  opacity: 0.8;
}

.sm-card-meta,
.sm-card-meta > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sm-card-meta > div {
  gap: 0.7rem;
}

.sm-arrow-link {
  padding: 0.35rem;
  line-height: 0;
  background-color: var(--border-color);
  border-radius: 50%;
}

.sm-arrow-link svg {
  fill: var(--element-dark);
}

/* Feature image card */
.sm-feature-image-card {
  grid-row: span 16;
  grid-column: span 12;
}

/* No image card */
.sm-no-image-card {
  grid-row: span 12;
  grid-column: span 12;
  color: var(--element);
  background-color: var(--surface-light);
}

.sm-no-image-card .sm-card-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.sm-no-image-card .sm-card-title {
  font-size: 1.2rem;
}

.sm-no-image-card svg {
  fill: var(--element);
}

/* Featured card */
.sm-featured-card {
  grid-row: span 18;
  grid-column: span 12;
}

/* Tags card */
.sm-tag-card {
  position: relative;
  grid-row: span 6;
  grid-column: span 6;
  padding: 1rem;
  overflow: hidden;
  color: #fff;
  background-color: var(--surface-light);
  border-radius: var(--radius);
}

.sm-tag-card.sm-background-color {
  color: var(--surface);
  background-color: var(--primary);
}

.sm-tag-card.sm-background-color:nth-of-type(2n) {
  background-color: var(--secondary);
}

.sm-tag-card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sm-tag-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm-tag-card a {
  position: relative;
  font-size: var(--h4);
  font-weight: 900;
}

.sm-tag-card p {
  font-size: var(--x-small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  opacity: 0.9;
}

.sm-card-tag-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CTA card */
.sm-cta-card {
  display: flex;
  flex-direction: column;
  grid-row: span 12;
  grid-column: span 12;
  justify-content: space-between;
  padding: 1rem;
  color: var(--surface-dark);
  background-color: var(--primary);
  border-radius: var(--radius);
}

.sm-cta-card h2 {
  margin: 0;
  font-weight: 900;
  line-height: 1.1;
  color: inherit;
  background-image: none !important;
}

[data-members-form] :where(.success, .error) {
  display: none;
  margin-block-end: 0.5rem;
  font-size: var(--small);
}

[data-members-form].success .success {
  display: block;
}

[data-members-form].error .error {
  display: block;
}

.sm-inputs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

.sm-inputs input {
  flex: 1;
  padding: 3px 6px;
  color: #000;
  background-color: #fff;
  border-radius: var(--radius-small);
  border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.sm-inputs .sm-icon-button {
  flex: 1;
  justify-content: center;
  color: var(--surface);
  background-color: var(--secondary);
  border-radius: 0 var(--radius-small) var(--radius-small) 0;
}

.sm-inputs .sm-icon-button svg {
  fill: var(--surface);
}

.sm-inputs:focus-within {
  outline: 2px dotted var(--surface);
  outline-offset: 2px;
}

.sm-inputs:focus-within :where(input, button) {
  outline: none;
}

.sm-inputs button:hover {
  background-color: var(--secondary-dark);
}

@media (--tablet) {
  .sm-feature-image-card {
    grid-row: span 6;
    grid-column: span 6;
  }

  .sm-tag-card {
    grid-row: span 3;
    grid-column: span 3;
  }

  .sm-no-image-card {
    grid-row: span 3;
    grid-column: span 9;
  }

  .sm-no-image-card:nth-of-type(2n) {
    grid-column: 4 / span 9;
  }

  .sm-cta-card {
    grid-row: span 3;
    grid-column: span 6;
  }

  .sm-featured-card {
    grid-row: span 6;
    grid-column: span 12;
  }
}
