/* Home page cards */
.sm-card {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: var(--radius);
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.sm-card > a:focus-visible .sm-card-title {
  text-decoration: underline solid var(--primary);
}

.sm-card-meta {
  margin-block-start: 0.5rem;
  font-size: var(--x-small);
  font-weight: 600;
  line-height: var(--small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-expand);
}

.sm-card-navigation {
  box-sizing: content-box;
  flex-shrink: 0;
  width: var(--spacing-04);
  height: var(--spacing-04);
  padding: var(--spacing-02);
  line-height: 1;
  background-color: var(--surface-85);
  border-radius: 50%;
  transition: background-color var(--transition), translate var(--transition);
}

.sm-card-navigation svg {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1;
  fill: var(--element);
}

@supports (prefers-reduced-motion: reduce) {
  .sm-card {
    opacity: 1;
    transition: none;
  }
}

.sm-card-body {
  position: relative;
  padding: var(--box-padding);
  margin-inline: auto;
  overflow: hidden;
}

.sm-card-title {
  margin: 0 0 0.5rem;
  font-size: var(--h4);
  line-height: 1.2;
  text-wrap: pretty;
  letter-spacing: var(--letter-spacing-contract);
}

.sm-card-excerpt {
  display: -webkit-box;
  overflow: hidden;
  font-size: var(--small);
  color: var(--element-light);
  text-wrap: pretty;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Card sizing */

/* Feature image card */

.sm-feature-image-card:where(:hover, :focus-visible) img {
  translate: 0 -0.5rem;
}

.sm-feature-image-card img {
  height: 115%;
  transition: translate var(--transition);
}

/* No image card */
.sm-no-image-card {
  color: var(--element);
  background-color: var(--surface-light);
}

.sm-no-image-card .sm-card-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* CTA card */
.sm-cta-card {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  padding: var(--box-padding);
  text-align: center;
  background-color: var(--surface-dark);
  border-radius: var(--radius);
  opacity: 0;
}

.sm-cta-card h2 {
  margin: 0;
  font-size: var(--h4);
  font-weight: 900;
  line-height: 1.1;
  text-wrap: pretty;
  background-image: none !important;
}

[data-members-form] :where(.success, .error) {
  display: none;
  margin-block-end: 0.5rem;
  font-size: var(--small);
}

[data-members-form].success .success {
  display: block;
}

[data-members-form].error .error {
  display: block;
}

.sm-inputs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

.sm-inputs input {
  flex: 1;
  padding: 3px 6px;
  color: #000;
  background-color: #fff;
  border-radius: var(--radius-small);
  border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.sm-inputs .sm-icon-button {
  flex: 1;
  justify-content: center;
  color: var(--surface);
  background-color: var(--secondary);
  border-radius: 0 var(--radius-small) var(--radius-small) 0;
}

.sm-inputs .sm-icon-button svg {
  fill: var(--surface);
}

.sm-inputs:focus-within {
  outline: 2px dotted var(--secondary-light);
  outline-offset: 2px;
}

.sm-inputs:focus-within :where(input, button) {
  outline: none;
}

.sm-inputs button:where(:hover, :focus-visible) {
  background-color: var(--secondary-dark);
}

/* Base carsd */
.sm-card-base {
  background-color: var(--surface-dark);
}

.sm-card-base .sm-card-body {
  display: grid;
  gap: var(--spacing-06);
  height: 100%;
}

.sm-feature-image-card:not(.sm-featured-card) .sm-card-body {
  grid-template-rows: auto 1fr;
  padding-block-end: 0;
}

.sm-card:hover .sm-card-navigation {
  background-color: var(--surface-light);
  translate: 3px 0;
}

.sm-card-base a {
  display: block;
  height: 100%;
}

.sm-card-base img {
  display: block;
  width: 100%;
  border-radius: calc(var(--radius) * 0.8) calc(var(--radius) * 0.8) 0 0;
  object-fit: cover;
}

/* Featured card */
.sm-featured-card {
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.sm-featured-card picture {
  display: block;
}

.sm-featured-card picture::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50%;
  content: '';
  background-image: linear-gradient(0deg, rgb(0 0 0), transparent);
}

.sm-featured-card img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm-featured-card .sm-card-excerpt {
  color: hsl(0deg 0% 85%);
}

/* Tags card */
.sm-tag-card {
  position: relative;
  overflow: hidden;
  font-family: var(--ui-typeface);
  color: #fff;
  background-color: var(--surface-light);
  border-radius: var(--radius);
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.sm-tag-card a {
  display: block;
  height: 100%;
  padding: var(--box-padding);
}

.sm-tag-card.sm-background-color {
  color: var(--surface);
  background-color: var(--primary);
}

.sm-tag-card.sm-background-color:nth-of-type(2n) {
  background-color: var(--secondary);
}

.sm-tag-card picture::after {
  position: absolute;
  inset: 0;
  content: '';
  background-color: rgb(0 0 0 / 50%);
  transition: var(--transition);
}

.sm-tag-card a:where(:hover, :focus-visible) picture::after {
  opacity: 0;
}

.sm-tag-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm-tag-card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sm-tag-card-count {
  font-size: var(--h1);
  font-weight: 700;
  font-variant-numeric: oldstyle-nums;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-contract);
}

.sm-tag-card-text {
  font-size: var(--small);
  line-height: 1.2;
  text-align: center;
  text-transform: lowercase;
  text-wrap: pretty;
}

/* Social media card */
.sm-card-social-media {
  background-color: var(--surface-dark);
}

.sm-card-social-media a {
  padding: var(--box-padding);
}

.sm-card-social-media svg {
  width: 100%;
  aspect-ratio: 1;
  fill: var(--element-light);
  transition: fill var(--transition);
}

.sm-card-social-media.behance a:where(:hover, :focus-visible) svg {
  fill: #1769ff; /* Behance brand color */
}

.sm-card-social-media.discord a:where(:hover, :focus-visible) svg {
  fill: #7289da; /* Discord brand color */
}

.sm-card-social-media.dribble a:where(:hover, :focus-visible) svg {
  fill: #ea4c89; /* Dribbble brand color */
}

.sm-card-social-media.facebook a:where(:hover, :focus-visible) svg {
  fill: #1877f2; /* Facebook brand color */
}

.sm-card-social-media.github a:where(:hover, :focus-visible) svg {
  fill: #4078c0; /* GitHub brand color */
}

.sm-card-social-media.instagram a:where(:hover, :focus-visible) svg {
  fill: #c13584; /* Instagram brand color */
}

.sm-card-social-media.linkedin a:where(:hover, :focus-visible) svg {
  fill: #0a66c2; /* LinkedIn brand color */
}

.sm-card-social-media.mastodon a:where(:hover, :focus-visible) svg {
  fill: #3088d4; /* Mastodon brand color */
}

.sm-card-social-media.patreon a:where(:hover, :focus-visible) svg {
  fill: #ff424d; /* Patreon brand color */
}

.sm-card-social-media.pinterest a:where(:hover, :focus-visible) svg {
  fill: #bd081c; /* Pinterest brand color */
}

.sm-card-social-media.reddit a:where(:hover, :focus-visible) svg {
  fill: #ff4500; /* Reddit brand color */
}

.sm-card-social-media.slack a:where(:hover, :focus-visible) svg {
  fill: #4a154b; /* Slack brand color */
}

.sm-card-social-media.snapchat a:where(:hover, :focus-visible) svg {
  fill: #fffc00; /* Snapchat brand color */
}

.sm-card-social-media.substack a:where(:hover, :focus-visible) svg {
  fill: #ff4a7d; /* Substack brand color */
}

.sm-card-social-media.telegram a:where(:hover, :focus-visible) svg {
  fill: #08c; /* Telegram brand color */
}

.sm-card-social-media.tumblr a:where(:hover, :focus-visible) svg {
  fill: #35465c; /* Tumblr brand color */
}

.sm-card-social-media.twitch a:where(:hover, :focus-visible) svg {
  fill: #9146ff; /* Twitch brand color */
}

.sm-card-social-media.twitter a:where(:hover, :focus-visible) svg {
  fill: #1da1f2; /* Twitter brand color */
}

.sm-card-social-media.vimeo a:where(:hover, :focus-visible) svg {
  fill: #1ab7ea; /* Vimeo brand color */
}

.sm-card-social-media.wechat a:where(:hover, :focus-visible) svg {
  fill: #7bb32e; /* WeChat brand color */
}

.sm-card-social-media.youtube a:where(:hover, :focus-visible) svg {
  fill: #f00; /* YouTube brand color */
}

/* Count card */
.sm-card-number {
  gap: var(--spacing-01);
  align-items: center;
  justify-content: center;
  padding: var(--box-padding);
  text-align: center;
  background-color: var(--surface-dark);
  border-radius: var(--radius);
}

.sm-card-number-focus {
  font-size: var(--h1);
  font-weight: 700;
  font-variant-numeric: oldstyle-nums;
  line-height: 1;
}

.sm-card-number-focus:last-child {
  font-size: var(--h3);
}

.sm-card-number-description {
  font-size: var(--small);
  line-height: 1.2;

  /* text-transform: lowercase; */
  text-wrap: pretty;
}

/* Topics card */
.sm-card-topics {
  overflow: hidden;
  background-color: var(--surface-dark);
  border-radius: var(--radius);
}

.sm-card-topics a {
  display: grid;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: var(--spacing-02);
  height: 100%;
}

.sm-card-topics a:where(:focus-visible, :hover) h2 {
  color: var(--secondary);
}

.sm-card-topics h2 {
  position: relative;
  z-index: 1;
  grid-row: 3 / span 2;
  grid-column: 2 / -2;
  align-self: center;
  padding: var(--box-padding);
  margin: 0;
  font-size: var(--h4);
  text-align: center;
  text-wrap: pretty;
  background-color: var(--surface-dark);
  transition: color var(--transition);
}

.sm-card-topics img {
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm-card-topics picture {
  z-index: 0;
}

.sm-card-topics picture:nth-of-type(1) {
  grid-row: 1 / span 3;
  grid-column: 1;
}

.sm-card-topics picture:nth-of-type(2) {
  grid-row: 1 / span 3;
  grid-column: 2;
}

.sm-card-topics picture:nth-of-type(3) {
  grid-row: 1 / span 3;
  grid-column: 3;
}

.sm-card-topics picture:nth-of-type(4) {
  grid-row: 1 / span 3;
  grid-column: 4;
}

.sm-card-topics picture:nth-of-type(5) {
  grid-row: 1 / span 3;
  grid-column: 5;
}

.sm-card-topics picture:nth-of-type(6) {
  grid-row: 1 / span 3;
  grid-column: 6;
}

.sm-card-topics picture:nth-of-type(7) {
  grid-row: 4 / -1;
  grid-column: 1;
}

.sm-card-topics picture:nth-of-type(8) {
  grid-row: 4 / -1;
  grid-column: 2;
}

.sm-card-topics picture:nth-of-type(9) {
  grid-row: 4 / -1;
  grid-column: 3;
}

.sm-card-topics picture:nth-of-type(10) {
  grid-row: 4 / -1;
  grid-column: 4;
}

.sm-card-topics picture:nth-of-type(11) {
  grid-row: 4 / -1;
  grid-column: 5;
}

.sm-card-topics picture:nth-of-type(12) {
  grid-row: 4 / -1;
  grid-column: 6;
}
