/* Home page cards */
.sm-card {
  overflow: hidden;
  text-align: center;
  background-color: hsl(var(--surface-dark));
  border-radius: var(--radius);
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);

  > a {
    padding: var(--spacing-08) var(--spacing-04);
  }
}

@supports (prefers-reduced-motion: reduce) {
  .sm-card {
    opacity: 1;
    transition: none;
  }
}

.sm-card.featured {
  .sm-card-tag {
    border: 1px solid;
  }

  &.code {
    color: #fff;
    background-color: hsl(var(--color-2));
  }

  &.design {
    color: #fff;
    background-color: hsl(var(--color-3));
  }

  &.projects {
    color: #fff;
    background-color: hsl(var(--color-4));
  }

  &.essays {
    color: #fff;
    background-color: hsl(var(--color-5));
  }

  &.philosophy {
    color: #fff;
    background-color: hsl(var(--color-1));
  }
}

.sm-card-tag {
  width: max-content;
  padding: var(--spacing-02) var(--spacing-04);
  margin-block-end: var(--spacing-04);
  margin-inline: auto;
  font-family: var(--ui-typeface);
  font-size: var(--xx-small);
  font-weight: 500;
  color: hsl(var(--color-1-light));
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-expand);
  background-color: hsl(var(--color-1));
  border-radius: var(--radius);
  line-height: 1;

  &.code {
    color: hsl(var(--color-2-light));
    background-color: hsl(var(--color-2));
  }

  &.design {
    color: hsl(var(--color-3-light));
    background-color: hsl(var(--color-3));
  }

  &.projects {
    color: hsl(var(--color-4-light));
    background-color: hsl(var(--color-4));
  }

  &.essays {
    color: hsl(var(--color-5-light));
    background-color: hsl(var(--color-5));
  }

  &.philosophy {
    color: hsl(var(--color-1-light));
    background-color: hsl(var(--color-1));
  }
}

[data-color-pref='dark'] {
  .sm-card.featured {
    &.code {
      color: #000;
      background-color: hsl(var(--color-2));
    }

    &.design {
      color: #000;
      background-color: hsl(var(--color-3));
    }

    &.projects {
      color: #000;
      background-color: hsl(var(--color-4));
    }

    &.essays {
      color: #000;
      background-color: hsl(var(--color-5));
    }

    &.philosophy {
      color: #000;
      background-color: hsl(var(--color-1));
    }
  }

  .sm-card-tag {
    color: hsl(var(--color-1-dark));

    &.code {
      color: hsl(var(--color-2-dark));
    }

    &.design {
      color: hsl(var(--color-3-dark));
    }

    &.projects {
      color: hsl(var(--color-4-dark));
    }

    &.essays {
      color: hsl(var(--color-5-dark));
    }

    &.philosophy {
      color: hsl(var(--color-1-dark));
    }
  }
}

.sm-card-title {
  margin: 0 0 var(--spacing-06);
  font-size: var(--h4);
  font-weight: 500;
  line-height: 1.2;
  text-wrap: pretty;
  letter-spacing: var(--letter-spacing-contract);
}

.sm-card-excerpt {
  display: -webkit-box;
  margin-block: var(--spacing-06) var(--spacing-06);
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 1.4;
  text-wrap: pretty;
  opacity: 0.8;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.sm-card-read-more {
  display: inline-flex;
  gap: var(--spacing-02);
  align-items: center;
  justify-content: center;
  padding: var(--spacing-02) var(--spacing-06);
  font-family: var(--ui-typeface);
  font-size: var(--x-small);
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-expand);
  border: 1px solid;
  border-radius: var(--radius-round);

  svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1rem;
    fill: currentcolor;
  }
}

.sm-cta-card {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  padding: var(--box-padding);
  text-align: center;
  background-color: hsl(var(--surface-dark));
  border-radius: var(--radius);
  opacity: 0;
}

.sm-cta-card h2 {
  margin: 0;
  font-size: var(--h4);
  font-weight: 900;
  line-height: 1.1;
  text-wrap: pretty;
  background-image: none !important;
}

[data-members-form] :where(.success, .error) {
  display: none;
  margin-block-end: 0.5rem;
  font-size: var(--small);
}

[data-members-form].success .success {
  display: block;
}

[data-members-form].error .error {
  display: block;
}

.sm-inputs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}

.sm-inputs input {
  flex: 1;
  padding: 3px 6px;
  color: #000;
  background-color: #fff;
  border-radius: var(--radius-small);
  border-radius: var(--radius-small) 0 0 var(--radius-small);
}

.sm-inputs .sm-icon-button {
  flex: 1;
  justify-content: center;
  color: hsl(var(--surface));
  background-color: hsl(var(--color-2));
  border-radius: 0 var(--radius-small) var(--radius-small) 0;
}

.sm-inputs .sm-icon-button svg {
  fill: hsl(var(--surface));
}

.sm-inputs:focus-within {
  outline: 2px dotted var(--color-2-light);
  outline-offset: 2px;
}

.sm-inputs:focus-within :where(input, button) {
  outline: none;
}

.sm-inputs button:where(:hover, :focus-visible) {
  background-color: var(--color-2-dark);
}

.sm-card-base a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.sm-card-base img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: calc(var(--radius) * 0.8);
  object-fit: cover;
}

.sm-tag-card {
  position: relative;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  font-family: var(--ui-typeface);
  color: #fff;
  background-color: hsl(var(--surface-light));
  border-radius: var(--radius);
  opacity: 0;
  container-type: inline-size;
}

.sm-tag-card a {
  display: block;
  height: 100%;

  :where(:hover, :focus-visible) .sm-tag-card-count {
    color: hsl(var(--color-1));
    outline: none;
  }
}

.sm-tag-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm-tag-card-body {
  position: relative;
  height: 100%;
}

.sm-tag-card-count {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: var(--h1);
  font-size: 75cqi;
  font-weight: 900;
  font-variant: tabular-nums;
  line-height: 1;
  color: hsl(var(--surface));
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  transition: color var(--transition);
  translate: -10% 20%;
}

.sm-tag-card-text {
  position: absolute;
  right: var(--spacing-04);
  bottom: var(--spacing-04);
  font-size: var(--small);
  font-weight: 300;
  line-height: 1.2;
  color: hsl(var(--color-1-light));
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-expand);
  transform-origin: right;
  rotate: 90deg;
  translate: 0 100%;
}

.sm-card-social-media {
  background-color: transparent;
  border: 1px solid hsl(var(--element) / 20%);
  border-radius: var(--radius-round);

  a {
    justify-content: center;
    padding: var(--spacing-02) var(--spacing-06);

    @media (--tablet) {
      padding: var(--spacing-04) var(--spacing-12);
    }
  }

  svg {
    width: 100%;
    min-width: 2.5rem;
    max-width: 4rem;
    aspect-ratio: 1;
    fill: hsl(var(--element-light) / 80%);
    transition: fill var(--transition);
  }
}

.sm-card-social-media.behance a:where(:hover, :focus-visible) svg {
  fill: #1769ff;
}

.sm-card-social-media.discord a:where(:hover, :focus-visible) svg {
  fill: #7289da;
}

.sm-card-social-media.dribble a:where(:hover, :focus-visible) svg {
  fill: #ea4c89;
}

.sm-card-social-media.facebook a:where(:hover, :focus-visible) svg {
  fill: #1877f2;
}

.sm-card-social-media.github a:where(:hover, :focus-visible) svg {
  fill: #4078c0;
}

.sm-card-social-media.instagram a:where(:hover, :focus-visible) svg {
  fill: #c13584;
}

.sm-card-social-media.linkedin a:where(:hover, :focus-visible) svg {
  fill: #0a66c2;
}

.sm-card-social-media.mastodon a:where(:hover, :focus-visible) svg {
  fill: #3088d4;
}

.sm-card-social-media.patreon a:where(:hover, :focus-visible) svg {
  fill: #ff424d;
}

.sm-card-social-media.pinterest a:where(:hover, :focus-visible) svg {
  fill: #bd081c;
}

.sm-card-social-media.reddit a:where(:hover, :focus-visible) svg {
  fill: #ff4500;
}

.sm-card-social-media.slack a:where(:hover, :focus-visible) svg {
  fill: #4a154b;
}

.sm-card-social-media.snapchat a:where(:hover, :focus-visible) svg {
  fill: #fffc00;
}

.sm-card-social-media.substack a:where(:hover, :focus-visible) svg {
  fill: #ff4a7d;
}

.sm-card-social-media.telegram a:where(:hover, :focus-visible) svg {
  fill: #08c;
}

.sm-card-social-media.tumblr a:where(:hover, :focus-visible) svg {
  fill: #35465c;
}

.sm-card-social-media.twitch a:where(:hover, :focus-visible) svg {
  fill: #9146ff;
}

.sm-card-social-media.twitter a:where(:hover, :focus-visible) svg {
  fill: #1da1f2;
}

.sm-card-social-media.vimeo a:where(:hover, :focus-visible) svg {
  fill: #1ab7ea;
}

.sm-card-social-media.wechat a:where(:hover, :focus-visible) svg {
  fill: #7bb32e;
}

.sm-card-social-media.youtube a:where(:hover, :focus-visible) svg {
  fill: #f00;
}
