.sm-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content-width);
  padding: var(--gap);
  margin: 2rem auto;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
}

.sm-form label,
.sm-form input,
.sm-form textarea,
.sm-form button {
  /* display: inline-block; */
}

.sm-form input,
.sm-form textarea {
  padding: var(--button-padding);
  margin-block-end: 1rem;
  color: hsl(var(--element));
  background-color: hsl(var(--surface));
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
}

.sm-form textarea {
  height: 10rem;
  resize: none;
}

.sm-form input:focus-visible,
.sm-form textarea:focus-visible {
  border-color: hsl(var(--secondary));
  outline: none;
}

.sm-form button:hover,
.sm-form button:focus-visible {
  background-color: hsl(var(--secondary));
  outline: none;
}
