.sm-hero {
  padding-block: var(--spacing-10) var(--spacing-12);
  background-color: var(--surface-dark);
}

.sm-hero > * {
  grid-column: content;
}

.sm-hero-description {
  font-family: var(--ui-typeface);
  font-size: var(--h2);
  font-weight: 400;
  line-height: 1.2;
  color: var(--element-dark);

  & a {
    text-decoration: underline;
    text-decoration-thickness: 3px;

    &:hover {
      text-decoration-color: var(--primary);
    }
  }
}

@media (--tablet) {
  .sm-hero-description {
    font-size: var(--h1);
  }
}

/* Hero image */

.sm-hero-img img {
  display: block;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  max-height: 50vh;
  max-height: 50lvh;
  margin: 0 auto;
  border-radius: var(--radius);
  object-fit: contain;
}

.sm-hero-button-container:not(:empty) {
  gap: var(--spacing-04);
  justify-content: flex-start;
  margin-block-start: 2rem;

  a:last-child {
    font-weight: 600;
    transition: color var(--transition);

    &:hover {
      color: var(--secondary);
    }
  }
}
