.sm-hero {
  position: relative;
  grid-column: content;
  margin-block: var(--bento-box);
}

.sm-hero-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--bento-gap);
}

.sm-hero-left {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--box-padding);
  background-color: var(--surface-darker);
  border-radius: var(--radius);
}

.sm-hero-description {
  font-size: var(--h5);
  font-weight: 600;
  color: var(--element-dark);
}

/* Hero image */
.sm-hero-right {
  display: none;
  padding: var(--box-padding);
  background-color: var(--surface-darker);
  border-radius: var(--radius);
}

.sm-hero-img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: var(--radius);
  object-fit: contain;
  transform: scaleX(-1);
}

.sm-hero-button-container:not(:empty) {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-block-start: 2rem;
}

.sm-hero-cta-2 {
  position: relative;
  color: var(--element);
  background-color: transparent;
}

.sm-hero-cta-2 svg {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  /* opacity: 0.5; */
}

@media (--tablet) {
  .sm-hero-bg {
    display: none;
  }

  .sm-hero-img {
    max-height: 50vmin;
  }

  .sm-hero-left {
    text-align: start;
  }

  .sm-hero-right {
    display: initial;
  }

  .sm-hero-button-container:not(:empty) {
    justify-content: flex-start;
  }
}
