.sm-nav-menu {
  --navbar-width: calc(1);

  position: fixed;
  top: 3rem;
  z-index: 35;
  display: none;
  width: 100%;
  height: calc(100dvh - 3rem);
  font-family: var(--ui-typeface);
  background-color: var(--surface-85);
  backdrop-filter: blur(8px);
}

.sm-nav-menu.sm-show-nav-menu {
  display: grid;
}

.sm-nav-menu-inner {
  grid-column: content;
  padding-block: var(--spacing-06);

  .sm-navigation {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-02);
    align-items: flex-start;
  }
}

.sm-nav-menu-actions {
  gap: var(--spacing-02);
  align-items: flex-start;
  padding-block-start: var(--spacing-06);
  margin-block-start: var(--spacing-06);
  border-top: 1px solid var(--border-color);

  .sm-icon-button {
    padding: 0;
    line-height: inherit;
    background-color: transparent;

    &:hover {
      color: var(--secondary);

      & svg {
        fill: var(--secondary);
      }
    }
  }
}
