.sm-nav-menu-container {
  position: fixed;
  inset: 0;
  z-index: 35;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  height: 100vh;
  padding: 3rem var(--gap);
  overflow-y: auto;
  text-align: center;
  background-color: var(--surface-85);
  backdrop-filter: blur(20px);
}

.sm-nav-menu-container.sm-show-menu {
  display: flex;
}

body:has(.sm-show-menu) {
  position: fixed;
  inset: 0;
}

.sm-show-menu .sm-navigation {
  display: initial;
}

.sm-nav-menu-navigation-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}

.sm-nav-menu-navigation-container .sm-navigation {
  font-size: 2rem;
  font-weight: 800;
}

.sm-nav-menu-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
