.sm-pagination {
  display: flex;
  grid-column: content;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  font-family: var(--ui-typeface);
  font-size: var(--small);
  border: 1px solid hsl(var(--border-color));
  border-radius: var(--radius-round);
}

.sm-pagination,
.sm-pagination-holder {
  margin-block: var(--spacing-20);
}

.sm-current {
  color: hsl(var(--color-1));
}

.sm-pagination-item:hover {
  color: hsl(var(--color-1));
}

.sm-prev {
  margin-inline-end: auto;
}

.sm-next {
  margin-inline-start: auto;
}

.sm-nav-disabled {
  opacity: 0.3;
}

.sm-circle-icon-button.sm-nav-disabled:hover {
  background-color: transparent;
}
