.sm-playlist-grid {
  position: relative;
  padding: var(--spacing-08);
  overflow: hidden;

  &.sm-playing {
    background: none;
  }

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background-image: var(--bg);
    filter: blur(15px);
    background-position-x: center;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 1.5;
  }

  &.sm-playing::before {
    opacity: 1;
  }

  h3 {
    margin-block: 0 var(--spacing-01);
    font-family: var(--body-typeface);
    font-size: var(--h4);
    font-style: italic;
    font-weight: 400;
  }

  p {
    margin-block-end: var(--spacing-04);
    font-family: var(--ui-typeface);
    font-size: var(--xx-small);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-expand);
  }

  ol {
    min-height: 16rem;
    padding-inline-start: 0;
    margin-block-end: var(--spacing-04);
    font-size: var(--small);
    list-style-type: none;
    counter-reset: li;
  }

  li::before {
    display: inline-block;
    width: 24px;
    margin-inline-end: var(--spacing-01);
    font-variant-numeric: tabular-nums;
    content: counter(li, decimal-leading-zero) '.';
    content: attr(data-track) '.';
    counter-increment: li;
  }

  .sm-active::before {
    color: var(--color, hsl(var(--color-1)));
    content: '▶️';
    translate: 1px 0;
  }

  .sm-playlist-iframe {
    display: none;
  }
}

.sm-playlist-item {
  text-align: left;
}

.sm-playlist-item-artist {
  &::before {
    content: '— ';
    opacity: 0.5;
  }
}

.sm-playlist-text {
  position: relative;
}

.sm-playlist-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-02);
  align-items: center;
  justify-content: center;
}

.sm-playlist-buttons {
  display: flex;
  gap: var(--spacing-01);
  align-items: center;
}

.sm-playlist-button {
  aspect-ratio: 1;
  padding: var(--spacing-01);
  line-height: 1;
  color: #fff;
  border-radius: 50%;
  transition: background-color var(--transition);

  &:hover {
    background-color: rgb(255 255 255 / 20%);
  }

  svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentcolor;
  }

  &[data-control='pause'] {
    display: none;

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &[data-control='play'] {
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.sm-playing {
  [data-control='pause'] {
    display: initial;
  }

  [data-control='play'] {
    display: none;
  }

  .sm-playlist-text {
    color: white;
  }
}

.sm-playlist-cover-art {
  width: 100%;
  max-width: 15rem;
  aspect-ratio: 1 / 1;
  background-color: hsl(var(--surface-darker));
  background-position: center;
  background-size: cover;
  border-radius: var(--radius);
}

.sm-playlist-progress {
  span {
    position: absolute;
    top: -3px;
    font-size: var(--xx-small);
    opacity: 0.7;

    &:last-of-type {
      right: 0;
    }
  }
}

.sm-playlist-volume {
  display: flex;
  gap: var(--spacing-01);
  align-items: center;
  line-height: 1;

  svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    fill: currentcolor;
  }
}

[data-volume='high'] {
  :where(.sm-muted, .sm-low-volume) {
    display: none;
  }
}

[data-volume='low'] {
  :where(.sm-muted, .sm-high-volume) {
    display: none;
  }
}

[data-volume='muted'] {
  :where(.sm-low-volume, .sm-high-volume) {
    display: none;
  }
}

:where(.sm-playlist-progress, .sm-playlist-volume) {
  position: relative;
  width: 100%;
  max-width: 15rem;

  input {
    width: 100%;
    height: 5px;
    accent-color: var(--color, hsl(var(--color-1)));
  }
}

.sm-playlist-now-playing {
  p {
    margin-block-end: 0;
    font-size: var(--small);
    text-align: center;
    text-transform: none;

    &:first-child {
      font-size: 1rem;
    }
  }
}
