.sm-love-button {
  display: flex;
  align-items: center;

  /* transform: translateY(0.25em); */
}

.sm-love-button .sm-heart-fill-icon {
  display: none;
}

.sm-love-button.sm-love-toggle .sm-heart-outline-icon {
  display: none;
}

.sm-love-button.sm-love-toggle .sm-heart-fill-icon {
  display: flex;
  align-items: center;
}

.sm-overflow-articles {
  display: grid;
  gap: var(--gap);
  min-width: 18rem;
  max-width: 100%;
}

.sm-saves {
  padding: 0.5em 1em;
  border-radius: var(--radius);
}

.sm-saves progress::-webkit-progress-bar {
  background-color: var(--primary-light);
  border-radius: var(--radius);
  opacity: 0.5;
}

.sm-saves progress::-webkit-progress-value {
  overflow: hidden;
  background-color: var(--primary);
  border-radius: var(--radius);
}

.sm-saves-meta {
  display: flex;
  gap: var(--gap);
  align-items: center;
  justify-content: space-between;
}

.sm-saves-meta button {
  font-size: 1rem;
  transform: none;
}

.sm-saves-title {
  font-family: var(--heading-typeface);
  font-weight: 700;
  text-align: left;
  transition: 0.3s color;
}

.sm-saves-title:hover {
  color: var(--primary);
}

.sm-saves-date {
  margin-block: 0.5rem 0;
  font-size: var(--x-small);
  text-align: left;
}

.sm-saves button span {
  line-height: 0;
}
