//-------------------------------------------
// Containers
//-------------------------------------------
@use '../abstracts/variables';
@use '../abstracts/mixins';

.sm-outer-container {
  position: relative;
  width: 100%;
  padding: 1rem;

  @media (min-width: variables.$tablet) {
    padding: 1rem 3rem 2rem;
  }

  @media (min-width: variables.$laptop) {
    padding: 1rem 4rem 2rem;
  }

  &--footer {
    @extend .sm-outer-container;
    min-height: 250px;
    padding-bottom: 3rem;

    @media (min-width: variables.$laptop) {
      padding-bottom: 1rem;
    }

    font-size: 0.9rem;
    @include mixins.color-map(background-color, surface);
    @include mixins.color-map(color, text1);
    border-bottom: none;
  }
}

.sm-inner-container {
  max-width: variables.$laptop;
  margin: 0 auto 1rem;

  &--hero {
    @extend .sm-inner-container;
    position: relative;
    height: 100%;
    margin-bottom: 0;
  }

  &--footer {
    @extend .sm-inner-container;
  }

  &--author {
    @extend .sm-inner-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
    @media (min-width: variables.$tablet) {
      flex-direction: row;
    }
  }
}
