//-------------------------------------------
// Mobile Nav Menu
//-------------------------------------------
@use '../abstracts/mixins';
@use '../abstracts/variables';

.sm-menu {
  .sm-modal__container {
    padding: 1rem;

    @media (min-width: variables.$tablet) {
      padding: 1rem 3rem;
    }

    @media (min-width: variables.$laptop) {
      padding: 1rem 4rem;
    }
  }

  &__link {
    @include mixins.transition(color);
    &:focus {
      outline: none;
      @include mixins.color-map(color, primary);
    }
  }
}
