{{! Subscribe Module }}
<section class="subscribe">
    <div class="inner-container">
        <div class="modal-inner">
            <h3 class="serif">Subscribe</h3>
            <p>Don't miss what happens next 🦙</p>
            {{!-- subscribe_form partial --}}
            {{subscribe_form}}
            {{!-- subscribe_form partial --}}
            </form>
        </div>
    </div>
</section>
{{! Subscribe Module }}