.sm-post-header {
  padding-block-start: 6rem;
  grid-column: 3 / 4;
}

.sm-post-title {
  margin-block-end: 0.5rem;
}

/* TODO - Combine with card.css */
.sm-post-tag {
  display: inline-block;
  padding: 0 0.75em;
  font-size: var(--small);
  color: var(--element-light);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  background-color: var(--surface-dark);
  border-radius: var(--radius);
}

.sm-post-header .sm-post-tag {
  background-color: var(--surface-darker);
}

.sm-post-excerpt {
  max-width: 75ch;
}

.sm-post-meta {
  display: flex;
  justify-content: space-between;
  margin-block: 3rem 1rem;
}

.sm-feature-image img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: var(--radius);
}

.sm-post-header-divider {
  margin-block: 0 3rem;
  border-top: 1px solid var(--border-color);
}

/* Content */
.sm-post-content {
  display: grid;
  grid-column: 3 / 4;
  grid-template-columns: 1fr 1fr min(100%, 720px) 1fr 1fr;
  margin-block-end: 3rem;
}

.sm-post-content > * {
  grid-column: 3 / 4;
  margin-block-end: 1rem;
}

.kg-card {
  margin-block: 2rem;
}

.kg-image,
.sm-post-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-inline: auto;
}

.sm-post-content figcaption {
  padding: 0.25rem;
  font-size: var(--small);
  text-align: center;
}

.sm-post-content hr {
  border: none;
  height: 1px;
  background-color: var(--border-color);
}

.kg-card {
  margin-inline: auto;
  width: 100%;
}

.kg-width-wide {
  grid-column: 2 / 4;
}

.kg-gallery-card,
.kg-width-full,
.kg-embed-card {
  grid-column: 1 / -1;
}

.kg-embed-card iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.kg-embed-card iframe[src*='soundcloud'] {
  height: auto;
  aspect-ratio: auto;
}

/* Related posts */
.sm-related-posts {
  grid-column: 3 / 4;
  border-top: 1px solid var(--border-color);
  margin-block: 1rem 6rem;
}

.sm-related-posts h2 {
  margin-block-start: 1rem;
}

.sm-related-posts-grid-container {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--gap);
}

.sm-related-posts .sm-card {
  grid-area: auto;
}
