.sm-tag-container {
  padding-block-end: 3rem;
}
.sm-tag-header,
.sm-tags-container {
  grid-column: 3/4;
}

.sm-tag-header {
  margin-block-start: 6rem;
}

.sm-tags-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--gap);
}

.sm-tags-container > * {
  grid-area: auto;
}
