{{!-- signin Modal --}}
<aside class="modal member" id="account" aria-expanded="false" aria-hidden="true">
    <button class="member__close-btn close-btn" title="Close signin" aria-label="close">
        <svg aria-hidden="true">
            <title>Close</title>
            <use href="#close"></use>
        </svg>
    </button>
    <div class="member__container">
    {{#if @member.paid}}

        {{!-- Logged in, paying member: Show account info --}}
       

            {{!-- {{#foreach @member.subscriptions}} --}}
                

    {{else if @member}}

       
    {{else}}

        {{!-- Not logged in: Redirect to signin --}}

    {{/if}}
    </div>
</aside>
{{!-- End signin Modal --}}
