.sm-button,
.sm-icon-button,
.sm-button-simple {
  padding: var(--button-padding);
  font-size: var(--small);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  border-radius: var(--radius);
}

.sm-button {
  color: var(--button-text);
  background-color: var(--primary);
}

.sm-icon-button {
  display: flex;
  align-items: center;
  color: var(--element);
  text-align: center;
  white-space: nowrap;
  background-color: hsla(
    var(--primary-h) var(--saturation) var(--lightness) / 0.15
  );
  transition: background-color 0.3s;
  gap: 1em;
}

.sm-icon-button:hover {
  background-color: hsla(
    var(--primary-h) var(--saturation) var(--lightness) / 0.25
  );
}

.sm-icon-button svg {
  width: 1em;
  height: 1em;
  fill: var(--element);
}

.sm-circle-icon-button {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.sm-circle-icon-button svg {
  width: 1em;
  height: 1em;
  fill: var(--element-light);
}

.sm-circle-icon-button:not([disabled]):hover {
  background-color: var(--border-color);
}

.sm-circle-icon-button[disabled] {
  opacity: 0.5;
}

.sm-button-simple {
  border: 1px solid var(--border-color);
  transition: background-color 0.3s;
}

.sm-button-simple:focus-visible,
.sm-button-simple:hover {
  background-color: var(--border-color);
  outline: none;
}
