.sm-card {
  /* max-width: 600px; */
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
  transition: transform 0.3s, box-shadow 0.3s;
}

.sm-card:hover {
  box-shadow: var(--box-shadow);
  transform: translate(0, -4px);
}

.sm-card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.sm-card,
.sm-tags-card,
.sm-cta-card {
  border: 1px solid var(--border-color);
}

.sm-card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.sm-card img + h2 {
  margin-block-start: 0.5rem;
}

.sm-card h2 {
  margin: 0;
  font-size: 2rem;

  line-height: 1.1;
}

.sm-card h2:not(.large) {
  font-size: 1.35rem;
}
.sm-card-body {
  padding: 1rem;
}

.sm-card .sm-excerpt {
  margin-block-start: 0.75rem;
  font-size: 0.875rem;
}

.sm-card-footer {
  margin-block-start: 2rem;

  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.sm-card .sm-tag {
  display: inline-block;
  padding: 0 0.75em;
  font-size: var(--small);
  color: var(--element-light);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  background-color: var(--surface-dark);
  border-radius: var(--radius);
}

.sm-card .sm-reading-time {
  font-size: var(--x-small);
  color: var(--element-light);
}

.sm-card-horizontal {
  flex-direction: row;
}

.sm-card-horizontal > .sm-card-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.sm-grid-feature .sm-card-horizontal:first-child img {
  max-width: 50%;
}

.sm-card-horizontal img {
  max-width: 12.5rem;
}

.sm-card-1 .sm-card-horizontal img {
  flex: 1;
  width: 50%;
}

/* Feature cards */
.sm-feature-card {
  border-radius: var(--radius);
}

.sm-feature-card h2 {
  margin-top: 0;
}

/* CTA */
.sm-cta-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  text-align: center;
}

.sm-cta-card img {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 6.5rem;
  height: 6.5rem;
  transform: translate(-50%, -50%);
  margin-inline: auto;
}

.sm-cta-card h2 {
  margin: 0 0 0.5rem;
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sm-cta-card p {
  font-size: 1.2rem;
}

.sm-cta-card form {
  margin-block-start: 1rem;
}

.sm-cta-card input {
  /* border-radius: var(--radius); */
  width: 100%;
  padding: 0.5em;
  text-align: center;
  background-color: transparent;
  border-bottom: 3px solid var(--border-color);
  color: var(--element);
  transition: border-color 0.3s;
}

.sm-cta-card input:focus-visible {
  border-color: var(--element);
  outline: none;
}

.sm-cta-card input::placeholder {
  color: var(--element-light);
  text-align: center;
  opacity: 0.5;
}

.sm-cta-card button {
  margin-block-start: 2rem;
}

/* Tags */

.sm-tags-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.sm-tags-card > * {
  flex: 1;
}

/* Tags card */
.sm-tags-card h2 {
  margin: 1rem;
}

.sm-tags-card a {
  padding: 1rem;
  font-weight: 700;
  color: var(--element-light);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.1s, color 0.1s;
}

.sm-tags-card a:first-of-type {
  border-top: 1px solid var(--border-color);
}

.sm-tags-card a:last-child {
  border-bottom: none;
}

.sm-tags-card span {
  float: right;
  font-variant-numeric: tabular-nums;
}

.sm-tags-card a:hover {
  color: var(--surface);
  background-color: var(--secondary);
}

:root[data-color-pref='dark'] .sm-tags-card a:hover,
:root[data-color-pref='dark'] .sm-tags-card a:nth-of-type(2):hover {
  color: var(--element);
}

.sm-tags-card a:nth-of-type(2):hover {
  background-color: hsla(
    var(--complementary-color) var(--saturation) var(--lightness) / 0.75
  );
}

.sm-tags-card a:nth-of-type(3):hover {
  color: var(--element);
  background-color: hsla(
    var(--complementary-color) var(--saturation) var(--lightness) / 0.5
  );
}

.sm-tags-card a:nth-of-type(4):hover {
  color: var(--element);
  background-color: hsla(
    var(--complementary-color) var(--saturation) var(--lightness) / 0.25
  );
}

.sm-tags-card a:nth-of-type(5):hover {
  color: var(--element);
  background-color: hsla(
    var(--complementary-color) var(--saturation) var(--lightness) / 0.05
  );
}
