.sm-header {
  grid-column: content;
  text-align: center;
}

.sm-header > *:not(:last-child) {
  margin-block-end: 1rem;
}

.sm-header > .sm-tag-count {
  margin-block-end: 0;
}

.sm-header-excerpt {
  max-width: 66ch;
  margin-inline: auto;
  color: var(--element-light);
  opacity: 0.85;
}

.sm-header-image {
  width: 100%;
  margin-block: 2rem;
  aspect-ratio: 16 / 9;
}

.sm-header-image figcaption {
  font-size: var(--small);
  opacity: 0.8;
  margin-block-start: 3px;
}

.sm-header-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  object-fit: cover;
}

.sm-header-divider {
  margin-block: 3rem;
  border-top: 1px solid var(--border-color);
}
