.sm-hero {
  position: relative;
  min-height: 60vmin;
  padding-block-end: 3rem;
  background-color: var(--primary);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(calc(var(--primary-h) + 90), 100%, 74%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 80% 0%,
      hsla(calc(var(--primary-h) + 180), 100%, 56%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 0% 50%,
      hsla(calc(var(--primary-h) + 270), 100%, 93%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 80% 50%,
      hsla(calc(var(--primary-h) + 40), 100%, 76%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 0% 100%,
      hsla(calc(var(--primary-h) + 140), 100%, 77%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 80% 100%,
      hsla(calc(var(--primary-h) + 230), 100%, 70%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 0% 0%,
      hsla(var(--primary-h), 100%, 76%, 1) 0px,
      transparent 50%
    );
}

.sm-hero + .sm-grid .sm-grid-home {
  padding-block-start: 3rem;
}

.sm-hero-inner {
  height: 100%;
  padding-block-start: 6rem;
  grid-column: content;
}

@media (--tablet) {
  .sm-hero-inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--gap);
    align-items: center;
  }
}

.sm-hero-left {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-inline-end: 1rem;
  text-align: center;
}

.sm-hero-subtitle {
  margin-block-end: 1rem;
  font-family: var(--heading-typeface);
  font-size: var(--h1);
  /* color: var(--primary); */
  font-weight: 700;
  line-height: 1;
  background-image: linear-gradient(45deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sm-hero-description {
  font-size: 1.15rem;
  color: var(--element-dark);
}

.sm-hero-bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  object-fit: cover;
  mix-blend-mode: multiply;
}

.sm-hero-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  object-fit: cover;
}

.sm-hero-right {
  display: none;
}

@media (--tablet) {
  .sm-hero-bg {
    display: none;
  }

  .sm-hero-img {
    max-height: 50vmin;
  }

  .sm-hero-left {
    text-align: start;
  }

  .sm-hero-right {
    display: initial;
  }
}
