.sm-hero {
  min-height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.sm-hero-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 1);
}

.sm-hero-bg-container::after {
  background: hsl(var(--primary-h) 35% 30%);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}

.sm-hero-bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
}

.sm-hero-inner {
  height: inherit;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 65ch;
  padding: 1rem;
  margin-block-start: 60px;
}

.sm-hero-subtitle {
  font-size: 3rem;
  font-family: var(--heading-typeface);
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

.sm-hero-description {
  font-size: 1.25rem;
  text-align: center;
}

.sm-hero-cta-button-container {
  margin-block-start: 3rem;
  display: flex;
  gap: 1rem;
}

.sm-hero-cta,
.sm-hero-cta--outline {
  padding: var(--button-padding);

  text-transform: uppercase;
  border-radius: var(--radius);
  font-size: var(--small);
}

.sm-hero-cta {
  background-color: var(--secondary);
}
.sm-hero-cta--outline {
  border: 1px solid;
}
