.sm-post-toc {
  position: fixed;
  bottom: 28px;
  left: 28px;
  z-index: 2;
  pointer-events: none;
  transition: opacity 0.5s;
  isolation: isolate;
}

.sm-post-toc-btn {
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 0.75rem;
  pointer-events: all;
  background: var(--surface-light);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
}

.sm-post-toc-btn svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
}

.sm-post-toc-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: min(500px, calc(100vw - 56px));
  padding: 0.75rem;
  margin-block-end: 1rem;
  font-size: var(--small);
  pointer-events: none;
  background: var(--surface-light);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  opacity: 0;
  transition: scale 0.2s ease-out, opacity 0.2s 0.1s ease-out,
    translate 0.2s 0.1s ease-out;
  transform-origin: bottom left;
  gap: 0.5rem;
  scale: 0;
  translate: 15px 10%;
}

.toc-show {
  pointer-events: all;
  opacity: 1;
  transition: scale 0.2s ease-in, opacity 0.2s ease-in, translate 0.2s ease-in;
  scale: 1;
  translate: 0 0;
}

.sm-toc-h3 {
  padding-inline-start: 0.5rem;
}

.sm-toc-h4 {
  padding-inline-start: 1rem;
}

.sm-toc-h5 {
  padding-inline-start: 1.5rem;
}

.sm-toc-h6 {
  padding-inline-start: 2rem;
}

.sm-toc-link {
  transition: color var(--transition);
}

.sm-toc-link:hover,
.sm-toc-link:focus {
  color: var(--primary);
}

.sm-toc-active {
  color: var(--primary);
}

.toc-hide {
  opacity: 0;
}
