@use 'sass:color';
// Bright Mode

:root[color-mode='light'] {
  --surface4: hsl(60, 15%, 96%);
  --surfaceInverse: #0a0a0a;
  --surface3: hsl(60, 15%, 94%);
  --surface2: hsl(60, 15%, 92%);
  --surface1: hsl(60, 15%, 90%);
  --surface: hsl(60, 15%, 88%);
  --text: hsl(231, 15%, 9%);
  --textInverse: #f5f5f5;
  --text1: hsl(231, 15%, 18%);
  --text2: hsl(232, 14%, 31%);
  --text3: hsl(232, 14%, 40%);
  --text4: hsl(232, 14%, 50%);
  --primary: #02677e;
  --three: #660f7d;
  --secondary: #c95f00;
  --four: #61740c;
  --five: #c99618;
  --gradient: linear-gradient(to right top, #02677e, hsl(201, 97%, 15%));
}

// Dark Mode
:root[color-mode='dark'] {
  --text: hsl(60, 30%, 96%);
  --textInverse: #0a0a0a;
  --text1: hsl(60, 30%, 90%);
  --text2: hsl(60, 30%, 86%);
  --text3: hsl(60, 30%, 76%);
  --text4: hsl(60, 30%, 66%);
  --surface: hsl(231, 15%, 9%);
  --surface1: hsl(231, 15%, 18%);
  --surface2: hsl(232, 14%, 31%);
  --surface3: hsl(232, 14%, 40%);
  --surface4: hsl(232, 14%, 50%);
  --primary: #8be9fd;
  --three: #6272a4;
  --secondary: #ffb86c;
  --four: #50fa7b;
  --five: #f1fa8c;

  --gradient: linear-gradient(to right top, #6272a4, hsl(201, 27%, 71%));
}
