:root {
  --bright: #f9f5d7;
}

// Bright Mode
:root[color-mode='light'] {
  --text: #282828;
  --textInverse: #f9f5d7;
  --text1: #3c3836;
  --text2: #504945;
  --text3: #665c54;
  --text4: #7c6f64;
  --surface: #bdae93;
  --surface1: #d5c4a1;
  --surface2: #ebdbb2;
  --surface3: #fbf1c7;
  --surface4: #f9f5d7;
  --primary: hsl(190, 89%, 25%);
  --primary-light: hsl(183, 33%, 40%);
  --secondary: #b57614;
  --secondary-light: #d79921;
  --three: #8f3f71;
  --four: #79740e;
  --five: #af3a03;

  --gradient: linear-gradient(
    to right top,
    hsl(190, 89%, 25%),
    hsl(200, 80%, 18%)
  );
}

// Dark Mode
:root[color-mode='dark'] {
  --text: #fbf1c7;
  --text1: #ebdbb2;
  --text2: #d5c4a1;
  --text3: #bdae93;
  --text4: #a89984;
  --surface: #1d2021;
  --surface1: #292929;
  --surface2: #3b3735;
  --surface3: #4f4945;
  --surface4: #655b53;
  --textInverse: --surface;
  --primary: hsl(184, 33%, 40%);
  --primary-light: hsl(157, 16%, 58%);
  --secondary: #d79921;
  --secondary-light: #fabd2f;
  --three: #d3869b;
  --four: #b8bb26;
  --five: #fe8019;

  --gradient: linear-gradient(to right top, #d79921, hsl(30, 63%, 79%));
}
