// Bright Mode
:root[color-mode='light'] {
  --surface: #d8dee9;
  --surface1: #e5e9f0;
  --surface2: hsl(218, 27%, 94%);
  --surface3: hsl(218, 27%, 98%);
  --surface3: hsl(224, 32%, 98%);
  --text: #2e3440;
  --text1: #3b4252;
  --text2: hsl(220, 17%, 32%);
  --text3: hsl(220, 16%, 36%);
  --text4: hsl(220, 16%, 40%);
  --textInverse: #f5f5f5;

  --primary: #8fbcbb;
  --secondary: #88c0d0;
  --three: #81a1c1;
  --four: #5e81ac;
  --five: #b48ead;

  --gradient: linear-gradient(
    to right top,
    var(--primary),
    var(--secondary),
    var(--three),
    var(--four),
    var(--five)
  );
  --gradient-reverse: linear-gradient(
    to left top,
    var(--four),
    var(--three),
    var(--five),
    var(--primary),
    var(--secondary)
  );
}

// Dark Mode
:root[color-mode='dark'] {
  --text: #d8dee9;
  --text1: #e5e9f0;
  --text2: hsl(218, 27%, 94%);
  --text3: hsl(218, 27%, 98%);
  --text3: hsl(224, 32%, 98%);
  --surface: #2e3440;
  --surface1: #3b4252;
  --surface2: hsl(220, 17%, 32%);
  --surface3: hsl(220, 16%, 36%);
  --surface4: hsl(220, 16%, 40%);
  --textInverse: #f5f5f5;

  --primary: #8fbcbb;
  --secondary: #88c0d0;
  --three: #81a1c1;
  --four: #5e81ac;
  --five: #b48ead;

  --gradient: linear-gradient(
    to right top,
    var(--primary),
    var(--secondary),
    var(--three),
    var(--four),
    var(--five)
  );
  --gradient-reverse: linear-gradient(
    to left top,
    var(--four),
    var(--three),
    var(--five),
    var(--primary),
    var(--secondary)
  );
}
