// Bright Mode
:root[color-mode='light'] {
  --text: #0a0a0a;
  --textInverse: #f5f5f5;
  --text1: #171717;
  --text2: #39393a;
  --text3: #5a5a5c;
  --text4: #9ea0a2;
  --surface: hsl(0, 0%, 92%);
  --surface1: hsl(0, 0%, 94%);
  --surface2: hsl(0, 0%, 96%);
  --surface3: hsl(0, 0%, 98%);
  --surface4: #ffffff;
  --primary: #0d48a0;
  --primary: #0d48a0;
  --secondary: #a4002e;
  --three: #643791;
  --four: #8b1c76;
  --five: #a00053;
  --success: #48a00d;
  --error: #a40000;
  --error-hover: hsl(0, 100%, 16%);
  --gradient: linear-gradient(
    to right top,
    #0d48a0,
    #643791,
    #8b1c76,
    #a00053,
    #a4002e
  );
  --gradient-reverse: linear-gradient(
    to left top,
    #0d48a0,
    #643791,
    #8b1c76,
    #a00053,
    #a4002e
  );
}

// Dark Mode
:root[color-mode='dark'] {
  --text: #f5f5f5;
  --textInverse: #0a0a0a;
  --text1: #e8e9e9;
  --text2: #c6c6c7;
  --text3: #a5a5a7;
  --text4: #616365;
  --surface: #181818;
  --surface1: #202020;
  --surface2: #282828;
  --surface3: #303030;
  --surface4: #383838;
  --primary: #80deea;
  --secondary: #ffab91;
  --three: #8cdbbf;
  --four: #b4d195;
  --five: #e0c081;
  --success: #b4d195;
  --error: hsl(0, 100%, 78%);
  --error-hover: hsl(0, 100%, 68%);
  --gradient: linear-gradient(
    to right top,
    #80deea,
    #8cdbbf,
    #b4d195,
    #e0c081,
    #ffab91
  );
  --gradient-reverse: linear-gradient(
    to left top,
    #80deea,
    #8cdbbf,
    #b4d195,
    #e0c081,
    #ffab91
  );
}
