// Bright Mode
:root[color-mode='light'] {
  --primary: #0d48a0;
  --secondary: #a4002e;
  --three: #643791;
  --four: #8b1c76;
  --five: #a00053;
  --success: #48a00d;
  --error: #a40000;
  --error-hover: hsl(0, 100%, 16%);
  --gradient: linear-gradient(to right top, #0d48a0, hsl(226, 85%, 18%));
  --text4: #1b222c;
  --text3: #151b23;
  --text2: #101319;
  --text1: #0a0c10;
  --text: #040506;
  --surface4: #ffffff;
  --surface3: #fcfcfd;
  --surface2: #f3f4f7;
  --surface1: #eaedf1;
  --surface: #e0e5eb;
  --textInverse: #ffffff;
  --title: var(--surface3);
  --subtitle: var(--surface2);
}

// Dark Mode
:root[color-mode='dark'] {
  --primary: #80deea;
  --secondary: #ffab91;
  --three: #8cdbbf;
  --four: #b4d195;
  --five: #e0c081;
  --success: #b4d195;
  --error: hsl(0, 100%, 78%);
  --error-hover: hsl(0, 100%, 68%);
  --gradient: linear-gradient(
    to right top,
    hsl(187, 72%, 71%),
    hsl(187, 92%, 91%)
  );
  --surface: #050506;
  --surface1: #0c0e0e;
  --surface2: #131616;
  --surface3: #1a1e1f;
  --surface4: #202627;
  --text: #f5f7f7;
  --text1: #f1f3f4;
  --text2: #e8eced;
  --text3: #e0e6e6;
  --text4: #d7dfe0;
  --textInverse: #050506;
  --title: var(--text);
  --subtitle: var(--text4);
}
