.sm-footer-container {
  margin-block-start: auto;
  background-color: var(--surface-dark);
  gap: 1rem var(--gap);
}

.sm-footer {
  display: grid;
  grid-column: content;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: var(--gap) 0 0;
  font-size: var(--small);
  gap: 1rem var(--gap);
  color: var(--element-dark);
}

.sm-footer-title {
  font-family: var(--heading-typeface);
  font-weight: 700;
}

.sm-footer-secondary-navigation ul {
  padding: 0;
  list-style: none;
}

.sm-footer input {
  display: block;
  width: 100%;
  margin-block: 0.25em 0.75em;
  background-color: transparent;
  border-bottom: 1px solid var(--border-color);
  transition: border-color 0.3s;
}

.sm-footer input::placeholder {
  font-size: var(--x-small);
  color: var(--border-color);
}

.sm-footer .sm-button-simple {
  font-size: var(--x-small);
  font-weight: 400;
}

.sm-footer input:focus-visible {
  border-color: var(--element-light);
  outline: 0;
}

.sm-footer-meta {
  padding-block: 1rem;
  font-size: var(--x-small);
  color: var(--element-light);
  text-align: center;
  border-top: 1px solid var(--border-color);
  grid-column: content;
}
