/* Grid inventory
Basic page grid -> 
gutter gap gutter

Homepage grid ->
basic grid
 Layouts

Header grid
  -> Author, tag, post, page

Content grid

Index, author grid



*/

[class*='grid'] {
  display: grid;
}

.sm-grid {
  gap: var(--gap);
  grid-template-columns:
    [start] var(--gap) [content-start] 1fr [content-end] var(--gap)
    [end];
}

.sm-header-grid {
  grid-template-columns:
    [start] var(--gap) 1fr 1fr [content-start] minmax(
      min(300px, 100%),
      var(--post-width)
    )
    [content-end]
    1fr 1fr var(--gap) [end];
  margin-block-start: 6rem;
}

.sm-content-grid {
  grid-template-columns:
    [start] var(--gap)
    [full-start] 1fr [wide-start] 1fr [content-start] minmax(
      min(300px, 100%),
      var(--content-width)
    )
    [content-end]
    1fr [wide-end] 1fr [full-end] var(--gap) [end];
}

.sm-basic-grid {
  grid-template-columns: 1fr;
  gap: var(--gap);
}

.sm-grid > .sm-basic-grid {
  grid-column: content;
}

@media (--phone) {
  .sm-basic-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (--tablet) {
  .sm-grid {
    grid-template-columns:
      [start] var(--gap) 1fr [content-start] minmax(
        min(100%, 600px),
        var(--width)
      )
      [content-end] 1fr var(--gap)
      [end];
  }

  .sm-basic-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
