//-------------------------------------------
// Mobile Nav Menu
//-------------------------------------------
%subscribe-btns {
  display: inline-block;
  width: 100px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  font-family: $sans;
  font-size: 1rem;
  font-weight: 700;
  border-radius: $radius;
  @include transition(color);
}

.menu {
  &__link {
    @include transition(color);
    &:focus {
      outline: none;
      @include color-map(color, primary);
    }
  }

  &__search-btn {
    display: none;
    @include btn(outline, transparent, transparent, text2, text);
    min-width: 50%;
    margin-top: 1rem;
  }

  &__footer {
  }

  &__signin {
    @extend %subscribe-btns;
    min-width: 50%;
    margin-top: 0;
    background-color: transparent;
    border: 1px solid currentColor;
    @include color-map(color, text2);
    &:hover {
      @include color-map(color, text);
    }
  }

  &__signup {
    @extend %subscribe-btns;
    min-width: 50%;
    border: 1px solid transparent;
    @include color-map(color, textInverse);
    @include color-map(background-color, primary);

    &:hover {
      @include color-map(background-color, secondary);
    }
  }
}

.modal .color-mode-btn {
  @include btn(outline, transparent, transparent, text2, text);
  min-width: 50%;
  margin-top: 0.5rem;
}
