.sm-footer-container {
  margin-block-start: auto;
  background-color: var(--surface-dark);

  /* gap: 1rem var(--gap); */
}

.sm-footer {
  grid-column: content;
  padding-block: 2rem;
  font-size: var(--small);
  color: var(--element-dark);
}

.sm-footer > *:not(:last-child) {
  margin-block-end: 1em;
}

@media (--phone) {
  .sm-footer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem var(--gap);
    margin-block-end: 0;
  }

  .sm-footer > div:not(:last-child) {
    padding-inline-end: 1em;
    margin-block-end: 0;
  }
}

.sm-footer-title {
  margin-block-end: 0.25rem;
  font-weight: 500;
}

.sm-footer-description {
  font-weight: 300;
}

.sm-footer-socials {
  display: flex;
  gap: 1rem;
  margin-block-start: 1rem;
  color: var(--element-light);
}

.sm-footer-secondary-navigation ul {
  padding: 0;
  list-style: none;
}

.sm-footer input {
  display: block;
  width: 100%;
  margin-block: 0.25em 0.75em;
  color: var(--primary);
  background-color: transparent;
  border-bottom: 1px solid var(--border-color);
  transition: border-color 0.3s;
}

.sm-footer input::placeholder {
  font-size: var(--x-small);
  color: var(--element-light);
  opacity: 0.5;
}

.sm-footer .sm-button-simple {
  font-size: var(--x-small);
  font-weight: 400;
}

.sm-footer input:focus-visible {
  border-color: var(--element-light);
  outline: 0;
}

.sm-footer-meta {
  grid-column: content;
  padding-block: 2rem;
  font-size: var(--x-small);
  color: var(--element-light);
  text-align: center;
  border-top: 1px solid var(--border-color);
}

.sm-footer-meta a {
  white-space: nowrap;
}
