.home-template .sm-navbar-wrapper {
  background-color: var(--surface-dark);
}

.sm-navbar {
  grid-column: content;
  align-items: center;
  padding-block: calc(var(--box-padding) / 2);
  font-family: var(--ui-typeface);
  font-size: var(--small);
  line-height: 1.5rem;

  .sm-button {
    padding: var(--spacing-01) var(--spacing-02);
    font-size: inherit;
    font-weight: 600;
  }
}

.sm-navbar-left picture {
  display: flex;
  align-items: center;
}

.sm-site-icon {
  width: 1rem;
  height: 1rem;
}

.sm-site-title {
  margin: 0 var(--spacing-02) 0 var(--spacing-01);
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.sm-navbar-left {
  gap: 0;
}

.sm-navigation {
  display: none;
  gap: var(--spacing-02);
  align-items: center;
  padding-inline-start: 0;
  list-style-type: none;
}

.sm-navigation-item {
  position: relative;
  line-height: inherit;
}

.sm-navigation-item a {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.sm-navigation-item a::before {
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 35%;
  clip-path: inset(0 100% 0 0);
  content: '';
  background-color: var(--primary);
  opacity: 0.5;
  transition: clip-path 0.3s;
}

.sm-navigation-item a:hover::before,
a.sm-nav-current::before {
  clip-path: inset(0 0 0 0);
}

.sm-navbar-right {
  display: flex;
  gap: var(--spacing-02);
  align-items: center;
  justify-self: flex-end;
  line-height: inherit;

  & svg {
    display: block;
    width: 1rem;
    height: 1rem;
    fill: var(--element);
  }
}

.sm-sub-button {
  display: flex;
  gap: var(--spacing-01);
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  transition: border-color var(--transition), color var(--transition),
    background-color var(--transition);

  &:hover {
    color: var(--surface);
    background-color: var(--primary);
    border-color: var(--primary);
  }
}

.sm-navbar-right > :where(a, button:not(.sm-navbar-menu-button)) {
  display: none;
}

@media (--tablet) {
  .sm-navigation {
    display: flex;
    align-items: center;
  }

  .sm-navbar-right > :where(a, button) {
    display: initial;
  }

  .sm-navbar-right .sm-navbar-menu-button {
    display: none;
  }
}
