.sm-navbar {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column: content;
  gap: var(--gap);
  align-items: center;
  padding: calc(var(--box-padding) / 2) var(--box-padding);
  margin-block-start: var(--bento-gap);
  font-size: var(--small);
  line-height: 1.3rem;
  background-color: var(--surface-darker);
  border-radius: var(--radius);
}

.sm-navbar-center {
  justify-self: center;
}

.sm-site-title {
  margin: 0;
  overflow: hidden;
  font-size: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  white-space: nowrap;
}

.sm-navigation {
  display: none;
  gap: 0.75rem;
  align-items: center;
  padding-inline-start: 0;
  list-style-type: none;
}

.sm-navigation-item {
  position: relative;
  line-height: inherit;
}

.sm-navigation-item a {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.sm-navigation-item a::before {
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 35%;
  clip-path: inset(0 100% 0 0);
  content: '';
  background-color: var(--primary);
  opacity: 0.5;
  transition: clip-path 0.3s;
}

.sm-navigation-item a:hover::before {
  clip-path: inset(0 0 0 0);
}

.sm-navbar-right {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-self: flex-end;
  line-height: inherit;
}

@media (--tablet) {
  .sm-navigation {
    display: flex;
    align-items: center;
  }
}
