.author-header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 2rem 1rem;
  border-bottom: 0.5rem solid #ffffff;
}

@media (min-width: $tablet) {
  .author-header {
    flex-direction: row;
  }
}
.profile-image-container {
  position: relative;
  display: flex;
  flex-shrink: 0;
  margin-bottom: 2rem;

  &:before {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 50%;
    height: 50%;
    content: "";
    background: linear-gradient(
      45deg,
      scale-color($prim, $alpha: -50%),
      scale-color($acc1, $alpha: -50%)
    );
  }

  &:after {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    z-index: 0;
    width: 50%;
    height: 50%;
    content: "";
    background: linear-gradient(
      -45deg,
      scale-color($prim, $alpha: -50%),
      scale-color($acc1, $alpha: -50%)
    );
  }
}

.profile-image {
  position: relative;
  z-index: 1;
  width: $base;
  height: $base;
  box-shadow: $box-shadow;
}

.author-text {
  h1 {
    margin: 0;
  }
}

@media (min-width: $tablet) {
  .author-text {
    margin-left: 4rem;
  }

  .profile-image {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet) and (max-width: $laptop - 1) {
  .profile-image {
    width: $base + 25px;
    height: $base + 25px;
  }
}

@media (min-width: $laptop) {
  .profile-image {
    width: $base + 50px;
    height: $base + 50px;
  }
}

.author-meta {
  justify-content: flex-start;
  @include transition(all);

  a {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.author-small-header {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: scale-color($dark, $lightness: 50%);
  text-transform: uppercase;
}

.author-location {
  p {
    margin-left: 0.25rem;
  }
}

.website svg,
.author-location svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: none;
  stroke: currentColor;
  @include transition(stroke);
}

.website {
  &:hover svg {
    stroke: $prim;
  }
}
