.author {
  &__header {
    @extend .post__header;
  }

  &__container {
    @include flex(column, center, center);
    padding: 2rem 1rem;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    @include color-map(border-bottom-color, shade500);

    @include respond-above($tablet) {
      flex-direction: row;
    }
  }

  &__img-container {
    position: relative;
    @include flex(row, center, center);
    flex-shrink: 0;
    margin-bottom: 2rem;
    border-radius: 50%;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(45deg, color(primary), color(accent));
      background: linear-gradient(45deg, var(--primary), var(--accent));
      border-radius: 50%;
    }

    @include respond-above($tablet) {
      margin-bottom: 0;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    width: $base;
    height: $base;
    margin: 0.25rem;
    border-radius: 50%;
    box-shadow: $box-shadow;
  }
  &__text {
    @include respond-above($tablet) {
      margin-left: 4rem;
    }
  }
  &__text-container {
    @extend .underline;
  }

  &__name {
    margin: 0;
    line-height: 0.95;
    @extend .serif;
  }

  &__small-header {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 700;
    @include color-map(color, shade200);
    text-transform: uppercase;
  }

  &__meta {
    @include flex(row, flex-start, center);
    justify-content: flex-start;

    a {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    svg {
      width: 1rem;
      height: 1rem;
      fill: currentColor;
      stroke: none;
      @include transition(all);
    }

    .website svg {
      fill: none;
      stroke: currentColor;
      stroke-width: 2px;

      &:hover {
        @include color-map(stroke, primary);
      }
    }
  }

  &__location {
    @include flex(row, flex-start, center);

    p {
      margin-left: 0.25rem;
    }

    svg {
      width: 1rem;
      height: 1rem;
      transform: translateY(-0.1em);
      fill: none;
      stroke: currentColor;
      stroke-width: 2px;
    }
  }
}
