.dev {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,.85);
    font-size: 1em;
    font-family: 'Fira Code','Courier New', Courier, monospace;
    color: yellow;
    text-align: center;
    padding: 4px 8px;
}