.footer {
    min-height: 250px;
   
   
    
    background-color: $dark;
    color: $light;
    .outer-container {
        border-bottom: none;
        background-color: inherit;
        padding: 3em;
    }
    .inner-container {
        // width: 100%;
        justify-content: space-between;
    

    }

    .home-page-section-header {
        width: fit-content;
    }
}

.footer-section {
    width: 20%;
    
}

.published-by-ghost {
    justify-content: center;
    font-size: .75em;
    font-weight: 100;
    padding: 1em;
}