//-------------------------------------------
// Global Footer Styles
//-------------------------------------------
.footer {
    min-height: 250px;
    color: scale-color($light, $lightness: -20%, $saturation: -75%);
    background-color: $dark;
    border-bottom: none;

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.footer-section {

    padding: .5em;

    p {
        margin-bottom: .5em;
    }

    .card-tag {
        color: scale-color($light, $lightness: -20%, $saturation: -75%);
        @include transition(all);

        p {
            margin: 0;
        }

        svg {
            width: 1em;
            height: 1em;
        }

        &:hover {
            background: none;
            color: $prim;

            svg {
                stroke: $prim;

            }
        }
    }
}




.footer-location {
    align-items: center;

    svg {
        width: 1em;
        height: 1em;
        // margin: 2px 4px -2px .5em;
        vertical-align: middle;
        stroke: scale-color($light, $lightness: -20%, $saturation: -75%);

    }
}

.footer-social {
    @include transition(all);

    a {
        margin-right: .5em;
    }

    svg {
        width: 1rem;
        height: 1rem;
        fill: scale-color($light, $lightness: -20%, $saturation: -75%);
    }
}

.published-by-ghost {
    justify-content: center;
    padding: 1em;
    font-size: .75em;
    font-weight: 100;
}