// Required KG Styles
.kg-image-card {
    margin-bottom: 1em;
}

.post-content img {
    display: block;
    width: 100%;
}

.kg-width-wide {
    position: relative;
    width: 75vw;
    min-width: 100%;
    margin: auto calc(50% - 50vw) 1em;
    transform: translateX(calc(50vw - 50%));

}

.kg-width-full {
    position: relative;
    width: 100vw;
    min-width: 100%;
    margin: auto calc(50% - 50vw) 1em;
    transform: translateX(calc(50vw - 50%));
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    color: $dark;
    text-decoration: none;
    border: 2px solid $prim;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 20px;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-description,
.kg-bookmark-metadata {
    margin-top: 12px;
}

.kg-bookmark-thumbnail {
    flex-basis: 15rem;
    flex-grow: 1;
}


.kg-bookmark-thumbnail img {
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: bottom;
}

.kg-bookmark-author:after {
    margin: 0 6px;
    content: "•";
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1040px;
    margin: 1.5em auto;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.kg-gallery-row:not(:first-of-type) {
    margin: .75em 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 .75em;
}