.st-hero-image {
    height: 100%;


    // Shift to HBS inline variable

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.st-hero-overlay {
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding: 1em;

    background: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .75), rgba(0, 0, 0, .85))
}

.st-hero-container {
    align-items: center;
    height: 60vh;
    // Test min height 
    min-height: 200px;
    justify-content: space-around;
}

.st-nav-container {
    justify-content: center;
    height: 80%;

}

.st-site-title {
    margin: 15px 0 0;
    text-align: center;
}

.st-site-description {
    color: $acc2;
}

.st-site-description-text {
    font-size: 1.5em;
}