.hero {
    margin-top: $navbar;
    // justify-content: center;
    width: 100%;
    // align-items: center;
}


.hero-left,
.hero-right {

    // margin-top: 1em;
    flex: 1;
    // justify-content: center;
    max-width: 100%;
    
}

.hero-left {
    align-items: center;
    // min-height: calc(100vh - 3rem);
}

.hero-right {
    // margin-left: 5em;
    // align-content: center;
    align-items: flex-start;



}

.featured-slider {
    // margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
    // display: block;
    width: 100%;
    color: $acc3;

    &:first-child {
        color: $dark;
    }
}

.hero-img {
    height: 50vh;
    width: $base * 3;
    height: $base * 3;
    object-fit: cover;
    max-width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: $box-shadow;
}

@media all and (min-width: $tablet) and (max-width: $laptop) {
    .hero-img {
        width: $base * 3.5;
        height: $base * 3.5;
    }
}

@media all and (min-width: $laptop) {
    .hero-img {
        width: $base * 4;
        height: $base * 4;
    }
}

.hero-text-container {
    align-items: center;
    font-size: 3.5em;
}



.site-title {
    // margin: 0;
    margin: .5em 0;
    text-align: left;
    font-size: 1em;
    color: $dark;

}

.site-description {

    // mix-blend-mode: multiply;
    margin: 0;
    color: $acc3;
    font-size: .5em;
    text-align: center;
    // text-shadow: 2px 2px 2px $dark;
    // text-align: left;
    // font-weight: 100;

    // transform: translateX(-15%);
    // height: 90%;



}