.st-outer-container {
    width: 100%;
    margin: 2.5em auto;
    padding: 2em;


    &:nth-child(even) {
        background: $dark;

        .st-home-post-header {
            color: $light;

            &:before {
                background: linear-gradient(to right, scale-color($acc1, $alpha: -75%), scale-color($acc1, $alpha: -100%));
            }
        }

        .st-home-post-title {
            color: $light;

        }

        .st-home-post-title-link:active .st-home-post-title,
        .st-home-post-title-link:focus .st-home-post-title,
        .st-home-post-title-link:hover .st-home-post-title {
            color: $acc1;
        }

        .st-home-post-border-bottom {
            border-color: scale-color($acc1, $alpha: -75%);
        }

        .st-date,
        .st-tag {

            p,
            a {
                color: scale-color($light, $alpha: -10%);
            }
        }



        .st-tag>a:active,
        .st-tag>a:focus,
        .st-tag>a:hover {
            color: $acc1;
        }

    }

    &:last-child {
        margin-bottom: 0;
    }
}

@media all and (min-width: $tablet) {
    .st-outer-container {
        padding: 2.5em;
    }
}

.st-inner-container {
    margin: 1em auto;
    max-width: $laptop;
}


// Featured
.st-home-post-header-container {
    margin: .5em 0 1.5em;
}

.st-home-post-header {
    display: inline;
    position: relative;
    z-index: 1;

    &:before {
        background: linear-gradient(to right, scale-color($prim, $alpha: -75%), scale-color($prim, $alpha: -100%));

        content: "";
        bottom: 5px;
        position: absolute;
        height: 50%;
        left: 0;
        z-index: -1;
        width: 100%;

    }

}

.st-home-post {
    max-width: 100%;
    position: relative;

    .st-home-post-border-bottom {
        border-color: scale-color($prim, $alpha: -75%);
    }

}

.st-home-post-image-link .st-home-post-image:hover {
    opacity: .5;
}

.st-home-post-image {
    display: block;
    height: $base;
    width: 100%;

    // width: auto;
    object-fit: cover;

    transition: all .2s ease-in-out;
}

.st-home-post-body {
    margin: 1.5em 0 1.5em;
}

.st-home-post-date-and-tag,
.st-home-post-date-and-tag>a {
    align-items: center;
    display: flex;
    margin: .5em 0 .25em;

    color: scale-color($dark, $alpha: -10%);
    font-size: .8rem;
    font-weight: 300;
}

.st-home-post-date-and-tag>a:active,
.st-home-post-date-and-tag>a:focus,
.st-home-post-date-and-tag>a:hover {
    color: $prim;
}

.st-date,
.st-tag {
    align-items: center;
    display: flex;
    line-height: 1;
    margin-right: 1em;

    p,
    a {
        color: scale-color($dark, $alpha: -10%);
    }

    a:hover {
        color: scale-color($prim, $alpha: -10%);
    }

    object {
        height: 1rem;
        margin-right: .2rem;

        &:last-child {
            margin-left: .5em;
        }
    }
}

.calendar,
.tag {
    stroke: scale-color($dark, $alpha: -10%);
}

.calendar-dark,
.tag-dark {
    stroke: scale-color($light, $alpha: -10%);
}

.st-home-post-title {
    margin-top: .5em;
    position: relative;

    line-height: 1.2;
    font-weight: 600;
}

.st-home-post-title-link {
    color: $dark;

    &:active .st-home-post-title,
    &:focus .st-home-post-title,
    &:hover .st-home-post-title {
        color: $prim;
    }
}



// Grid on the home page
// Mobile phones
.st-grid-container-home {
    align-content: stretch;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 100%;
}

// Tablets
@media all and (min-width:$tablet) and (max-width: $laptop) {
    .st-grid-container-home-1 {
        grid-template-columns: minmax(250px, 500px);
    }

    .st-grid-container-home-2,
    .st-grid-container-home-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .st-grid-container-home-3 {
        grid-template-areas: "one one"
            "two three";
        grid-template-columns: 1fr 1fr;

        .st-home-post-1 {
            grid-area: one;

            .st-home-post-image {
                height: 2.5 * $base;
                max-height: 60vh;
            }
        }

        .st-home-post-2 {
            grid-area: two;
        }

        .st-home-post-3 {
            grid-area: three;
        }
    }

    .st-grid-container-home-5 {
        grid-template-areas: "one one"
            "two three"
            "four five";

        grid-template-columns: 1fr 1fr;

        .st-home-post-1 {
            grid-area: one;

            .st-home-post-image {
                height: 2.5 * $base;
                max-height: 60vh;
            }
        }

        .st-home-post-2 {
            grid-area: two;
        }

        .st-home-post-3 {
            grid-area: three;
        }

        .st-home-post-4 {
            grid-area: four;
        }

        .st-home-post-5 {
            grid-area: five;
        }
    }

    .st-home-post-image {
        height: 1.5 * $base;
    }
}

// Laptops
@media all and (min-width: $laptop) and (max-width: $desktop) {
    .st-grid-container-home-1 {
        grid-template-columns: minmax(250px, 500px);
    }

    .st-grid-container-home-2,
    .st-grid-container-home-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .st-grid-container-home-3 {
        grid-template-areas: "one one"
            "two three";
        grid-template-columns: 1fr 1fr;

        .st-home-post-1 {
            grid-area: one;

            .st-home-post-image {
                height: 2.5 * $base;
                max-height: 60vh;
            }
        }

        .st-home-post-2 {
            grid-area: two;
        }

        .st-home-post-3 {
            grid-area: three;
        }
    }

    .st-grid-container-home-5 {
        grid-template-areas: "one one"
            "two three"
            "four five";
        grid-template-columns: 1fr 1fr;

        .st-home-post-1 {
            grid-area: one;

            .st-home-post-image {
                height: 2.5 * $base;
                max-height: 60vh;
            }
        }

        .st-home-post-2 {
            grid-area: two;
        }

        .st-home-post-3 {
            grid-area: three;
        }

        .st-home-post-4 {
            grid-area: four;
        }

        .st-home-post-5 {
            grid-area: five;
        }
    }

    .st-home-post-image {
        height: 1.5 * $base;
    }
}

// Desktops 
@media all and (min-width: $desktop) {

    .st-grid-container-home-1 {
        grid-template-columns: minmax(250px, 500px);
    }

    .st-grid-container-home-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .st-grid-container-home-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .st-grid-container-home-4 {
        grid-template-areas: "one one one"
            "two three four";
        grid-template-columns: 1fr 1fr 1fr;

        .st-home-post-1 {
            grid-area: one;

            .st-home-post-image {
                height: 2.5 * $base;
                max-height: 60vh;
            }
        }

        .st-home-post-2 {
            grid-area: two;
        }

        .st-home-post-3 {
            grid-area: three;
        }

        .st-home-post-4 {
            grid-area: four;
        }

        .st-home-post-image {
            height: 1.5 * $base;
        }

    }

    .st-grid-container-home-5 {
        grid-template-areas: "one one one two two two"
            "three three four four five five";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        .st-home-post-1 {
            grid-area: one;

            .st-home-post-image {
                height: 3 * $base;
                max-height: 60vh;
            }
        }

        .st-home-post-2 {
            grid-area: two;

            .st-home-post-image {
                height: 3 * $base;
                max-height: 60vh;
            }
        }

        .st-home-post-3 {
            grid-area: three;
        }

        .st-home-post-4 {
            grid-area: four;
        }

        .st-home-post-5 {
            grid-area: five;
        }
    }

    .st-home-post-image {
        height: 2 * $base;
    }




}



// @media all and (min-width:$tablet) and (max-width: $laptop) {
//     .st-home-post-grid-container {
//         grid-template-areas: 'one one'
//             'two three'
//             'four five';


//     }
// }

// @media all and (min-width: $laptop) {
//     .st-home-post-grid-container {
//         grid-template-areas: 'one one one two two two'
//             'one one one two two two'
//             'three three four four five five';


//     }
// }
// .st-home-post {

// }
// .st-home-post-1 {
//     grid-area: one;
// }

// .st-home-post-2 {
//     grid-area: two;
// }

// .st-home-post-3 {
//     grid-area: three;
// }

// .st-home-post-4 {
//     grid-area: four;
// }

// .st-home-post-5 {
//     grid-area: five;
// }