//-------------------------------------------
// Card Styles
//-------------------------------------------
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: $light;
    @include transition(all);
}

.card-img,
.no-img {
    display: block;
    width: 100%;
    height: $base;
    object-fit: cover;
    @include transition(all);

    &:hover {
        filter: saturate(125%);
        box-shadow: $box-shadow;
    }
}

.no-img {
    background: linear-gradient(45deg, $prim, $acc1);
}

.card-body {
    padding: 1em;
    margin: .5em 0;
}

.card-date-tag {
    justify-content: space-between;
}

.card-date,
.card-tag {
    display: flex;
    padding: 1px;
    font-size: .75em;
    font-weight: 400;
    color: $dark;
    text-transform: uppercase;
}

.card-tag {
    align-items: center;

    svg {
        width: 1em;
        height: 1em;
        stroke: currentColor;
    }
}

.card-title {
    position: relative;
    margin: .25em 0;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.1;
    color: $dark;
    @include transition(color);

    &:hover {
        color: $prim;
    }
}

.card-excerpt {
    margin: .5em 0;
    color: $dark;
}