//-------------------------------------------
// For Home, Index, and Tag pages
//-------------------------------------------

.main {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  &--outer-container {
    @extend .outer-container;
  }

  &--inner-container {
    @extend .inner-container;
  }

  &__header--serif--underline {
    display: inline;
    @extend .serif;
  }

  &__read-more {
    &:hover svg {
      @include color-map(stroke, secondary);
    }

    svg {
      width: 2rem;
      height: 2rem;
      transform: translateY(0.5em);
      fill: none;
      stroke-width: 2px;
      @include color-map(stroke, text);
      @include transition(stroke);
    }
  }
}

.post__title--number {
  padding: 2px 4px;
  font-family: $sans;
  font-size: 75%;
  border-radius: $radius;
  @include color-map(color, textInverse);
  @include color-map(background-color, primary);
}
