// Ghost States
// .loading {

// }

// .success {

// }

// .error {

// }
.member {
  @extend .modal;
  text-align: initial;

  &[aria-expanded='true'] {
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate3d(0, 0, 0);
  }

  &__container {
    @extend .modal__container;
  }

  &__close-btn {
    @extend .modal__close-btn;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
  }

  &__form {
    @extend .modal__inner-container;
  }

  &__input-container {
    // @extend .modal__input-container;
    @include flex(row, flex-start, flex-end);
  }

  &__label-container {
    width: calc(70% - 0.25rem);
    margin-right: 0.5rem;
  }

  &__label {
    @extend .form__label;
  }

  &__input {
    @extend .form__input;
    margin-bottom: 0;
  }

  &__btn {
    @include btn(color);
    width: calc(30% - 0.25rem);

    &--content {
      .loading &,
      .success & {
        display: none;
      }
    }
    &--loading {
      display: none;

      .loading & {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        animation: rotate 1s linear infinite;
      }
    }
    &--success {
      display: none;
      .success & {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__subtext {
    font-size: 0.85em;
    @include color-map(color, text2);

    p {
      display: inline-block;
    }

    button {
      @include btn(outline);
    }
  }

  %state {
    display: none;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    border-radius: $radius;
  }

  &__success {
    @extend %state;
    @include color-map(color, text2);
    @include color-map(background-color, surface4);

    .success & {
      display: block;
    }
  }
  &__error {
    @extend %state;
    color: #ffffff;
    background-color: #da3b3b;

    .error & {
      display: block;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
