.member {
  @extend .modal;
  text-align: initial;

  &[aria-expanded='true'] {
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate3d(0, 0, 0);
  }

  &__container {
    @extend .modal__container;
  }

  &__close-btn {
    @extend .modal__close-btn;
  }

  &__title {
    margin: 0 0 2rem;
    font-size: 1.5rem;
    line-height: 1;
  }

  &__info {
    font-weight: 700;
  }

  &__ul {
    padding-left: 2rem;
    margin: 0.5rem 0 1rem;
    list-style-type: square;
  }

  &__form {
    @extend .modal__inner-container;
    padding: 0;
  }

  &__label {
    @extend .form__label;
  }

  &__input {
    @extend .form__input;
    margin-bottom: 0;
  }

  &__btn {
    @include btn(color);
    width: 100%;

    &--content {
      .loading &,
      .success & {
        display: none;
      }
    }
    &--loading {
      display: none;

      .loading & {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        animation: rotate 1s linear infinite;
      }
    }
    &--success {
      display: none;
      .success & {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  %state {
    display: none;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    border-radius: $radius;
  }

  &__success {
    @extend %state;
    @include color-map(color, text2);
    @include color-map(background-color, success);

    .success & {
      display: block;
    }
  }

  &__error {
    @extend %state;
    color: #ffffff;
    @include color-map(background-color, error);

    .error & {
      display: block;
    }
  }

  // Sign Up Card Options
  &__card {
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
    font-size: 0.9rem;
    text-align: center;
    border-radius: $radius;
    box-shadow: $box-shadow;
    @include color-map(background-color, surface4);

    &--title {
      margin: 0;
      font-size: 1.3rem;
    }
  }

  &__price {
    display: inline-block;
    margin: 0.25rem 0;
    font-size: 2em;
    font-weight: 700;
  }

  &__term {
    display: inline-block;
    margin: 0.5rem 0 0 3px;
    font-size: smaller;
    vertical-align: top;
  }

  &__discount {
    font-style: italic;
  }

  &__checkout {
    @include btn(color);
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
  }

  // Account options
  &__header {
    margin-bottom: 0.5rem;
  }

  &__img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
    @include color-map(background, gradient);
    & > img {
      display: block;
      width: 100%;
      height: 100%;
      padding: 3px;
      border-radius: 50%;
    }
  }

  &__subtext {
    margin: 0.15rem 0 0;
    font-size: 0.75rem;
    @include color-map(color, text2);

    p {
      display: inline-block;
    }

    button {
      @include btn(link);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
