//-------------------------------------------
// General Modal Styles
//-------------------------------------------
// .expanded-modal-search,
// .expanded-menu {
//   overflow: hidden;
// }

.content-wrap {
  &:before {
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    content: '';
    background: #000;
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  .expanded-modal &,
  .expanded-menu & {
    &:before {
      position: fixed;
      opacity: 0.9;
      transition: opacity 0.1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 20rem;
  max-width: calc(100vw - 3.5rem);
  height: 100%;
  @include color-map(color, text);
  text-align: center;
  @include color-map(background-color, surface2);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translate3d(100vw, 0, 0);

  &__header {
    @include flex(row, space-between, center);
    width: 100%;

    label {
      @extend .serif;
      font-size: 1.5rem;
      line-height: 1;
    }
  }

  &__container {
    @include flex(column, flex-start, flex-start);
    height: 100%;
    padding: 1rem 1.5rem;
    overflow-y: auto;
  }

  &[aria-expanded='true'] {
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate3d(0, 0, 0);
  }

  &__close-btn {
    position: absolute;
    top: 1rem;
    left: -2rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;

    &:focus,
    &:hover {
      outline-color: #ffffff;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      stroke: #ffffff;
      stroke-width: 3;
      @include transition(all);
    }
  }

  &__inner-container {
    width: 100%;
    padding: 2rem 0;
  }

  &__input-container {
    @include flex(row, flex-start, flex-end);
    flex-wrap: wrap;
    @include respond-above($tablet) {
      flex-wrap: nowrap;
    }
  }

  &__input {
    width: 100%;
    height: 2rem;
    margin-right: 0;
    @include respond-above($tablet) {
      flex: 1;
      width: 80%;
      margin-right: 0.5rem;
    }
    margin-bottom: 1rem;
    font-size: 1rem;
    @include color-map(color, text);
    text-align: left;
    background: none;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @include color-map(border-bottom-color, text1);
    @include color-map(caret-color, primary);
    border-radius: 0;
    @include transition(border-bottom-color);

    &:focus {
      @include color-map(border-bottom-color, primary);
      outline: none;
    }
  }

  &__btn {
    @extend .btn;
  }
}

//-------------------------------------------
// Search Styles
//-------------------------------------------
.search-results {
  padding: 0.5rem 0;

  &__header {
    font-size: 1rem;
    @include color-map(color, surface);
    @include color-map(background-color, text);
    border-radius: $radius;
  }

  &__item {
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    @include color-map(border-bottom-color, text1);
  }

  &__date {
    margin-top: 1rem;
    font-size: 0.9em;
    @include color-map(color, text1);
    background: none;
  }

  &__link {
    font-weight: 700;
    line-height: 1.1;
    @include color-map(color, text);
    @include transition(color);

    &:hover,
    &:active {
      @include color-map(color, primary);
      @include transition(color);
    }
  }
}
