//-------------------------------------------
// General Modal Styles
//-------------------------------------------
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    margin-left: 100%;
    color: $light;
    text-align: center;
    background: linear-gradient(45deg, scale-color($prim, $alpha: -5%), scale-color($acc1, $alpha: -5%));
    @include transition(margin-left);

    &.outer-container {
        border-bottom: none;
    }

    .inner-container {
        // align-items: center;
        justify-content: center;
        height: 100%;
    }
}


.modal-inner {
    padding: 3em;

    h3 {
        display: block;
        font-size: 2.4em;
        line-height: 1;
        color: $light;
    }

    p {
        margin-bottom: 1.4em;
        font-size: 1.2em;
        color: $light;

        &:last-child {
            font-weight: 100;
            text-align: left;
        }
    }

}

.modal-icon {
    width: 3em;
    height: 3em;
    pointer-events: none;
    fill: none;
    stroke: $light;
}

.modal-form {
    align-items: flex-end;
}

.modal-input {
    width: 80%;
    height: 2em;
    font-size: 1.25em;
    color: $light;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid $light;
    caret-color: $light;
    border-radius: 0;
}

.modal-btn {
    height: 50%;
    padding: .5em .75em;
    margin-left: 1em;
    // font-weight: 100;
    line-height: 1;
    color: $light;
    vertical-align: bottom;
    background: linear-gradient(45deg, $prim, $acc1);
    border: 1px solid scale-color($dark, $alpha: -85%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    @include transition(box-shadow);

    &:hover,
    &:active {
        outline: none;
        box-shadow: 0 4px 7px rgba(0, 0, 0, .35);
    }

    &:focus {
        outline: 2px dotted currentColor;
    }

}

.modal-close {
    display: block;
    padding: .5em;
    margin-left: auto;
    color: $light;


    svg {
        width: 3em;
        height: 3em;
        color: $light;
        stroke: $light;

        &:hover {
            // stroke: scale-color($light, $alpha: -25%);
            stroke-width: 2px;
            @include transition(stroke-width);
        }
    }

    &:focus {
        outline: 2px dotted currentColor;
    }
}