//-------------------------------------------
// General Modal Styles
//-------------------------------------------
.modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 300px;
  max-width: 100vw;
  height: 100%;
  //   margin-left: 100%;
  overflow-y: auto;
  color: $dark;
  text-align: center;
  // background: linear-gradient(45deg, scale-color($prim, $alpha: -5%), scale-color($acc1, $alpha: -5%));
  background-color: $light;
  transform: translate3d(300px, 0, 0);
  @include transition(all);

  &.outer-container {
    border-bottom: none;
  }
}

.modal-inner {
  padding: 1rem;

  h3 {
    display: block;
    font-size: 2.4rem;
    line-height: 1;
    color: $dark;
  }

  label {
    width: 100%;
    padding: 0;
    margin-right: 0.5rem;
    font-weight: 100;
    color: $dark;
    text-align: left;
    background: none;
  }
}

.modal-tagline {
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
  color: $dark;
}

.modal-icon {
  width: 3rem;
  height: 3rem;
  pointer-events: none;
  fill: none;
  stroke: $dark;
}

.modal-form {
  flex-wrap: wrap;
  align-items: flex-end;
}

.modal-input {
  flex: 1;
  width: 80%;
  height: 2rem;
  font-size: 1.25rem;
  color: $dark;
  text-align: left;
  background: none;
  border: none;
  border-bottom: 1px solid $dark;
  caret-color: $prim;
  border-radius: 0;

  &:focus {
    border-bottom: 1px solid $prim;
    outline: none;
  }
}

.modal-btn {
  height: 50%;
  padding: 0.5rem 0.75rem;
  margin-left: 0.5rem;
  line-height: 1;
  color: $light;
  vertical-align: bottom;
  background: linear-gradient(45deg, $prim, $acc1);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  @include transition(box-shadow);

  &:hover,
  &:active {
    outline: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.35);
  }

  &:focus {
    outline: 2px dotted $dark;
  }
}

.modal-close {
  display: block;
  padding: 0.5rem;
  margin-left: auto;
  color: $dark;

  svg {
    width: 3rem;
    height: 3rem;
    color: $dark;
    stroke: $dark;

    &:hover {
      // stroke: scale-color($light, $alpha: -25%);
      stroke-width: 2px;
      @include transition(stroke-width);
    }
  }

  &:focus {
    outline: 2px dotted currentColor;
  }
}

//-------------------------------------------
// Search Styles
//-------------------------------------------
.search-result-container {
  padding: 1rem 0;
  margin-top: 2rem;
}

.search-result-header {
  font-size: 1rem;
  color: $light;
  background: $dark;
}

.search-result-item {
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  text-align: left;
  border-bottom: 1px solid scale-color($dark, $alpha: 0.8);
}

.search-result-date {
  margin-top: 1rem;
  font-size: 0.9em;
  color: scale-color($dark, $alpha: 0.8);
  background: none;
}

.search-result-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: $dark;

  &:hover,
  &:active {
    color: $prim;
    @include transition(color);
  }
}
