//-------------------------------------------
// Navbar common items
//-------------------------------------------
.fixed-navbar,
.nav-mobile {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $navbar;
  padding: .5em 1em;

  font-size: .8em;
  line-height: 1.6;
  background-color: scale-color($light, $alpha: -5%);
  transition: all .1s ease-in-out;
}

.fixed-left {
  font-family: $serif;
  font-size: 1.25em;

  a {
    align-items: center;
    font-size: 1em;

    p {
      margin-left: .5em;
    }
  }
}

//-------------------------------------------
// Navbar Mobile
//-------------------------------------------
.mobile-nav-menu {
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  min-height: calc(100vh - 3rem);
  margin-top: $navbar;
  margin-left: 100%;
  overflow: auto;
  font-size: 2em;
  color: $dark;
  background-color: scale-color($light, $alpha: -5%);
  transition: all .4s ease-in-out;

  .flex-col {
    align-items: center;
    justify-content: center;

    .flex-row {

      a,
      button {
        margin: 0 .5em;
      }
    }
  }

  .site-title {
    font-size: 115%;
    text-align: center;
  }

  a,
  button {
    margin-bottom: .5em;
    color: $dark;
  }

  .underline {
    text-shadow: 2px 2px scale-color($light, $alpha: -5%), 2px -2px scale-color($light, $alpha: -5%), -2px 2px scale-color($light, $alpha: -5%), -2px -2px scale-color($light, $alpha: -5%);
  }
}

.mobile-nav-menu-inner {
  padding: .5em;
}

.nav-menu-expanded {
  margin-left: 0;
}

.nav-sub-menu {
  flex-wrap: wrap;
  justify-content: center;

  a,
  button {
    padding: .5em;
    line-height: 0;
  }

  %svg-size {
    width: 24px;
    height: 24px;
    line-height: 1;
    transition: all .2s ease;
  }

  button svg {
    @extend %svg-size;
    fill: none;
    stroke: $dark;

    &:hover {
      stroke: $prim;
    }
  }

  a svg {
    @extend %svg-size;
    fill: $dark;
  }

  button>svg {
    @extend %svg-size;
    stroke: $dark;

    &:hover {
      stroke: $prim;
    }
  }

  .search-button svg {
    width: 27px;
    height: 27px;
    fill: none;
    stroke-width: 2px;
  }
}

// Hide navbar on viewports less than laptop
.fixed-navbar {
  display: none;
}

//-------------------------------------------
// Navbar on laptops and up
//-------------------------------------------
@media all and (min-width: $laptop) {
  .nav-mobile {
    display: none;
  }

  .nav-menu-expanded {
    display: none;
    transform: translateX(100%);
  }


  .fixed-navbar {
    display: flex;
  }



  .navbar-site-title {
    align-items: center;

    img {
      width: 1.25em;
      height: 1.25em;
    }
  }

  .site-header-1 {
    margin: 0;
    margin-left: 5px;
    font-size: 1em;
    font-weight: 400;
    color: $dark;
  }

  .fixed-center {
    display: flex;
    justify-content: center;
  }



  .fixed-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-item {
      margin-right: 1em;
    }



    button svg {
      width: 18px;
      height: 18px;
      line-height: 1;
      transition: all .2s ease;
      fill: none;
      stroke: $dark;
      stroke-width: 2px;

      &:hover {
        stroke: $prim;
      }
    }

    a svg {
      width: 18px;
      height: 18px;
      line-height: 1;
      transition: all .2s ease;
      fill: $dark;
    }

    button>svg {
      width: 18px;
      height: 18px;
      line-height: 1;
      transition: all .2s ease;
      stroke: $dark;

      &:hover {
        stroke: $prim;
      }
    }

    .search-button svg {
      width: 22px;
      height: 22px;
      fill: none;
      stroke-width: 2px;
    }
  }

  .nav-item {
    margin-right: 2em;
    color: $dark;

    &:last-child {
      margin-right: 0;
    }
  }
}

.facebook svg {
  @include transition(all);

  &:hover {
    fill: $fb;
  }
}

.twitter svg {
  @include transition(all);

  &:hover {
    fill: $tw;
  }
}