//-------------------------------------------
// Navbar common items
//-------------------------------------------
.fixed-navbar,
.nav-mobile {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $navbar;
  padding: 0.5em 1em;
  // backdrop-filter: saturate(50%) blur(10px); Too many artifacts

  // font-size: .8em;
  // line-height: 1.6;
  background-color: scale-color($light, $alpha: -5%);
  @include transition(all);
}

.fixed-left {
  font-family: $serif;
  font-size: 1.25rem;

  a {
    align-items: center;
    font-size: 0.935rem;

    img {
      height: 1.25rem;
    }

    p {
      margin-left: 0.25rem;
    }
  }
}

.nav-ul {
  padding: 0;
  margin: 0;
  font-size: 0.975rem;
  text-align: center;
}

.nav-li {
  list-style-type: none;
}

//-------------------------------------------
// Navbar Mobile
//-------------------------------------------
.mobile-nav-menu {
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - #{$navbar});
  margin-top: $navbar;
  margin-left: 100%;
  overflow: auto;
  font-size: 1.5rem;
  color: $dark;
  background-color: scale-color($light, $alpha: -5%);
  transition: all 0.4s ease-in-out;

  .flex-col {
    align-items: center;
    justify-content: center;

    .flex-row {

      a,
      button {
        margin: 0 0.5rem;
      }
    }
  }

  .site-title {
    // font-size: 115%;
    text-align: center;
  }

  a,
  button {
    margin-bottom: 0.5rem;
    color: $dark;
  }
}

.mobile-nav-menu-inner {
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.nav-menu-expanded {
  margin-left: 0;
}

.nav-sub-menu {
  flex-wrap: wrap;
  justify-content: center;

  .nav-item {
    margin-right: 0.5rem;
  }

  a,
  button {
    padding: 0.5rem;
    line-height: 0;
  }

  %svg-size {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1;
    @include transition(all);
  }

  button svg {
    @extend %svg-size;
    fill: none;
    stroke: $dark;

    &:hover {
      stroke: $prim;
    }
  }

  a svg {
    @extend %svg-size;
    fill: $dark;
  }

  button>svg {
    @extend %svg-size;
    stroke: $dark;
    stroke-width: 2px;

    &:hover {
      stroke: $prim;
    }
  }

  .search-btn svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke-width: 2px;
  }
}

// Hide navbar on viewports less than laptop
.fixed-navbar {
  display: none;
}

//-------------------------------------------
// Navbar on laptops and up
//-------------------------------------------
@media all and (min-width: $laptop) {

  .nav-mobile,
  .mobile-nav-menu {
    display: none;
  }

  .nav-menu-expanded {
    display: none;
    transform: translateX(100%);
  }

  .fixed-navbar {
    display: flex;
  }

  .navbar-site-title {
    align-items: center;

    img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .site-header-1 {
    margin: 0;
    margin-left: 5px;
    font-size: 0.975rem;
    font-weight: 400;
    color: $dark;
  }

  .fixed-center {
    display: flex;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-li {
    display: inline;
    margin-right: 1rem;
    list-style-type: none;
  }

  .nav-item {
    margin-right: 2rem;
    color: $dark;

    &:last-child {
      margin-right: 0;
    }
  }
}

.facebook svg {
  stroke: none;
  @include transition(all);

  &:hover {
    fill: $fb;
  }
}

.twitter svg {
  stroke: none;
  @include transition(all);

  &:hover {
    fill: $tw;
  }
}

// Navigation
.pagination {
  display: flex;
  justify-content: center;

  >* {
    margin: 1rem;
  }

  a {

    &:hover,
    &:focus {
      color: $prim;
      @include transition(color);
    }
  }
}

$hamburger-base: 1rem;

// Hamburger
.fixed-right {
  line-height: 1;
}

.button-hamburger {
  position: relative;
  display: block;
  width: 1.5rem;
  height: $hamburger-base;
  margin: auto;
  // margin: 50px auto;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);

  &:focus {
    outline: none;
  }

  span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: calc(#{$hamburger-base} / 5);
    background: $dark;
    opacity: 1;
    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: calc(0.4 * #{$hamburger-base});
    }

    &:nth-child(3) {
      top: calc(0.8 * #{$hamburger-base});
    }
  }

  &.is-active {
    span:nth-child(1) {
      top: calc(0.4 * #{$hamburger-base});
      transform: rotate(135deg);
    }

    span:nth-child(2) {
      left: -1.5rem;
      opacity: 0;
    }

    span:nth-child(3) {
      top: calc(0.4 * #{$hamburger-base});
      transform: rotate(-135deg);
    }
  }
}