.site-title {
  transform: translateY(-200%);
  @include transition(transform);

  &.show-nav {
    transform: translateY(0);
  }
}
//-------------------------------------------
// Navbar Mobile
//-------------------------------------------
.navbar-mobile {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $navbar;
  padding: 0.5rem 1rem;
  @include color-map(background-color, surface2);
  font-size: 0.9375rem;
  box-shadow: $box-shadow;
  @include transition(all);

  &__left {
    @include flex(row, flex-start, center);
    flex: 1;
  }

  &__site-title--serif {
    @include flex(row, flex-start, center);
    margin-left: 0.5rem;
    font-size: 1rem;
    @extend .serif;

    img {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.25rem;
    }
  }

  // Hamburger Button
  &__hamburger-btn {
    width: 1.5rem;
    height: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
      @include color-map(stroke, text2);
    }

    &:hover {
      svg {
        @include color-map(stroke, primary);
      }
    }
  }

  &__right {
    @include flex(row, flex-end, center);
    // flex: 1;
  }

  &--signin {
    @include btn(outline);
  }

  &--subscribe {
    @include btn(color);
  }

  &__search-btn {
    display: none;
  }

  &__search-btn,
  &__color-mode-btn {
    width: 1.25rem;
    height: 1.25rem;
    svg {
      width: 100%;
      height: 100%;
      @include color-map(stroke, text2);
      @include transition(stroke);

      &:hover {
        @include color-map(stroke, primary);
      }
    }
  }

  &__color-mode-btn {
    margin-right: 0.5rem;
    stroke-linecap: round;
    stroke-linejoin: round;

    &--hidden {
      display: none;
    }
  }
}

//-------------------------------------------
// Mobile Nav Menu
//-------------------------------------------
.mobile-nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 20rem;
  max-width: calc(100vw - 3.5rem);
  height: 100%;
  @include color-map(color, text1);
  @include color-map(background-color, surface2);
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translate3d(-100vw, 0, 0);

  &[aria-expanded='true'] {
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate3d(0, 0, 0);
  }

  &__close-btn {
    position: absolute;
    top: 1rem;
    right: -2rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1;
    svg {
      width: 100%;
      height: 100%;
      stroke: #ffffff;
    }
    &:focus,
    &:hover {
      outline-color: #ffffff;
    }
  }

  &__title {
    margin-top: 0;
    line-height: 1;
  }
  &__inner {
    @include flex(column, center, flex-start);
    padding: 1rem;
  }

  &__site-title--serif {
    font-size: 1.25rem;
    @extend .serif;
  }

  &__main-nav {
    margin: 1rem 0;
    list-style-type: none;
  }

  &__main-nav-list-item {
    margin: 0.5rem 0;
    font-size: 1.25rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__social-media {
    @include flex(row, flex-start, center);
  }

  &__social-media-header {
    @extend .author__small-header;
    margin-bottom: 0.25rem;
  }

  &__social-media-item {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
    svg {
      width: 100%;
      height: 100%;
      @include color-map(stroke, text2);
    }
  }
}

//-------------------------------------------
// Navbar on laptops and up
//-------------------------------------------

// Hide navbar on viewports less than laptop
.navbar {
  display: none;
}

@media all and (min-width: $laptop) {
  .navbar-mobile,
  .mobile-nav-menu {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $navbar;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    @include color-map(background-color, surface2);
    box-shadow: $box-shadow;
    @include transition(all);

    &__brand--serif {
      @include flex(row, flex-start, center);
      font-family: $serif;
      font-size: 1rem;
      font-weight: 400;

      img {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.25rem;
      }
    }

    &__center {
      @include flex(row, space-between, center);
    }

    &__right {
      @include flex(row, flex-end, center);
    }

    &__ul {
      display: inline-flex;
      list-style-type: none;
    }

    &__list-item {
      margin: 0 0.5rem;
    }

    &__right-item {
      width: 1.25rem;
      height: 1.25rem;
      margin: 0 0.5rem;
      line-height: 1;
      @include transition(stroke);

      &--signin {
        margin: 0 0.5rem;
        @include btn(outline);
      }

      &--subscribe {
        margin: 0 0.5rem;
        @include btn(color);
      }

      &--member-button {
        margin: 0 0.5rem;
        line-height: 1;

        img {
          width: 1.25rem;
          height: 1.25rem;
          border-style: solid;
          border-width: 2px;
          border-radius: 50%;
          border-radius: 50%;
          @include color-map(border-color, text2);
          @include transition(border-color);
        }

        &:hover img {
          @include color-map(border-color, primary);
        }
      }

      svg {
        width: 100%;
        height: 100%;
        @include color-map(stroke, text2);
      }

      &--search {
        display: none;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.5rem;
        line-height: 1;
        svg {
          width: 100%;
          height: 100%;
          @include color-map(stroke, text2);
          @include transition(stroke);

          &:hover {
            @include color-map(stroke, primary);
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.color-mode-btn {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.5rem;
  line-height: 1;
  svg {
    width: 100%;
    height: 100%;
    @include color-map(stroke, text2);
    @include transition(stroke);

    &:hover {
      @include color-map(stroke, primary);
    }
  }
  &.light {
    :root[color-mode='light'] & {
      display: none;
    }
  }
  &.dark {
    :root[color-mode='dark'] & {
      display: none;
    }
  }
}

// Navigation
.pagination {
  @include flex(row, space-between, center);
  @include color-map(color, text2);

  > * {
    margin: 2rem 1rem 0;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include transition(color);

    &:hover {
      @include color-map(color, primary);
    }
  }
}
