.nav-container {
    width: 100%;

}

.nav-item {
    color: $light;
    margin-right: 1em;

    &:last-child {
        margin-right: 0;
    }
}

// Fixed Navbar 
.fixed-navbar {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 5;

    padding: 1em;
    background: transparent;

    font-size: .8em;
    line-height: 1.6;
    transition: all .1s ease-in-out;
}

.fixed-left {
    color: $light;
    font-family: $serif;
    font-size: 1.25em;

    flex: auto;

    a h1 {
        font-size: 1em;
        margin: 0;
        font-weight: 400;
    }
}

.fixed-center {
    display: flex;
    flex: auto;

    justify-content: space-around;
    max-width: $tablet;


}

%svg-size {
    height: 18px;
    width: 18px;
    transition: all .2s ease;
}

.fixed-right {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: flex-end;



    button svg {
        @extend %svg-size;
        

        &:hover {
            stroke: $prim;
        }
    }

    a svg {
        @extend %svg-size;
    }
}

#facebook svg:hover {
    fill: $fb;
}

#twitter svg:hover {
    fill: $tw;
}

#search-button svg {
    height: 21px;
    width: 21px;
}