.st-nav-container {
    max-width: $tablet;
    margin: 25px auto;
}




.st-extras {
    

    

    &>* {
        margin: 10px;
    }




}

.st-nav-item {
    color: $light;
}

.st-nav-item img {
    height: 24px;
}

.st-nav-right {
    margin-left: auto;

}

.st-main-nav {
    justify-content: space-between;

}