.post-content {
    figcaption {
        padding: .5em;
        font-size: .9375em;
        color: scale-color($color: $dark, $alpha: -5%);
        text-align: center;
    }

    blockquote {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // float: left;
        min-height: 200px;
        padding: 1em 2em;
        margin: 2em 0;
        font-size: 1.5em;
        font-style: italic;
        color: $acc3;
        background: scale-color($dark, $lightness: 95%);




        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 100%;
            content: "";
            background: linear-gradient($prim, $acc1);
        }
    }

    a {
        position: relative;
        display: inline-block;
        overflow: hidden;
        color: $prim;
        vertical-align: middle;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transform: perspective(1px) translateZ(0);
    }

    a:before {
        position: absolute;
        right: 100%;
        bottom: -7px;
        left: 0;
        z-index: -1;
        height: 12px;
        content: "";
        background: $prim;
        transition-timing-function: ease-out;
        transition-duration: .3s;
        transition-property: right;
    }

    a:hover:before,
    a:focus:before,
    a:active:before {
        right: 0;
        background: linear-gradient(to right, $prim, $acc1);
    }

    ul,
    ol {
        margin: 1em 2em;
        color: $dark;
    }

    ul {
        list-style-type: square;
    }

    hr {
        height: 2px;
        margin: 1em 0;
        background: scale-color($dark, $lightness: 95%);
        border: none;
    }

    table {
        width: 100%;
        overflow: hidden;
        font-size: .935em;
        border-collapse: collapse;
        border: 1px solid scale-color($dark, $lightness: 95%);
    }

    tbody {}

    tr {

        &:nth-child(odd) {
            background: scale-color($dark, $lightness: 95%);
        }

        &:first-child {
            color: $light;
            background-color: $dark;
        }

    }

    th {
        padding: .5em 1em;
        font-family: $serif;
        font-weight: 400;
        text-align: left;
    }

    td {
        padding: .5em 1em;
        text-align: left;
    }
}