//-------------------------------------------
// Post Reading Progress Bar
//-------------------------------------------
.post-reading-progress {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 0;
    height: 3px;
    margin-top: $navbar;
    background: linear-gradient(to right, scale-color($prim, $alpha: -50%), scale-color($acc1, $alpha: -50%));

}

//-------------------------------------------
// Post Styles
//-------------------------------------------
.post {
    max-width: $tablet;
    margin: 0 auto 8em;
}

.post-header {
    max-width: $tablet;
    margin: 1em 0 3em;
}

.post-content {
    max-width: $tablet;
    margin: 0 auto 4em;

}

.post-img {
    width: 100%;
    height: 50vh;

    img,
    .no-post-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .no-post-img {
        background: linear-gradient(to right, $prim, $acc1);
    }

}

.post-title {
    margin-bottom: .5rem;
    ;
}



.post-author {
    font-weight: 600;
    color: $prim;
}

.post-content p {
    margin-bottom: 1em;
}

//-------------------------------------------
// Share Bar
//-------------------------------------------
.post-share-bar {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
    margin: 0;
    margin-bottom: -100px;
    font-size: .8em;
    font-weight: 600;
    color: scale-color($dark, $alpha: -50%);
    text-align: center;
    background: scale-color($light, $alpha: -5%);
    opacity: 0;

    @include transition(all);
}

.post-share-bar-title {
    margin-right: 2em;
}

.post-share-bar-link {
    width: 2em;
    height: 2em;
    margin-right: 2em;

    &:focus {
        outline: 2px dotted currentColor;
    }

    svg {
        width: 100%;
        height: 100%;
        fill: scale-color($dark, $alpha: -50%);
        @include transition(all);
    }



    &.twitter svg {


        &:hover,
        &:active {
            fill: $tw;
        }
    }

    &.facebook svg {

        &:hover,
        &:active {
            fill: $fb;
        }
    }

    &.linkedin svg {

        &:hover,
        &:active {
            fill: $li;
        }
    }

    &.copy svg {
        fill: none;
        stroke: scale-color($dark, $alpha: -50%);

        &:hover,
        &:active {
            stroke: $prim;
        }
    }

}

@media only screen and (min-width: $laptop) {
    .post-share-bar {
        top: $navbar + 1rem;
        bottom: initial;
        flex-direction: column;
        width: initial;
        margin: 0;
        margin-left: -200px;
    }

    .post-share-bar-title,
    .post-share-bar-link {
        margin-right: 0;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}




//-------------------------------------------
// Tag Bar
//-------------------------------------------
.post-tag-bar {
    flex-wrap: wrap;
    margin-top: .25em;
    font-size: .75em;
    text-transform: uppercase;

    svg {
        width: 22px;
        height: 22px;
        fill: none;
        stroke: scale-color($dark, $alpha: -25%);
    }
}

.post-tag-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .15em .35em;
    margin-right: .25em;
    color: scale-color($dark, $alpha: -25%);

    &:first-of-type {
        margin-left: .15em;
    }

    &:last-child {
        margin-right: 0;
    }

    svg {
        width: 1em;
        height: 1em;
    }
}

// -------------------------------------------
// Post Footer: About the Author and Related Posts
// -------------------------------------------
.post-footer-container {
    grid-template-areas: "title-1"
        "author"
        "title-2"
        "post-1"
        "post-2";
    grid-template-columns: 1fr;
    grid-row-gap: .5em;
    border-top: 1px solid $acc2;
}

@media only screen and (min-width: $tablet) and (max-width: $laptop) {
    .post-footer-container {
        grid-template-areas: "title-1 title-1"
            "author author"
            "title-2 title-2"
            "post-1 post-2";
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: $laptop) {
    .post-footer-container {
        grid-template-areas: "title-1 title-2 title-2"
            "author post-1 post-2";
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}


.author-footer {
    grid-area: author;
    grid-column: 1 / 2;
}

.author-footer-img-container {
    align-items: center;
    margin-bottom: 1em;
}

.author-footer-img-link {
    line-height: 0;
}

.author-footer-img {
    width: .35 * $base;
    height: .35 * $base;
    margin-right: 1em;
    object-fit: cover;
    // display: block;
    border-radius: 50%;
}

.author-footer-social,
.author-footer-location {
    align-items: center;

    a {
        padding: .1em .25em;

        &:first-child {
            padding-left: 0;
        }
    }

    p {
        font-size: .85em;
        color: scale-color($dark, $alpha: -50%);
    }

    svg {
        width: 1em;
        height: 1em;
        fill: scale-color($dark, $alpha: -50%);
    }
}

.author-footer-location {
    align-items: center;
    margin-bottom: .25em;

    svg {
        // margin-top: 3px;
        // margin-left: -3px;
        margin-right: .1em;
        fill: none;
        stroke: scale-color($dark, $alpha: -50%);
        stroke-width: 2px;
    }
}

.related-posts {
    .card-img {
        height: $base;
    }
}

.post-footer-title-1 {
    grid-area: title-1;
}

.post-footer-title-2 {
    grid-area: title-2;
}

.related-posts-1 {
    grid-area: post-1;
}

.related-posts-2 {
    grid-area: post-2;
}