//-------------------------------------------
// Post Reading Progress Bar
//-------------------------------------------
.post-reading-progress {
    height: 3px;
    position: fixed;
    margin-top: $navbar;
    background: linear-gradient(to right, scale-color($prim, $alpha: -50%), scale-color($acc1, $alpha: -50%));
    top: 0;
    width: 0;
    z-index: 10;
    // @include transition(all);

}

//-------------------------------------------
// Post Styles
//-------------------------------------------
.post {
    max-width: $tablet;
    margin: 0 auto 8em;
}

.post-header {
    
    margin: 1em 0 3em;
    max-width: $tablet;

}


.post-content {
    max-width: $tablet;
    margin: 0 auto 4em;

}

.post-img {
    width: 100%;
    height: 50vh;

    img,
    .no-post-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .no-post-img {
        background: linear-gradient(to right, $prim, $acc1);
    }

}

.post-title {
    margin-bottom: .5rem;;
}



.post-author {
    font-weight: 600;
    color: $prim;
}

.post-content p {
    margin-bottom: 1em;
}

//-------------------------------------------
// Share Bar
//-------------------------------------------
%post-aside {
    // padding: .25em .5em;
    // flex: 1 1 auto;
    color: $dark;
}
.post-share-bar,
.post-tag-bar {
    margin: .5em 0 0;
    color: scale-color($dark, $alpha: -50%);
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    flex-wrap: wrap;
    // border-top: 1px solid scale-color($acc3, $alpha: -50%);
}

.post-share-bar {
    position: fixed;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: .75em;
}

.post-share-bar-title,
.post-tag-bar-title {
    @extend %post-aside;
    // background-color: scale-color($acc3, $alpha: -50%);
}
.post-tag-bar > svg {
    // height: 24px;
    margin-right: .25em;
}

.post-tag-link {
    @extend %post-aside;
    @include transition(background-color);
    // background-color: scale-color($acc3, $alpha: -75%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5em;

    &:last-child {
        margin-right: 0;
    }

    &:first-child {
        margin-left: .5em;
    }
    
    color: scale-color($dark, $alpha: -25%);
    &:hover,
    &:active {
        background-color: scale-color($acc3, $alpha: -50%);
    }
}

.post-tag-icon {
    height: 1em;
    // margin-top: 2px;
    
}

.post-share-bar-link {
    @extend %post-aside;
    @include transition(all);


    &:focus {
        outline: 2px dotted currentColor;
    }

    &.twitter {
        background-color: scale-color($tw, $alpha: -50%);

        &:hover,
        &:active {
            background-color: $tw;
        }
    }

    &.facebook {
        background-color: scale-color($fb, $alpha: -50%);

        &:hover,
        &:active {
            background-color: $fb;
        }
    }

    &.linkedin {
        background-color: scale-color($li, $alpha: -50%);

        &:hover,
        &:active {
            background-color: $li;
        }
    }

    &.email {
        background-color: scale-color($acc1, $alpha: -50%);

        &:hover,
        &:active {
            background-color: $acc1;
        }
    }
}

// -------------------------------------------
// Post Footer: About the Author and Related Posts
// -------------------------------------------
.post-footer-container {
    font-size: .95em;
    grid-template-areas: "title-1"
        "author"
        "title-2"
        "post-1"
        "post-2";
    grid-template-columns: 1fr;
    grid-row-gap: .5em;
    border-top: 1px solid $acc2;
}

@media only screen and (min-width: $tablet) and (max-width: $laptop) {
    .post-footer-container {
        grid-template-areas: "title-1 title-1"
            "author author"
            "title-2 title-2"
            "post-1 post-2";
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: $laptop) {
    .post-footer-container {
        grid-template-areas: "title-1 title-2 title-2"
            "author post-1 post-2";
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}


.author-footer {
    grid-area: author;
    grid-column: 1 / 2;
}

.author-footer-img-container {
    align-items: center;
    margin-bottom: 1em;
}

.author-footer-img {
    height: .35 * $base;
    width: .35 * $base;
    object-fit: cover;
    // display: block;
    border-radius: 50%;
    margin-right: 1em;
}

.author-footer-social,
.author-footer-location {
    p {
        color: $acc2;
        font-size: .85em;
    }

    // margin-top: .5em;
    svg {
        height: 1em;
        width: 1em;
        fill: $acc2;
    }
}

.author-footer-location {
    align-items: center;
    line-height: 1;
    margin-bottom: .25em;

    svg {
        margin-top: 3px;
        margin-left: -3px;
    }
}

.related-posts {
    .card-img {
        height: $base;
    }
}

.post-footer-title-1 {
    grid-area: title-1;
}

.post-footer-title-2 {
    grid-area: title-2;
}

.related-posts-1 {
    grid-area: post-1;
}

.related-posts-2 {
    grid-area: post-2;
}