//-------------------------------------------
// Post Reading Progress Bar
//-------------------------------------------
.post-reading-progress {
  position: fixed;
  top: 0;
  z-index: 1003;
  width: 0;
  height: 3px;
  // margin-top: $navbar;
  background: linear-gradient(to right,
      color(primary),
      color(accent));
  background: linear-gradient(to right,
      var(--primary),
      var(--accent));
}

//-------------------------------------------
// Post Styles
//-------------------------------------------
.post {
  max-width: $tablet;
  margin: 0 auto 8em;
}

.post-header {
  margin: 1em 0 3em;
}

.post-content {
  margin: 0 auto 4em;

  p {
    margin-bottom: 1em;
  }
}

.post-img,
.no-post-img {
  width: 100%;
  height: 50vh;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.no-post-img {
  background: linear-gradient(45deg,
      color(primary),
      color(accent));
  background: linear-gradient(45deg,
      var(--primary),
      var(--accent));
}

.post-title {
  position: relative;
  margin-bottom: 0.5rem;
}

.post-author {
  font-size: 1.1em;
  font-weight: 600;
  @include color-map(color, primary);
}

.post-date {
  font-size: 0.9em;
}

//-------------------------------------------
// Share Bar
//-------------------------------------------
.post-share-bar {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  margin: 0;
  margin-bottom: -100px;
  font-size: 0.8em;
  font-weight: 600;
  @include color-map(color, shade200);
  text-align: center;
  @include color-map(background-color, shade600);
  opacity: 0;

  @include transition(all);
}

.post-share-bar-title {
  margin-right: 2em;
}

.post-share-bar-link {
  width: 2em;
  height: 2em;
  margin-right: 2em;

  &:focus {
    outline: 2px dotted currentColor;
  }

  svg {
    width: 100%;
    height: 100%;
    @include color-map(fill, shade200);
    @include transition(all);
  }

  &.twitter svg {

    &:hover,
    &:active {
      fill: $tw;
    }
  }

  &.facebook svg {

    &:hover,
    &:active {
      fill: $fb;
    }
  }

  &.linkedin svg {

    &:hover,
    &:active {
      fill: $li;
    }
  }

  &.copy svg {
    fill: none;
    @include color-map(stroke, shade200);

    &:hover,
    &:active {
      @include color-map(stroke, primary);
    }
  }
}

@media only screen and (min-width: $laptop) {
  .post-share-bar {
    top: $navbar + 1rem;
    bottom: initial;
    flex-direction: column;
    width: initial;
    margin: 0;
    margin-left: -200px;
  }

  .post-share-bar-title,
  .post-share-bar-link {
    margin-right: 0;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//-------------------------------------------
// Tag Bar
//-------------------------------------------
.post-tag-bar {
  flex-wrap: wrap;
  margin-top: 0.25em;
  font-size: 0.75em;
  text-transform: uppercase;

  svg {
    width: 22px;
    height: 22px;
    fill: none;
    @include color-map(stroke, shade200);
  }
}

.post-tag-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15em 0.35em;
  margin-right: 0.25em;
  @include color-map(color, shade200);

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 1em;
    height: 1em;
  }
}

// -------------------------------------------
// Post Footer: About the Author and Related Posts
// -------------------------------------------
.post-footer-container {
  padding-top: 0.5em;
  grid-template-areas:
    "title-1"
    "author"
    "title-2"
    "post-1"
    "post-2";
  grid-template-columns: 1fr;
  grid-row-gap: 0.5em;
  border-top-style: solid;
  border-top-width: 2px;
  @include color-map(border-top-color, shade500);
}

@media only screen and (min-width: $tablet) and (max-width: $laptop) {
  .post-footer-container {
    grid-template-areas:
      "title-1 title-1"
      "author author"
      "title-2 title-2"
      "post-1 post-2";
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: $laptop) {
  .post-footer-container {
    grid-template-areas:
      "title-1 title-2 title-2"
      "author post-1 post-2";
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

.author-footer {
  grid-area: author;
  grid-column: 1 / 2;
}

.author-footer-img-container {
  align-items: center;
  margin-bottom: 1em;
}

.author-footer-img-link {
  line-height: 0;
}

.author-footer-img {
  width: 0.5 * $base;
  height: 0.5 * $base;
  margin-right: 1rem;
  object-fit: cover;
  border-radius: 50%;
}

.author-footer-social,
.author-footer-location {
  align-items: center;

  a {
    padding: 0.1rem 0.25rem;

    &:first-child {
      padding-left: 0;
    }
  }

  p {
    font-size: 0.85rem;
    @include color-map(color, shade200);
  }
}

.author-footer-social {
  svg {
    width: 1rem;
    height: 1rem;
    @include color-map(fill, shade200);
  }

  .globe {
    width: 1rem;
    height: 1rem;
    fill: none;
    @include color-map(fill, shade200);
  }
}

.author-footer-location {
  align-items: center;
  margin-bottom: 0.25rem;

  svg {
    width: 1em;
    height: 1em;
    margin-top: 3px;
    margin-right: 0.2rem;
    margin-left: -3px;
    fill: none;
    @include color-map(stroke, shade200);
    stroke-width: 1px;
  }
}

.related-posts {
  .card-img {
    height: $base;
  }

  .card-tag {
    display: flex;
    @include color-map(color, shade200);

    svg {
      width: 1rem;
      height: 1rem;
      @include color-map(stroke, shade200);
      stroke-width: 2px;
    }

    &:hover {
      background: none;
    }
  }
}

.post-footer-title-1 {
  grid-area: title-1;
}

.post-footer-title-2 {
  grid-area: title-2;
}

.related-posts-1 {
  grid-area: post-1;
}

.related-posts-2 {
  grid-area: post-2;
}

.related-posts-2~.related-posts-3,
.related-posts-2~.related-posts-4 {
  display: none;
}

.related-posts-1+.related-posts-3 {
  grid-area: post-2;

  &+.related-posts-4 {
    display: none;
  }
}