.st-search-box {
    display: none;
    
    left: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100%;

    background: scale-color($dark, $alpha: -5%);

    opacity: 0;
    
}

.st-search-bar {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.5em 3em; 
    width: 100%;
    

    background: $dark;

    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    
    input {

        margin-right: 1em;
        padding: 1em 1em .5em;
        width: calc(80% - 1em);

        background: scale-color($dark, $lightness: -50%);
        border: none;
        color: $light;
        font-size: 1.25em;
        outline: none;
        border-bottom: 1px solid $prim;
    }

    button {
        height: 2em;
        margin-right: 1em;
        width: calc(10% - .5em);

        color: $light;
        cursor: pointer;
        font-size: 1em;
        background: $prim;
        padding: .5em;

        &:last-child {
            margin-right: 0;
        }
    }
}

.st-search-box-max-height {
    display: block;
    height: 100vh;
    opacity: 1;
}