//-------------------------------------------
// Inline Subscription
//-------------------------------------------
.subscribe {
    min-height: 400px;
    margin: 5em 0;
    text-align: center;
    background-color: $light;
    border: 2px solid $dark;

    &.page {
        height: 100vh;

        .inner-container {
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .go-back {
            align-items: center;
            justify-content: center;

            svg {
                width: 1em;
                height: 1em;
                fill: none;
                stroke: $dark;
                stroke-width: 2px;
            }

            p {

                color: $dark;
                background: none;
            }
        }


        h1 {
            color: $dark;
        }
    }
}