.subscribe {
    min-height: 300px;
    background-color: $dark;
    border-bottom-color: $acc1;
    border-bottom: none;
    text-align: center;

    h3 {
        display: block;
        color: $light;
        font-size: 2.4em;
        line-height: 1;
    }

    p {
        color: $acc1;
        font-size: 1.2em;
        margin-bottom: 1.4em;
        font-weight: 100;
        &:last-child {
            color: $light;
            text-align: left;
        }
    }

    input {
        height: 2em;
        background: none;
        border: none;
        font-size: 1.5em;
        border-bottom: 1px solid $light;
        color: $light;
        caret-color: $acc1;
        line-height: 1;
        font-weight: 100;
        width: 80%;
        text-align: left;

        &::selection {
            background: $acc1;
            color: $dark ;
        }
    }
}

.subscribe-btn {
    background-color: $acc1;
    padding: .5em;
    font-weight: 700;
    line-height: 1;
    border: 2px solid transparent;
    vertical-align: bottom;
    margin-left: 1em;
    &:hover {
        background-color: $acc2;
    }
    &:focus {
        border: 2px dotted currentColor;
    }
}