//colors
$dark: #181818;
$dark: #1d1d1f;
$light: #f7fefd;
$light: #fafafa;

$prim: #c70d3a;
$acc2: #230338;
$acc1: #ed5107;
$acc3: #02383c;

// Social Media
$fb: #1877f2;
$tw: #1da1f2;
$li: #0077b5;

$pureWhite: #051012;
$pureBlack: #000000;

// Dark Mode
$extra-dark: #051012;
$dark: #e7ebeb;
$light: #0b1f23;

:root[color-mode="dark"] {
  --text: #ffffff;
  --primary: #fac21b;
  --accent: #ed5107;
  --shade100: #e7ebeb;
  --shade200: #c4ccce;
  --shade300: #a0aeb1;
  --shade400: #597176;
  --shade500: #12343b;
  --shade600: #102f35;
  --shade700: #0b1f23;
  --shade800: #08171b;
  --shade900: #051214;
}

:root[color-mode="bright"] {
  --text: #000000;
  --primary: #fac21b;
  --accent: #ed5107;
  --shade100: #ffffff;
  --shade200: #ffffff;
  --shade300: #ffffff;
  --shade400: #ffffff;
  --shade500: #fdfdfd;
  --shade600: #f9fafa;
  --shade700: #f5f7f7;
  --shade800: #eef1f1;
  --shade900: #e7ebeb;
}

$colors: (
  "text": #ffffff,
  "primary": #fac21b,
  "accent": #ed5107,
  "shade100": #e7ebeb,
  "shade200": #c4ccce,
  "shade300": #a0aeb1,
  "shade400": #597176,
  "shade500": #12343b,
  "shade600": #102f35,
  "shade700": #0b1f23,
  "shade800": #08171b,
  "shade900": #051012
);

// :root {
//   --text: #ffffff;
//   --primary: #FAC21B;
//   --shade100: #E8E9E9;
//   --shade200: #C7C7C8;
//   --shade300: #A5A5A7;
//   --shade400: #616264;
//   --shade500: #1D1E22;
//   --shade600: #1A1B1F;
//   --shade700: #111214;
//   --shade800: #0D0E0F;
//   --shade900: #09090A;
// }

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@mixin color-map($property, $color) {
  #{$property}: color($color);
  #{$property}: var(--#{$color});
}

// Font styles
$sans: "Fira Sans", -apple-system, blinkmacsystemfont, roboto, "Segoe UI",
  oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$serif: "DM Serif Text", georgia, times, serif;

// Breakpoints
$tablet: 640px;
$laptop: 1024px;
$desktop: 1280px;

// Sizes
$base: 180px;
$navbar: 3rem;

// Box Shadow
$box-shadow-large: 3px 3px 4px rgba(0, 0, 0, 0.12),
  -3px 2px 4px rgba(0, 0, 0, 0.12), 5px 10px 15px rgba(0, 0, 0, 0.14),
  -5px 5px 15px rgba(0, 0, 0, 0.14);

$box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

$box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);

@mixin transition($property) {
  transition: $property 0.2s cubic-bezier(0.41, 0.56, 0.05, 0.95);
}

// Typography
.serif {
  font-family: $serif;
  font-weight: 400;
}

%_serif {
  font-family: $serif;
  font-weight: 400;
}

@mixin serif {
  font-family: $serif;
  font-weight: 400;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin respond-above($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin respond-below($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respond-between($min, $max) {
  @media (min-width: $min) and (max-width: $max - 1) {
    @content;
  }
}

//-------------------------------------------
// Utility Classes
//-------------------------------------------
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-gap: 2rem;
}

%grid-container {
  display: grid;
  grid-gap: 2rem;
}

.outer-container {
  position: relative;
  width: 100%;
  padding: 1em;
  border-bottom-width: 0.5rem;
  @include color-map(border-bottom-color, shade800);
  @include respond-above(tablet) {
    padding: 1rem 4rem;
  }
}

%outer-container {
  position: relative;
  width: 100%;
  padding: 1em;
  @include color-map(background-color, shade700);
  border-bottom-style: solid;
  border-bottom-width: 0.5rem;
  @include color-map(border-bottom-color, shade800);

  @include respond-above(tablet) {
    padding: 1rem 4rem;
  }
}

.inner-container {
  max-width: $laptop;
  margin: 0 auto 1rem;
}

.header {
  position: relative;
  margin: 0;
}

.index {
  margin-top: $navbar;
}
// Links

// Underline from left effect
.hvr-underline-from-left {
  position: relative;
  display: inline-block;
  // padding: 0 1px;
  overflow: hidden;
  line-height: 1.2;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
}

.hvr-underline-from-left:before {
  position: absolute;
  right: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 0.5em;
  content: "";
  background: color("shade400");
  background: var(--shade400);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.4s;
  transition-property: right;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before,
.nav-current:before {
  right: 0;
}

// Fill from bottom
.hvr-bounce-to-top {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  transition-property: color;
  transform: perspective(1px) translateZ(0);
}

.hvr-bounce-to-top:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: scale-color($acc1, $alpha: -50%);
  transition-timing-function: ease-out;
  transition-duration: 0.45s;
  transition-property: transform;
  transform: scaleY(0);
  transform-origin: 50% 100%;
}

.hvr-bounce-to-top:hover:before,
.hvr-bounce-to-top:focus:before,
.hvr-bounce-to-top:active:before {
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transform: scaleY(1);
}

// Underline effect
.underline {
  display: inline-block;
  line-height: 0.95;
  text-shadow: 2px 2px color("shade700"), 2px -2px color("shade700"),
    -2px 2px color("shade700"), -2px -2px color("shade700");
  text-shadow: 2px 2px var(--shade700), 2px -2px var(--shade700),
    -2px 2px var(--shade700), -2px -2px var(--shade700);
  border-bottom: 2px solid currentColor;
}

@mixin underline {
  display: inline-block;
  line-height: 0.95;
  text-shadow: 2px 2px color("shade700"), 2px -2px color("shade700"),
    -2px 2px color("shade700"), -2px -2px color("shade700");
  text-shadow: 2px 2px var(--shade700), 2px -2px var(--shade700),
    -2px 2px var(--shade700), -2px -2px var(--shade700);
  border-bottom: 2px solid currentColor;
}
