// Typography
.st-serif {
    font-family: $serif;
}

// Display
.st-flex-row {
    display: flex;
    flex-direction: row;
}

.st-flex-col {
    display: flex;
    flex-direction: column;
}

.st-grid-container {
    display: grid;
}

.st-main {
    margin: 0 auto;
    max-width: $laptop;
    padding: 1em;
}

// Spacing

// Links
/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 1px;
    background: $pink;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }