// Typography
.serif {
  font-family: $serif;
}

// Display
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-gap: 2em;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.no-scroll {
  position: fixed;
  overflow: hidden;
}

.dark {
  color: $light;
}

.back-to-top {
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 10;
  line-height: 1;

  svg {
    width: 48px;
    height: 48px;
    color: $prim;
    fill: scale-color($light, $alpha: -5%);
    stroke: $prim;
  }
}

// Links

/* Underline From Left */
.hvr-underline-from-left {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
}

.hvr-underline-from-left:before {
  position: absolute;
  right: 100%;
  bottom: -7px;
  left: 0;
  z-index: -1;
  height: 12px;
  content: "";
  background: $prim;
  transition-timing-function: ease-out;
  transition-duration: .3s;
  transition-property: right;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

.underline {
  display: inline-block;
  line-height: 0.95;
  text-shadow:
    2px 2px $light,
    2px -2px $light,
    -2px 2px $light,
    -2px -2px $light;
  border-bottom: 2px solid currentColor;
}

.underline-dark {
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    2px 2px $dark,
    2px -2px $dark,
    -2px 2px $dark,
    -2px -2px $dark;
  border-bottom: 2px solid currentColor;
}