//colors
// Stone
$dark: #181818;
$light: #f7fefd;

$prim: #f4725b;
$acc1: #bd708c;
$acc2: #c3c0b7;
$acc3: #737274;


// Stone Fruit
// $dark: #000000;
// $light: #f7fefd;

// $prim: #832161;
// $acc1: #ff715b;
// $acc2: #3d2645;
// $acc3: #f9cb40;

// Fjords
$dark: #031c1f;
$light: #ebeffd;
$prim: #bf204a;
$acc1: #0d7272;
$acc2: #e396a5;


@mixin background-gradient {
    background: linear-gradient(rgba(232, 32, 14, .5), rgba(19, 2, 1, .5), rgba(232, 32, 14, .5));
}

// Font styles
$sans: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

$serif: 'Crimson Text',
Georgia,
Times,
serif;


// Breakpoints 

$tablet: 640px;
$laptop: 1024px;
$desktop: 1280px;
