//colors
// Stone
$dark: #181818;
$dark: #1d1d1f;
$light: #f7fefd;
$light: #fafafa;

$prim: #c70d3a;
$acc2: #230338;
$acc1: #ed5107;
$acc3: #02383c;

// Social Media
$fb: #1877f2;
$tw: #1da1f2;
$li: #0077b5;

$pureWhite: #ffffff;
$pureBlack: #000000;

// $dark: invert(#181818, 100%);
// $light: invert(#f7fefd, 100%);
// $prim: invert(#c70d3a, 100%);
// $acc2: invert(#230338, 100%);
// $acc1: invert(#ed5107, 100%);
// $acc3: invert(#02383c, 100%);
// $pureWhite: invert(#ffffff, 100%);

// Font styles
$sans: "Fira Sans", -apple-system, blinkmacsystemfont, roboto, "Segoe UI",
  oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$serif: "DM Serif Text", georgia, times, serif;

// Breakpoints
$tablet: 640px;
$laptop: 1024px;
$desktop: 1280px;

// Sizes
$base: 180px;
$navbar: 3rem;

.index {
  margin-top: $navbar;
}

// Box Shadow
$box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.12), -3px 2px 4px rgba(0, 0, 0, 0.12),
  5px 10px 15px rgba(0, 0, 0, 0.14), -5px 5px 15px rgba(0, 0, 0, 0.14);

$box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

@mixin transition($property) {
  transition: $property 0.2s cubic-bezier(0.41, 0.56, 0.05, 0.95);
}
