//colors
// Stone
$dark: #181818;
$light: #f7fefd;
$prim: #f4725b;
$acc1: #bd708c;
$acc2: #c3c0b7;
$acc3: #737274;

// Darker
// $prim: #851e3e;
// $acc1: #051e3e;
// $acc2: #651e3e;
// $acc3: #251e3e;
// $acc4: #451e3e;

// Trendy
$prim: #202040;
$acc2: #202060;
$acc1: #602080;
$acc3: #b030b0;

// Social Media
$fb: #1877f2;
$tw: #1da1f2;
$li: #0077B5;

// Font styles
$sans: -apple-system,
blinkmacsystemfont,
roboto,
"Segoe UI",
oxygen,
ubuntu,
cantarell,
"Open Sans",
"Helvetica Neue",
sans-serif;

$serif: "DM Serif Text",
georgia,
times,
serif;

// Breakpoints 
$tablet: 640px;
$laptop: 1024px;
$desktop: 1280px;

// Sizes
$base: 150px;
$navbar: 3rem;

// Box Shadow 
$box-shadow: 3px 3px 4px rgba(0, 0, 0, .12),
-3px 2px 4px rgba(0, 0, 0, .12),
5px 10px 15px rgba(0, 0, 0, .14),
-5px 5px 15px rgba(0, 0, 0, .14);

@mixin transition($property) {
    transition: $property .2s cubic-bezier(.41, .56, .05, .95);
}