// Imports
@import "normalize";
@import "variables";
@import "utilities";

//reset 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

// Responsive typography

html {
    font-family: $sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $dark;
    background: $light;
    scroll-behavior: smooth;
}

@media screen and (min-width: $tablet) and (max-width: $laptop) {
    html {
        font-size: 17px;
    }
}

@media screen and (min-width: $laptop) and (max-width: $desktop) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: $desktop) {
    html {
        font-size: 19px;
    }
}

// Headings GRT
%headings {
    margin: .5em 0;
    font-family: $serif;
    font-weight: 400;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 2.488em;
    @extend %headings;
}

h2,
.h2 {
    font-size: 2.074em;
    @extend %headings;
}

h3,
.h3 {
    font-size: 1.728em;
    @extend %headings;
}

h4,
.h4 {
    font-size: 1.44em;
    @extend %headings;
}

h5,
.h5 {
    font-size: 1.2em;
    @extend %headings;

}

h6,
.h6 {
    font-size: 1em;
    @extend %headings;
}

:link {
    color: currentColor;
    text-decoration: none;
}

:visited {
    color: currentColor
}

::selection {
    font-weight: 600;
    color: $dark;
    background: #ffdc73;
}

:target {
    padding-top: $navbar;
    margin-top: -$navbar;
}

//-------------------------------------------
// Global Container Styles
//-------------------------------------------
.outer-container {
    position: relative;
    width: 100%;
    padding: 1em;
    background: $light;
    border-bottom: .5em solid #ffffff;
}

@media only all and (min-width: $tablet) {
    .outer-container {
        padding: 1em 4em;
    }
}

.inner-container {
    max-width: $laptop;
    margin: 0 auto 1em;
}

.home-page-section-header {
    margin-bottom: .5em;
    line-height: 1;


}

//-------------------------------------------
// Hamburger default over rides
// https://github.com/jonsuh/hamburgers
//-------------------------------------------
$hamburger-padding-x: 2px;
$hamburger-padding-y: 2px;
$hamburger-layer-color: $dark;
$hamburger-layer-border-radius: 0;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

//-------------------------------------------
// Import substyles
//-------------------------------------------
@import "nav";
@import "search";
@import "hero";
@import "grid";
@import "post";
@import "postContentStyles";
@import "ghostRequired";
@import "subscribe";
@import "footer";
@import "modal";
@import "author";