// Imports
@import 'variables';
@import 'utilities';

//reset 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
}

// Responsive typography
html {
    background: $white;
    color: $black;
    font-family: $sans;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.5;

}

// Headings GRT 
h1,
.h1 {
    font-size: 4.23529412em;
    line-height: 1.08333333em;
    margin-top: 0.36111111em;
    margin-bottom: 0.72222222em;
}

h2,
.h2 {
    font-size: 2.64705882em;
    line-height: 1.15555556em;
    margin-top: 0.57777778em;
    margin-bottom: 0.57777778em;
}

h3,
.h3 {
    font-size: 1.64705882em;
    line-height: 1.85714286em;
    margin-top: 0.92857143em;
    margin-bottom: 0em;
}

h4,
.h4 {
    font-size: 1em;
    line-height: 1.52941176em;
    margin-top: 1.52941176em;
    margin-bottom: 0em;
}

h5,
.h5 {
    font-size: 1em;
    line-height: 1.52941176em;
    margin-top: 1.52941176em;
    margin-bottom: 0em;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0em;
    margin-bottom: 1.52941176em;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr,
.hr {
    border: 1px solid;
    margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
    line-height: 0;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

:link {
    color: $white;
    text-decoration: none;
}

:visited {
    color: $white;
}

// Import styles
@import 'nav';
@import 'home';