{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<main class="main">

    <div class="outer-container index">
        <div class="inner-container">
            <header class="post__header">
                <h1 class="post__title--serif">{{meta_title}}</h1>
            </header>

            <section class="grid-container-home">

                {{#foreach posts}}
                {{> "card"}}
                {{/foreach}}

            </section>

            {{pagination}}

        </div>
    </div>
</main>