*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a,
:link,
:visited {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding-inline-start: 2em;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
}
